<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="connString" connectionString="Data Source=10.110.1.77\MASK,59931;Initial Catalog=Analytics;User ID=connectWeb;Password=conn123$"/>
    <add name="AnalyticsEntities" connectionString="metadata=res://*/EDMX.Entity.csdl|res://*/EDMX.Entity.ssdl|res://*/EDMX.Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.110.1.77\MASK;initial catalog=Analytics;persist security info=True;user id=connectWeb;password=conn123$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="FileLocationSmithDrugs" value="L:\Asembia\AsmbTemp\smithDrugs\ARMADAERP20190405.TXT"/>
    <add key="FileLocationValueDrugs" value="L:\Asembia\AsmbTemp\valuedrugs\ARMADA061619"/>
    <add key="FileLocationCardinal" value="L:\Asembia\AsmbTemp\Cardinal\CSWJ8041_2019-06-22_00-43-05.txt"/>
    <add key="FileLocationDakota" value="L:\Asembia\AsmbTemp\\Dakota\dakotadrug20190622.txt"/>
    <add key="FileLocationAmerisource" value="L:\Asembia\AsmbTemp\\Amerisource\armada062119.txt"/>
    <add key="FileLocationNcMutual" value="L:\Asembia\AsmbTemp\\Nc Mutual\ARM.ALLCUSTS.190614"/>
    <add key="FileLocationBioCare" value="L:\Asembia\AsmbTemp\\BioCare\Asembia GPO Sales Report 17-Mar-2019 load.txt"/>
  </appSettings>
  
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>