.row {
    margin-left: 0px;
    margin-right: 0px;
}

#sidebar {
    background-color: #EAF3FF !important;
}

#wrapper {
    padding-left: 70px;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    height: 100%;
}

#sidebar-wrapper {
    margin-left: -180px;
    left: 30px;
    width: 230px;
    margin-top: 10px;
    background: #EAF3FF;
    position: fixed;
    height: 93%;
    z-index: 1000;
    transition: all .4s ease 0;
    overflow: scroll;
    
}


 .scroll_content {
    position: relative;
    width: 40px;
    height: 14px;
    top: -17px;
    padding: 0px 0px 0px 0px;
    overflow-y: auto;
}

    


    #sidebar-wrapper::-webkit-scrollbar {
        display: flex;
        height: 1em;
        width: .3em;
        margin: .1px;

    }


.sidebar-nav {
    display: block;
    float: left;
    list-style: none;
    margin: .1px;
    margin-bottom: 10px;
    padding: 0;
}



#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}

#wrapper.active {
    padding-left: 180px;
}

    #wrapper.active #sidebar-wrapper {
        left: 180px;
    }

#page-content-wrapper {
    width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #000000;
    display: block;
    float: left;
    text-decoration: none;
    width: 220px;
    background: #EAF3FF;
    border-bottom: 1px darkcyan;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}

.sidebar_name {
    padding-top: 25px;
    color:  #000000;
    -ms-opacity: .7;
    opacity: .7;
}

.sidebar-nav li {
    text-indent: 14px;
}

    .sidebar-nav li a {
        color: #000000;
        display: block;
        text-decoration: none;
    }

        .sidebar-nav li a:hover {
            color:  #000000;
            cursor: pointer;
            background: #3399FF;
            text-decoration: none;
        }

        .sidebar-nav li a:active,
        .sidebar-nav li a:focus {
            text-decoration: none;
        }

.sidebar-nav > .sidebar-brand {
    line-height: 60px;
    font-size: 20px;
}

    .sidebar-nav > .sidebar-brand a {
        color: black;
    }

        .sidebar-nav > .sidebar-brand a:hover {
            color: #000000;
            background: none;
        }

#main_icon {
    float: right;
    padding-right: 14px;
    padding-top: 20px;
}

.sub_icon {
    font-size: 13px !important;
    float: right;
    padding-right: 17px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.content-header {
    height: 65px;
    line-height: 65px;
}

    .content-header h1 {
        margin: 0;
        margin-left: 20px;
        line-height: 65px;
        display: inline-block;
    }

@media (max-width:767px) {
    #wrapper {
        padding-left: 70px;
        -webkit-transition: all .4s ease 0s;
        -moz-transition: all .4s ease 0s;
        -ms-transition: all .4s ease 0s;
        -o-transition: all .4s ease 0s;
        transition: all .4s ease 0s;
    }

    #sidebar-wrapper {
        left: 70px;
    }

    #wrapper.active {
        padding-left: 150px;
    }

        #wrapper.active #sidebar-wrapper {
            left: 150px;
            width: 150px;
            -webkit-transition: all .4s ease 0s;
            -moz-transition: all .4s ease 0s;
            -ms-transition: all .4s ease 0s;
            -o-transition: all .4s ease 0s;
            transition: all .4s ease 0s;
        }
}

.navbar-left {
    width: 100px;
    float:left;
    /*padding-left: 40px;
    padding-right: 20px;*/
    
    
}

    .navbar-left a img {
        margin-left: 174px;
    }

.sidebar-nav a:hover {
    background: #cc002c;
    background: -moz-linear-gradient(top, #cc002c 0%, #6d0019 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc002c), color-stop(100%,#6d0019));
    background: -webkit-linear-gradient(top, #cc002c 0%,#6d0019 100%);
    background: -o-linear-gradient(top, #cc002c 0%,#6d0019 100%);
    background: -ms-linear-gradient(top, #cc002c 0%,#6d0019 100%);
    background: linear-gradient(top, #cc002c 0%,#6d0019 100%);
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc002c', endColorstr='#6d0019',GradientType=0 );
    -moz-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc002c', endColorstr='#6d0019',GradientType=0 );
    -o-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc002c', endColorstr='#6d0019',GradientType=0 );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc002c', endColorstr='#6d0019',GradientType=0 );
}

.sub-menu li {
    color: #999;
    display: block;
    float: left;
    font-size: 92%;
    text-decoration: none;
    margin-left: -40px;
    width: 205px;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
    overflow: hidden;
}

#menu-toggle {
    width: 220px !important;
}

.allMenus li a {
    width: 220px;
}

.side-navbar-all-menu {
    /*width: 206px !important;*/
    font-size: 14px;
    background-color: #3D59AB;
}

.glyphicon {
    font-size: 18px;
}

.level_2 {
    padding-right: 9px;
}

.level_3 {
    padding-right: 18px;
}

.level_4 {
    padding-right: 27px;
}

.level_5 {
    padding-right: 36px;
}

.level_6 {
    padding-right: 45px;
}

.level_7 {
    padding-right: 54px;
}

.level_8 {
    padding-right: 63px;
}

.level_9 {
    padding-right: 72px;
}

.navbar-asa {
    background-color: #104E8B;
    color:  #fff !important;
    border-color: #104E8B;
    height: 60px;
}

.navbar-brand {
    color:  #000000 !important;
}

.navbar-inverse .navbar-nav > li > a {
    color:  #fff;
}
