<div class="panel panel-default panel-primary" ng-controller="supplierEditController">
    <div class="panel-heading panel-title">
        View Supplier
    </div>
    <fieldset ng-disabled="true">
    <div class="panel-body font-asa-11">
    <form angular-validator-submit="" name="editSupplierForm" class="form-horizontal" novalidate angular-validator>
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h6><i class="fa fa-asterisk required-icon"></i> Required Filed</h6>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
            <div class="form-inline">
                <label for="enlistmentDate" class="col-md-4 col-sm-12">
                    Entry Date<i class="fa fa-asterisk required-icon"></i>
                </label>
                <div tabindex="19" class="dropdown input-group date width-asa">
                    <a class="dropdown-toggle" id="enlistmentDate" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group date-input-group">
                            <input type="text"
                                   required
                                   date-time-input="DD-MM-YYYY"
                                   class="form-control-asa full-width-asa"
                                   ng-model="Supplier.EnlistmentDate"
                                   validate-on="dirty" disabled
                                   required-message="'Admission date field is required'">
                        </div>
                    </a>
                </div>
            </div>


            <div class="form-inline">
                <label for="SupplierId" class="col-md-4 col-sm-12">
                    ID<i class="fa fa-asterisk required-icon"></i>
                </label>
                <input tabindex="15"
                       type="text"
                       name="SupplierId"
                       class="form-control form-control-asa col-md-8 width-asa col-sm-12" id="SupplierId"
                       placeholder="Supplier Id"
                       disabled
                       ng-model="Supplier.SupplierId">
            </div>
            <div class="form-inline">
                <label for="Name" class="col-md-4 col-sm-12">
                    Name<i class="fa fa-asterisk required-icon"></i>
                </label>
                <input type="text" tabindex="17" name="Name" class="form-control form-control-asa col-md-8 width-asa col-sm-12" id="Name" placeholder="Name"
                       ng-model="Supplier.Name"
                       required-message="'Name field is required'"
                       required>
            </div>
            <div class="form-inline">
                <label for="country" class="col-md-4 col-sm-12">
                    Country<i class="fa fa-asterisk required-icon"></i>
                </label>
                <select tabindex="36"
                        class="form-control form-control-asa form-control-asa-select-box-padding col-md-8 width-asa col-sm-12"
                        id="country" ng-model="Supplier.Country"
                        ng-options="country as country for country in filters.CountryList"></select>
            </div>
            <div class="form-inline">
                <label for="PrimaryContactNumber" class="col-md-4 col-sm-12">
                    Contact Number<i class="fa fa-asterisk required-icon"></i>
                </label>
                <input type="text" tabindex="17" name="PrimaryContactNumber" class="form-control form-control-asa col-md-8 width-asa col-sm-12" id="PrimaryContactNumber" placeholder="Primary Contact Number"
                       ng-model="Supplier.OfficeContatctNumber"
                       required
                       required-message="'Please provide a contact number'">
            </div>
            <div class="form-inline">
                <label for="Email" class="col-md-4 col-sm-12">
                    Email
                </label>
                <input type="text" tabindex="17" name="Email" class="form-control form-control-asa col-md-8 width-asa col-sm-12" id="Email" placeholder="Email"
                       ng-model="Supplier.OfficeMail"/>

            </div>
            <div class="form-inline">
                <label for="TinNumber" class="col-md-4 col-sm-12">
                    TIN Number
                </label>
                <input type="text"
                       tabindex="17"
                       name="TinNumber"
                       class="form-control form-control-asa col-md-8 width-asa col-sm-12"
                       id="TinNumber"
                       placeholder="Tin Number"
                       ng-model="Supplier.TinNumber"/>

            </div>
            <div class="form-inline">
                <label for="VatRegNumber" class="col-md-4 col-sm-12">
                    VAT reg. Number
                </label>
                <input type="text" tabindex="17" name="Name" class="form-control form-control-asa col-md-8 width-asa col-sm-12" id="VatRegNumber" placeholder="Vat Reg.Number"
                       ng-model="Supplier.VatRegNumber"
                       validate-on="dirty">
            </div>
            <div class="form-inline">
                <label for="SupplierStatus" class="col-md-4 col-sm-12">
                    Status <i class="fa fa-asterisk required-icon"></i>
                </label>
                <select tabindex="36"
                        class="form-control form-control-asa form-control-asa-select-box-padding col-md-8 width-asa col-sm-12"
                        id="SupplierStatus" ng-model="Supplier.Status"
                        ng-options="status.Value as status.Name for status in filters.StatusList"></select>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
            <div class="form-inline">
                <label for="BranchId" class="col-md-4 col-sm-12">
                    Branch Name <i class="fa fa-asterisk required-icon"></i>
                </label>
                <input tabindex="15" type="text" name="BranchId"
                       class="form-control form-control-asa col-md-8 width-asa col-sm-12" id="BranchId"
                       ng-model="Supplier.BranchName"
                       disabled>
            </div>
            <div class="form-inline">
                <label for="Address" class="col-md-4 col-sm-12">
                    Address<i class="fa fa-asterisk required-icon"></i>
                </label>
                <textarea type="text" tabindex="16" name="Address"
                          class="form-control form-control-asa col-md-8 width-asa col-sm-12"
                          id="Address"
                          cols="5"
                          required
                          required-message="'Please provide an address'"
                          ng-model="Supplier.Address"></textarea>
            </div>
            <div class="form-inline">
                <label for="PostCode" class="col-md-4 col-sm-12">
                    Post Code/Zip code
                </label>
                <input type="text" tabindex="17" name="PostCode" class="form-control form-control-asa col-md-8 width-asa col-sm-12" id="PostCode" placeholder="PostCode"
                       ng-model="Supplier.PostCode"
                       validate-on="dirty">
            </div>
            <div class="form-inline">
                <label for="Fax" class="col-md-4 col-sm-12">
                    Fax
                </label>
                <input type="text" tabindex="18" name="Fax" class="form-control form-control-asa col-md-8 width-asa col-sm-12" id="Fax" placeholder="Fax"
                       ng-model="Supplier.OfficeFax"/>

            </div>
            <div class="form-inline">
                <label for="Website" class="col-md-4 col-sm-12">
                    Website
                </label>
                <input type="text" tabindex="19" name="Website" class="form-control form-control-asa col-md-8 width-asa col-sm-12" id="Website" placeholder="Website"
                       ng-model="Supplier.Website"/>

            </div>
            <div class="form-inline">
                <label for="vat-category" class="col-md-4 col-sm-12">
                    Vat Category
                </label>
                <select tabindex="19"
                        class="form-control form-control-asa form-control-asa-select-box-padding col-md-8 width-asa col-sm-12"
                        id="vat-category" ng-model="Supplier.VatCategory" 
                        ng-options="vc.Value as vc.Name for vc in filters.BranchList"></select>
            </div>
            <div class="form-inline">
                <label for="tax-category" class="col-md-4 col-sm-12">
                    Tax Category
                </label>
                <select tabindex="19"
                        class="form-control form-control-asa form-control-asa-select-box-padding col-md-8 width-asa col-sm-12"
                        id="tax-category" ng-model="Supplier.TaxCategory"
                        ng-options="tc.Value as tc.Name for tc in filters.BranchList"></select>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <label>
                    Is Supplier:
                </label>
                <input type="checkbox" ng-model="Supplier.IsSupplier"
                       ng-true-value="true" ng-false-value="false">

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <label>
                    Is Manufacturer:
                </label>
                <input type="checkbox" ng-model="Supplier.IsManufacturer"
                       ng-true-value="true" ng-false-value="false">

            </div>

        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <hr/>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-6">

        <div class="form-group">
            <label for="contacts" class="h4 h4-asa">Contact Persons</label>
        </div>

        <div class="form-group ">

            <table style="text-align: center" id="contacts">
                <thead>
                <tr>
                    <td> Contact Type</td>
                    <td> Name</td>
                    <td> Designation</td>
                    <td> MobileNumber</td>
                    <td> Email</td>

                </tr>

                </thead>
                <tbody>
                <!--<tr ng-repeat="person in contactPersons" ng-click="addNewRow()">
                    <td>
                        <textarea type="text" tabindex="19" name="Website" class="form-control form-control-asa col-md-12  col-sm-12" id="cName" placeholder="Name"
                                  ng-model="person.Name"></textarea>
                    </td>
                    <td>
                        <textarea type="text" tabindex="25" name="Website" class="form-control form-control-asa col-md-12 col-sm-12" id="Designation" placeholder="Designation"
                                  ng-model="person.Designation"></textarea>
                    </td>
                    <td>
                        <textarea type="text" tabindex="26" name="Website" class="form-control form-control-asa col-md-12  col-sm-12" id="MobileNumber" placeholder="MobileNumber"
                                  ng-model="person.MobileNumber"></textarea>
                    </td>
                    <td>
                        <textarea type="text" tabindex="27" name="Website" class="form-control form-control-asa col-md-12  col-sm-12" id="cEmail" placeholder="Email"
                                  ng-model="person.Email"></textarea>
                    </td>
                </tr>-->
                <tr>
                    <td>Primary Contact Detail</td>
                    <td>
                        <input type="text" maxlength="50" tabindex="19" name="PrimaryContactName" class="form-control form-control-asa col-md-12  col-sm-12" id="pName" placeholder="Name"
                               ng-model="Supplier.PrimaryContactName"
                               required
                               required-message="'Please provide a primary contact Name'">
                    </td>
                    <td>
                        <input type="text" maxlength="50" tabindex="25" name="PrimaryContactDesignation" class="form-control form-control-asa col-md-12 col-sm-12" id="pDesignation" placeholder="Designation"
                               ng-model="Supplier.PrimaryContactDesignation"
                               required
                               required-message="'Please provide a primary contact Designation'">
                    </td>
                    <td>
                        <input type="text" maxlength="50" tabindex="26" name="PrimaryContactNumber" class="form-control form-control-asa col-md-12  col-sm-12" id="pMobileNumber" placeholder="MobileNumber"
                               ng-model="Supplier.PrimaryContactNumber"
                               required
                               required-message="'Please provide a primary contact Number'">
                    </td>
                    <td>
                        <input type="text" maxlength="50" tabindex="27" name="PrimaryContactEmail" class="form-control form-control-asa col-md-12  col-sm-12" id="pemail" placeholder="Email"
                               ng-model="Supplier.PrimaryContactEmail">
                    </td>
                </tr>
                <tr>
                    <td>Secondary Contact Detail</td>
                    <td>
                        <input type="text" maxlength="50" tabindex="19" name="SecondaryContactName" class="form-control form-control-asa col-md-12  col-sm-12" id="cName" placeholder="Name"
                               ng-model="Supplier.SecondaryContactName">
                    </td>
                    <td>
                        <input type="text" maxlength="50" tabindex="25" name="SecondaryContactDesignation" class="form-control form-control-asa col-md-12 col-sm-12" id="Designation" placeholder="Designation"
                               ng-model="Supplier.SecondaryContactDesignation">
                    </td>
                    <td>
                        <input type="text" maxlength="50" tabindex="26" name="SecondaryContactNumber" class="form-control form-control-asa col-md-12  col-sm-12" id="MobileNumber" placeholder="MobileNumber"
                               ng-model="Supplier.SecondaryContactNumber">
                    </td>
                    <td>
                        <input type="text" maxlength="50" tabindex="27" name="SecondaryContactEmail" class="form-control form-control-asa col-md-12  col-sm-12" id="cEmail" placeholder="Email"
                               ng-model="Supplier.SecondaryContactEmail">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--file apatoto nai , but pore bolbe sure. tai comment out kore rakhlam-->
    <!--<div class="col-md-6 col-lg-6 col-sm-6">

        <div class="form-group" ng-hide="hasFiles">
            <label for="newDocs" class="h4 h4-asa">Documents Upload</label>
            <input ng-change="docSizeBoolChecker()" type="file" id="newDocs" class="uploadFile" accept=".jpg,.jpeg,.pdf" ngf-select ngf-keep="true" ng-model="files" ngf-multiple="true">
            <label style="padding-top: 5px; color: blue;">Please select Document or Image type files (Max File Size 3MB) </label>
            <label ng-show="docError" style="padding-top: 5px; color: red;">Total File Size Exceeded! (Max File Size 3MB. Selected Total File Size {{ (fileSize/(1024*1024)) |number:2 }}MB!)</label>

        </div>

        <div class="form-group ">

            <table style="text-align: center">
                <thead>
                <tr>
                    <td> Name</td>
                    <td> Size (Byte)</td>
                    <td> Action</td>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="file in files">
                    <td>
                        {{file.name}}
                    </td>
                    <td>
                        {{file.size }}
                    </td>
                    <td>
                        <i class="fa fa-times asa-icon-DELETE" ng-click="removefile(file,files,'name')"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>-->
    </div>

    <div ng-if="editSupplierForm.$valid === false &&  editSupplierForm.$dirty === true">
        <p class="form-validation-message">Validation failed, on or more required field is missing</p>
    </div>
    <button type="submit" tabindex="100" class="btn btn-primary">
        Submit
    </button>
    </form>
    </div>
</fieldset>
</div>