<div class="panel panel-default panel-primary" ng-controller="loanGroupInterchangeController">
    <div class="panel-heading panel-title">
        Interchange Group
    </div>
    <div class="panel-body font-asa-11">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12"></div>
            <div class="col-lg-8 col-md-8 col-sm-12">

                <div class="form-group">
                    <div class="form-inline">
                        <label for="interchangeDate" class="col-md-4 col-sm-12">
                            Interchange Date<i class="fa fa-asterisk required-icon"></i>
                        </label>

                        <div class="form-control form-control-asa form-control-asa-select-box-padding width-asa col-md-8 col-sm-12">

                            <div class="input-group date-input-group">

                                <input type="text" id="interchangeDate" name="interchangeDate" readonly="readonly" date-time-input="DD-MM-YYYY" 
                                       class="form-control-asa full-width-asa" ng-model="interchagedGroups.InterchangeDate"
                                       is-open="false" required >

                            </div>
                          </div>
                        </div>

                    <div class="form-inline">
                        <label for="fromOfficer" class="col-md-4 col-sm-12">
                            From Loan Officer <i class="fa fa-asterisk required-icon"></i>
                        </label>
                        <select tabindex="9"
                                class="form-control form-control-asa form-control-asa-select-box-padding width-asa col-md-8 col-sm-12"
                                id="fromOfficer" ng-model="fromOfficer"
                                name="fromLoanOfficer"
                                ng-change="disableSameId('from')"
                                ng-options="loanOfficer as loanOfficer.fullName  for loanOfficer in fromLoanOfficers"></select>
                    </div>
                    <div class="form-inline">
                        <label for="toOfficer" class="col-md-4 col-sm-12">
                            To Loan Officer<i class="fa fa-asterisk required-icon"></i>
                        </label>
                        <select tabindex="9"
                                class="form-control form-control-asa form-control-asa-select-box-padding width-asa col-md-8 col-sm-12"
                                id="toOfficer" ng-model="toOfficer"
                                name="toLoanOfficer"
                                ng-change="disableSameId('to')"
                                ng-options="loanOfficer as loanOfficer.fullName for loanOfficer in toLoanOfficers"></select>
                    </div>

                    <div class="form-inline">
                        <label for="toOfficer" class="col-md-4 col-sm-12">
                            Interchange Note
                        </label>

                        <textarea type="text" tabindex="10" name="notes"
                                  class="form-control form-control-asa form-control-asa-select-box-padding width-asa col-md-8 col-sm-12"
                                  id="notes" placeholder="Notes"
                                  ng-model="interchagedGroups.Notes"></textarea>
                       
                    </div>

                    <div class="form-inline pull-right">
                        <button class="btn btn-primary interchange" ng-click="insertIntoChangeList()">Assign</button>
                    </div>


                    <div class="form-inline" id="group-table">
                        <table class="betaIchange">
                            <thead>
                            <tr>
                                <th>From Loan Officer</th>
                                <th>To Loan Officer</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr ng-repeat="officer in interchange.fromOfficerList">
                                <td>{{officer.fullName}}</td>
                                <td>{{interchange.toOfficerList[interchange.fromOfficerList.indexOf(officer)].fullName}}</td>
                                <td><a><i class="fa fa-times asa-icon-DELETE " aria-hidden="true" ng-click="remove(officer.Value)"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div ng-if="!cycleComplete">
                <p class="form-validation-message">Cycle is not complete. please complete Cycle</p>
            </div>
            <!--<div ng-if="!isThirtyFirstToday">
                <p class="form-validation-message">Groups can be interchanged only on 31st December!</p>
            </div>-->
            
            <div class="col-lg-2 col-md-2 col-sm-12"></div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <!--|| !isThirtyFirstToday"--> 
                <button type="submit" tabindex="100" ng-disabled="!cycleComplete "

                        ng-click="interchangeGroups()" class="btn btn-primary pull-right">
                    Submit
                </button>
            </div>
        </div>
            
    </div>
</div>
