@model ArmadaReports.Web.Models.HomeIndexViewModel

<form class="form-inline text-center" id="headerForm" style="margin-top:20px;">
    <label>Select Pharmacy:</label>
    <select id="pharmacies" name="pharmacyId" class="input-xm form-control" style="width:200px;"></select> &nbsp; &nbsp;
    <label>Select Program(s):</label>
    @Html.DropDownListFor(x => x.programs, Model.ProgramsList, new { multiple = "multiple" })
    &nbsp;&nbsp;
    <input value="Submit" type="button" onclick="SubmitButtonClick()" class="btn btn-primary" />
</form>
<br />
<script>

    $(document).ready(function () {
        loadPharmacies();
        $("#programs").multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            nonSelectedText: "All Programs",
            nSelectedText: "All Programs",
            maxHeight: 400
        });
     });

    function loadPharmacies() {
        var url = '@Url.Action("AjaxGetPharmacies", "Scorecard")';
        $.ajax({
            url: url,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                var items = "";
                if (result.length > 1)
                     items = "<option value='-1'>All Pharmacies</option>";
                $.each(result, function (index, item) {
                    items += "<option value='" + item.ID + "'>" + item.Name + "</option>";
                });
                $("#pharmacies").html(items);               
                //$('select[id=pharmacies] option:eq(1)').attr('selected', 'selected');
                LoadPrograms();
            }
        });
    }

    function LoadPrograms() {
        var PharmacyId = $("#pharmacies").val();
        var url = "@Url.Action("AjaxGetPrograms", "Scorecard")?PharmacyId=" + PharmacyId;
        $.ajax({
            url: url,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $(".form-inline").block();
            },
            success: function (result) {
                var items = "";
                $.each(result, function (index, item) {
                    items += "<option value='" + item.ProgramName + "'>" + item.ProgramName + "</option>";
                });
                $("#programs").html(items);
                $("#programs").multiselect("rebuild");
                SubmitButtonClick();               
            },
            complete: function () {
                $(".form-inline").unblock();
            },
        });
    }

    $("#pharmacies").change(function () {
        LoadPrograms();
    });

    function SubmitButtonClick()
    {      
        GetReferralsVsTimeToFill();
        var dateType = $(".PharmacyScorecardPanel .rptDateType .active").attr("data-value");
        GetPharmacyScorecardReport();
        var filterType = $(".PharmacyScorecardPeriodPanel input[name=FilterType]:checked").val();
        GetPharmacyScorecardReportPeriod(filterType);
    }

</script>