@model ArmadaReports.Web.Models.HomeIndexViewModel

<script src="~/Content/bootstrap-mutiselect/js/bootstrap-multiselect.js"></script>
<link href="~/Content/bootstrap-mutiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
<style>
    .multiselect-container {
        text-align: left !important;
    }

    .dropdown-menu {
        z-index: 1001 !important;
    }
</style>

<div class="row row-margin">
    @Html.Partial("_partialHomeIndexHeader", Model)
    <div class="clearfix"></div>   
    @Html.Partial("_PartialReferralsVsTimeToFill")   
    <div class="clearfix"></div>
    @Html.Partial("PharmacyScoreCard")
    <div class="clearfix"></div>
    @Html.Partial("PharmacyScoreCardPeriod")
    <div class="clearfix"></div>   
</div>

<script>
    function digits(number) {
        if (number != null) {
            var n = number.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
            return n;
        }
        return number;
    }
</script>