<div class="col-md-12">
    <div class="panel panel-primary PharmacyScorecardPeriodPanel ">
        <div class="panel-heading">
            <h3 class="panel-title">Weekly & Monthly Performance</h3>
        </div>
        <div class="panel-body" style="padding: 10px !important;">
            <table style="display:none;">
                <tr>
                    <td style="font-weight:bold;">Filter By Program:</td>&nbsp;
                    <td style="padding-left:10px;">
                        <select id="programsPeriod" name="program" class="input-xm form-control" style="width:150px;"></select>
                    </td>
                </tr>
            </table>
            <div class="form-inline text-right" style="margin-top:-20px;">
                <div class="checkbox">
                    <label>
                        <span class="radioSpan">
                            <input type="radio" value="w" checked="checked" name="FilterType" title="Weekly">
                        </span><span title="Weekly" style="font-family:Helvetica!important;font-weight:bold;font-size:12px;">Weekly</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <span class="radioSpan">
                            <input type="radio" value="m" name="FilterType" title="Monthly">
                        </span>
                        <span title="Monthly" style="font-family:Helvetica!important;font-weight:bold;font-size:12px;">Monthly</span>
                    </label>
                </div>
            </div>
            <div id="PharmacyScorecardReportPeriod" style="width:100%;min-height:310px;margin-top:10px;">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

   $(".PharmacyScorecardPeriodPanel input[name=FilterType]").on("change", function () {
        var filterType = $(".PharmacyScorecardPeriodPanel input[name=FilterType]:checked").val();
        GetPharmacyScorecardReportPeriod(filterType);
    });

    function GetPharmacyScorecardReportPeriod(filterType) {
        var formData = $("#headerForm").serialize();
        var url = '@Url.Action("AjaxGetPharmacyScorecardReportPeriod", "Scorecard")?&&FilterType=' + filterType + "&&" + formData;
        $.ajax({
            url: url,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $(".PharmacyScorecardPeriodPanel").block();
            },
            success: function (result) {
                $("#PharmacyScorecardReportPeriod").html(result);
            },
            complete: function () {
                $(".PharmacyScorecardPeriodPanel").unblock();
            },
            error: function () {
                $("#PharmacyScorecardReportPeriod").html('No data available in table.');
                $(".PharmacyScorecardPeriodPanel").unblock();
            }
        });
    }

</script>