<div class="col-md-12">
    <div class="panel panel-primary PharmacyScorecardPanel ">
        <div class="panel-heading">
            <h3 class="panel-title">Performance Comparison</h3>
        </div>
        <div class="panel-body" style="padding: 10px !important;">
            <table style="display:none;">
                <tr>
                    <td style="font-weight:bold;">Filter By Program:</td>&nbsp;
                    <td style="padding-left:10px;">
                        <select id="programs" name="program" class="input-xm form-control" style="width:150px;"></select>
                    </td>
                </tr>
            </table>
            <div class="panel-footer text-center" style="background-color:#ffffff!important;margin-left:-10px;border-top:none!important;display:none;">
                <div class="btn-group btn-group-xs rptDateType" role="group" aria-label="...">
                    <button type="button" onclick="getScoreCardByDateType(this);" data-value="thisweek" class="btn btn-primary btn-dateRange">Current Week</button>
                    <button type="button" onclick="getScoreCardByDateType(this);" data-value="lastweek" class="btn btn-primary btn-dateRange">Last Week</button>
                    <button type="button" onclick="getScoreCardByDateType(this);" data-value="currentmonth" class="btn btn-primary btn-dateRange">Current Month</button>
                    <button type="button" onclick="getScoreCardByDateType(this);" data-value="lastmonth" class="btn btn-primary btn-dateRange">Last Month</button>
                    <button type="button" onclick="getScoreCardByDateType(this);" data-value="ytd" class="btn btn-primary btn-dateRange active">YTD</button>
                </div>
            </div>
            <div id="PharmacyScorecardReport" style="width:100%;min-height:310px;margin-top:10px;">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#programs").change(function () {
        GetPharmacyScorecardReport();
    });

    function GetPharmacyScorecardReport() {
        var formData = $("#headerForm").serialize();

        var url = '@Url.Action("AjaxGetPharmacyScorecardReport", "Scorecard")?' + formData + "&Pharmacy=" + $("#pharmacies option:selected").text();
        $.ajax({
            url: url,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $(".PharmacyScorecardPanel").block();
            },
            success: function (result) {
                $("#PharmacyScorecardReport").html(result);
            },
            complete: function () {
                $(".PharmacyScorecardPanel").unblock();
            },
            error: function () {
                $("#PharmacyScorecardReport").html('No data available in table.');
                $(".PharmacyScorecardPanel").unblock();
            }
        });
    }

</script>