.panel-primary > .panel-heading {
    color: #fff !important;
    background-color: #292a3a !important;
    border-color: #292a3a !important;
}
.chart-container {
    margin: 10px 10px;
    height: 210px;
    width: 90%;
}

.btn-group-container {
    text-align: center;
    width: 93%;
    /*position: absolute;
    bottom: 5px;*/
}

.btn-group-container-d {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.btn-selected {
    color: #fff !important;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
}

.custom-btn-group {
    font-size: 12px;
    padding: 4px 4px !important;
}

/*.btn-primary {
    color: #fff;
    background-color: #0099ff;
    border-color: #1f78b4;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #1f78b4;
    border-color: #409ad5;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1f78b4;
    border-color: #409ad5;
}*/



table.aspn-table {
    margin-top: 12px;
    background-color: #fff;
}

/*table.aspn-table thead tr:first-child {
    border-right: 15px solid #F1F1F1;
}*/

/*table.aspn-table thead tr {
    border-right: 15px solid #d9edf7;
}*/

table.aspn-table thead tr:first-child th {
    font-size: 20px;
    background-color: #F1F1F1;
    text-align: center;
}

table.aspn-table thead tr:first-child th:first-child {
    font-size: 20px;
    text-align: center;
}

table.aspn-table thead tr th {
    font-size: 14px;
    font-weight: bold;
    /*background-color: #d9edf7;*/
    text-align: center;
    border: 0px;
}

table.aspn-table thead tr th:first-child {
    font-size: 16px;
    text-align: left;
}

table.aspn-table tbody tr td {
    font-size: 14px;
    text-align: left;
    background: #F1F1F1;
    border: 0px;
    border-right: 5px solid #fff;
    text-align: center;
    width: 10%
}

.custom-table.w6 table.aspn-table tbody tr td { width: 6%}

table.aspn-table tbody tr td:first-child {
    background-color: #F1F1F1;
    width: 20%;
    text-align: left
}

.custom-table table.aspn-table tbody tr:last-child td.total {
    font-size: 14px;
    font-weight: bold;
    text-align: center;        
    border: 0
}

.custom-table table.aspn-table tbody tr:last-child td:first-child, 
.custom-table table.aspn-table tbody tr:last-child td.total4,
.custom-table table.aspn-table tbody tr:last-child td.total8,
.custom-table table.aspn-table tbody tr:last-child td:last-child{
    border-right: 5px solid #fff
}

.custom-table table.aspn-table tbody tr.total-row td {
    background-color: #CBCBCB
}

.custom-table table.aspn-table tbody tr.total-row td span {
    background-color: #d3d3d3
}

/*
.custom-table table.aspn-table tbody tr:last-child td.total-border {
    border-left: 5px solid #fff
}*/

.custom-table table.aspn-table thead tr {
    border-bottom: 5px solid #fff;    
}

.custom-table table.aspn-table thead tr th {
    border-right: 5px solid #fff;    
}

.hub-table-container {
    max-height: 600px;
    width: 100%;
    overflow-y: scroll;
}

.non-pad-col {
    padding-right: 1px !important;
    padding-left: 0 !important;
}

.padding-left-15 {padding-left:15px}

.custom-table table.aspn-table thead th.th-col3, .custom-table table.aspn-table thead th.th-col4, .custom-table table.aspn-table thead th.th-col5,
.custom-table table.aspn-table thead th.th-col8, .custom-table table.aspn-table thead th.th-col9, .custom-table table.aspn-table thead th.th-col10,
.custom-table table.aspn-table thead th.th-col13, .custom-table table.aspn-table thead th.th-col14, .custom-table table.aspn-table thead th.th-col15,
.custom-table table.aspn-table .col1, .custom-table table.aspn-table .col2, .custom-table table.aspn-table .col3,
.custom-table table.aspn-table .col5, .custom-table table.aspn-table .col6, .custom-table table.aspn-table .col7,
.custom-table table.aspn-table .col9, .custom-table table.aspn-table .col10, .custom-table table.aspn-table .col11
{ border-right: 0}
.custom-table table.aspn-table tr td {padding: 0}
.custom-table table.aspn-table tr th {padding: 8px}
.custom-table table.aspn-table tr td span { display: block; padding: 8px; background: #fff; width: 70%; margin: 0 auto}
.custom-table table.aspn-table tr td:first-child {
    padding: 8px
}



#expirationReport table.aspn-table tbody tr td, #expirationReportDetail table.aspn-table tbody tr td {text-align: center}
#expirationReportDetail table.aspn-table tbody tr:last-child td {font-weight: normal}

div#expirationReportDetail, div#pharmacyInventoryReportDetail, div#wholesalerInventoryReportDetail {
    margin-top: 130px;
}