.dropdown-button-asa {
    -moz-user-select: none;
    -ms-touch-action: manipulation;
    -ms-user-select: none;
    -webkit-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-color: #dbb375;
    border-radius: 4px;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    height: 24px;
    line-height: 1.42857143;
    margin: 0;
    padding: 0 16px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}