.box {
    background-color: #EAF3FF;
    -ms-border-radius: 1px;
    border-radius: 1px;
    display: inline-block;
    font-size: 12px;
    height: 8vh;
    margin: 10px 0 10px 5px;
    width: 30vh;
}

    .box div span:hover {
        font-size: 16px !important;
    }

.dropdown-extra-tab {
    background-color: #f4f7d5;
    left: -881%;
    top: 119%;
    width: 333px;
}

.extra-tab-single-content {
    border: 1px solid;
    border-color: #000 !important;
    padding: 0;
}

    .extra-tab-single-content:hover {
        background-color: #faebb7 !important;
    }

.extra-tabs, .times-icon-style {
    float: right;
}

.fa-fa-center {
    text-align: center;
}

.nav-tabs {
    border-bottom: 0 !important;
}

    .nav-tabs > li > a:hover {
        background-color: #aed3f0;
        border-color: red #000 #000;
    }

    .nav-tabs li a {
        border-left-color: #000;
        border-right-color: #000;
        border-top-color: #000;
        color: #000;
        margin: -1px;
    }

.property-float-left {
    float: left;
}

.tab-content {
    background-color: #EAF3FF;
    min-height: 500px;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;
}

    .tab-content::-webkit-scrollbar {
        display: flex;
        height: 1em;
        width: .4em;
    }

    .tab-content::-webkit-scrollbar-thumb {
        -ms-border-radius: .5em;
        background-color: #ddd;
        border-radius: .5em;
    }

    .tab-content:hover {
        overflow: auto;
    }

.text {
    color: #000;
    font-size: 12px !important;
    font-weight: 700;
    height: 6vh;
    overflow-wrap: break-word;
    padding: 0;
    white-space: normal;
    word-wrap: break-word;
}

.icon-cross:hover {
    cursor: pointer;
}

.coa-content {
    width: 98%;
    max-height: 500px;
    overflow: auto;
    padding-right: 5px;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

    .coa-content::-webkit-scrollbar {
        display: flex;
        height: 1em;
        width: .4em;
    }

    .coa-content::-webkit-scrollbar-thumb {
        -ms-border-radius: .5em;
        background-color: #ddd;
        border-radius: .5em;
    }

.ledger-table-content {
    min-height: 500px !important;
    margin-top: 20px;
    border-top: 1px dashed gray;
}

.coa-arrow-div {
    float: left;
}

    .coa-arrow-div i {
        font-size: 18px;
        cursor: pointer;
        color: #104E8B;
    }

        .coa-arrow-div i:hover {
            color: #8b1070;
        }

    .coa-arrow-div label {
        margin: 5px;
    }
