<div id="widget-panel-4" class="col-lg-8 col-md-8 col-sm-12 non-pad-col">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 id="ml-title" class="panel-title">Referral by Week</h4>
            <img src="~/Content/images/expand-icon.png" class="details-icon" onclick="popup.showMl()"/>
        </div>
        <div class="panel-body panel-body-height">
            <div class="form-inline">
                <div class="form-group" style="display: none;">
                    <label for="treatment-ml">Treatment:</label>
                    <select id="treatment-ml" class="form-control form-control-height" onchange="service.getReferralSummaryByWeek() ">
                        <option value="All">All</option>
                        <option value="Unknown">Unknown</option>
                    </select>
                </div>
                <img id="loading-ml" src="~/Content/images/loading_blue_lg.gif" style="height: 30px; width: 30px; display: none; z-index: 200; position: absolute; top: 45px; left: 10px;" />
            </div>
            <div class="table-cotainer table-cotainer-margin">
                <label id="ccc" style="margin-left: 10px;"></label>
                <label id="pb" style="margin-left: 10px;"></label>
                <div class="form-inline" style="margin-left:-75px;margin-bottom:10px;">
                    <label class="details-filter-label" for="year">Insurance Type :</label>
                    <select id="select-filter-insurance-type" class="form-control form-control-height" onchange="service.getReferralSummaryByWeek();">
                        @*@for (var i = 2012; i <= DateTime.Today.Year; i++)
                        {
                            <option value="@i">@i</option>
                        }*@
                    </select>
                </div>
                <table id="m-m-table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td style="width: 145px;">Program Status</td>
                            <td>Total HUB Referrals</td>
                            <td>% Total</td>
                            <td>This Week</td>
                            <td>Last Week</td>
                            <td>Two Weeks Ago</td>
                            <td>Three Weeks Ago</td>
                            <td>Four or More Weeks Ago</td>
                            <td>QTD</td>
                            <td>YTD</td>
                            <td>This Week %</td>
                            <td>Last Week %</td>
                            <td>Two Weeks Ago %</td>
                            <td>Three Weeks Ago %</td>
                            <td>Four or More Weeks Ago %</td>
                            <td>QTD %</td>
                            <td>YTD %</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="widget-panel-5" class="col-lg-4 col-md-4 col-sm-12 non-pad-col">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 id="mr-title" class="panel-title">Referral by Physician State</h4>
            <img src="~/Content/images/expand-icon.png" class="details-icon" onclick="popup.showMr()"/>
        </div>
        <div class="panel-body panel-body-height">
            <div class="form-inline">
                <div class="form-group" style="display: none;">
                    <label for="treatment-mr">Treatment:</label>
                    <select id="treatment-mr" class="form-control form-control-height" onchange="service.getPorgramMaps()">
                        <option value="All">All</option>
                        <option value="Unknown">Unknown</option>
                    </select>
                </div>
                <img id="loading-mr" src="~/Content/images/loading_blue_lg.gif" style="height: 30px; width: 30px; display: none; z-index: 200; position: absolute; top: 45px; left: 10px;" />
            </div>
            <div style="width: 100%">
                <div id="usmap" class="map-container"></div>
                <div class="map-legend-div">
                    <table>
                        <tr id="mr-tr-limit-1">
                            <td>
                                <div class="box-div bg1-5"></div>
                            </td>
                            <td id="mr-limit-1"></td>
                        </tr>
                        <tr id="mr-tr-limit-2">
                            <td>
                                <div class="box-div bg6-10"></div>
                            </td>
                            <td id="mr-limit-2"></td>
                        </tr>
                        <tr id="mr-tr-limit-3">
                            <td>
                                <div class="box-div bg11-15"></div>
                            </td>
                            <td id="mr-limit-3"></td>
                        </tr>
                        <tr id="mr-tr-limit-4">
                            <td>
                                <div class="box-div bg16-20"></div>
                            </td>
                            <td id="mr-limit-4"></td>
                        </tr>
                        <tr id="mr-tr-limit-5">
                            <td>
                                <div class="box-div bg21-25"></div>
                            </td>
                            <td id="mr-limit-5"></td>
                        </tr>
                        <tr id="mr-tr-limit-6">
                            <td>
                                <div class="box-div bg26-above"></div>
                            </td>
                            <td id="mr-limit-6"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="mr-map-title" class="map-title"></div>
            <div class="btn-group-container">
                <div id="bg-mr" class="btn-group dropup" role="group" aria-label="">
                    <button type="button" data-date="today" class="btn btn-primary custom-btn-group btn-selected" onclick="utility.dateBtnClick('bg-mr', this, service.getPorgramMaps)">Today</button>
                    <button type="button" data-date="yesterday" class="btn btn-primary custom-btn-group not-for-cipher" onclick="utility.dateBtnClick('bg-mr', this, service.getPorgramMaps)">Yesterday</button>
                    <button type="button" data-date="thisweek" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('bg-mr', this, service.getPorgramMaps)">This Week</button>
                    <button type="button" data-date="lastweek" class="btn btn-primary custom-btn-group not-for-cipher" onclick="utility.dateBtnClick('bg-mr', this, service.getPorgramMaps)">Last Week</button>
                    <button type="button" data-date="currentmonth" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('bg-mr', this, service.getPorgramMaps)">Current Month</button>
                    <button type="button" data-date="lastmonth" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('bg-mr', this, service.getPorgramMaps) ">Last Month</button>
                    <button type="button" data-date="qtd" class="btn btn-primary custom-btn-group for-cipher" onclick="utility.dateBtnClick('bg-mr', this, service.getPorgramMaps)">Calendar QTD</button>
                    <button type="button" data-date="ytd" class="btn btn-primary custom-btn-group for-cipher" onclick="utility.dateBtnClick('bg-mr', this, service.getPorgramMaps)">Calendar YTD</button>

                    <button style="border-radius: 0px;" id="btn-qtd-mr" type="button" data-date="qtd" class="btn btn-primary dropdown-toggle custom-btn-group not-for-cipher" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        QTD<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu qtd-dropdown">
                        <li><a href="javascript:void(0)" onclick="utility.qtdDateBtnClick('bg-mr', 'btn-qtd-mr', 'qtd5', service.getPorgramMaps, this)">QTR5</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0)" onclick="utility.qtdDateBtnClick('bg-mr', 'btn-qtd-mr', 'qtd4', service.getPorgramMaps, this)">QTR4</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0)" onclick="utility.qtdDateBtnClick('bg-mr', 'btn-qtd-mr', 'qtd3', service.getPorgramMaps, this)">QTR3</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0)" onclick="utility.qtdDateBtnClick('bg-mr', 'btn-qtd-mr', 'qtd2', service.getPorgramMaps, this)">QTR2</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0)" onclick="utility.qtdDateBtnClick('bg-mr', 'btn-qtd-mr', 'qtd1', service.getPorgramMaps, this)">QTR1</a></li>
                    </ul>

                    <button type="button" data-date="ytd" class="btn btn-primary custom-btn-group not-for-cipher" onclick="utility.dateBtnClick('bg-mr', this, service.getPorgramMaps)">YTD</button>
                    @*<button type="button" data-date="allreferrals" class="btn btn-primary custom-btn-group not-for-cipher" onclick="utility.dateBtnClick('bg-mr', this, service.getPorgramMaps)">24 Months</button>*@
                </div>
            </div>
        </div>
    </div>
</div>
