<script src="~/Scripts/jquery-ui.js"></script>
<div class="row row-margin">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
        <img id="program-loadidng" src="~/Content/images/loading_blue_lg.gif" style="top: -38%; left: 40%; position: absolute; z-index: 2000; display: none;" />
        <img id="c-program-loadidng" src="~/Content/images/loading_blue_lg.gif" style="top: -38%; left: 88%; position: absolute; z-index: 2000; display: none;" />
        <div class="form-inline">
            <div class="form-group">
                <label for="admin-program">Select Hub Program:</label>
                <select id="admin-program" class="form-control form-control-height" onchange="adminService.reload()"></select>
                <i class="fa fa-refresh refresh-icon" title="refresh programs" onclick="adminService.refreshPrograms()"></i>

                <label style="margin-left: 66px;" for="admin-t-program">Select Target Program:</label>
                <select id="admin-t-program" class="form-control form-control-height"></select>
                <i class="fa fa-copy refresh-icon" title="copy configurations" onclick="adminService.copyProgramPreference()"></i>
            </div>
        </div>
    </div>
    @*<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-inline">
                <div class="form-group">

                </div>
            </div>
        </div>*@
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
        <img id="panel-loadidng" src="~/Content/images/loading_blue_lg.gif" style="top: 82%; left: 60%; position: absolute; z-index: 2000; display: none;" />
        <div class="panel panel-primary">
            <div class="panel-heading" style="cursor:pointer;" data-toggle="collapse" data-target="#panel-configuration" aria-expanded="true">Panel Configuration</div>
            <div class="panel-body collapse" id="panel-configuration">
                <div style="text-align: center; margin-bottom: 10px;">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.selectAll('panel-select')">Select All</button>
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.deselectAll('panel-select')">Deselect All</button>
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.refreshPanels()">Refresh</button>
                    </div>
                </div>
                <select multiple="multiple" id="panel-select" name="panel-select[]"></select>
                <div style="text-align: center; margin-bottom: 10px;">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.selectAll('panel-pmgr-select')">Select All</button>
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.deselectAll('panel-pmgr-select')">Deselect All</button>
                    </div>
                </div>
                <select multiple="multiple" id="panel-pmgr-select" name="panel-pmgr-select[]"></select>
                <div style="text-align: center; margin-bottom: 10px;">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.selectAll('panel-dmgr-select')">Select All</button>
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.deselectAll('panel-dmgr-select')">Deselect All</button>
                    </div>
                </div>
                <select multiple="multiple" id="panel-dmgr-select" name="panel-dmgr-select[]"></select>
                <div style="text-align: center; margin-bottom: 10px;">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.selectAll('panel-srep-select')">Select All</button>
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.deselectAll('panel-srep-select')">Deselect All</button>
                    </div>
                </div>
                <select multiple="multiple" id="panel-srep-select" name="panel-srep-select[]"></select>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                    <div id="panel-message" class="alert-hide alert alert-success alert-dismissible fade in" role="alert">
                        <strong>Panel Configuration Saved Successfully!</strong>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <button class="btn btn-primary btn-block" onclick="adminService.savePanels()">Save</button>
                </div>
            </div>
            @*<div class="panel-footer"></div>*@
        </div>
    </div>
</div>

<div class="row" style="margin-top: 10px;">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
        <img id="field-loading" src="~/Content/images/loading_blue_lg.gif" style="top: 82%; left: 60%; position: absolute; z-index: 2000; display: none;" />
        <div class="panel panel-primary">
            <div class="panel-heading" style="cursor:pointer;" data-toggle="collapse" data-target="#details-field-configuration" aria-expanded="true">Details Field Configuration</div>
            <div class="panel-body collapse" id="details-field-configuration">
                <div style="text-align: center; margin-bottom: 10px;">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.selectAll('field-select')">Select All</button>
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.deselectAll('field-select')">Deselect All</button>
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.refreshFileds()">Refresh</button>
                    </div>
                </div>
                <select multiple="multiple" id="field-select" name="field-select[]"></select>
                <div style="text-align: center; margin-bottom: 10px;">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.selectAll('field-pmgr-select')">Select All</button>
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.deselectAll('field-pmgr-select')">Deselect All</button>
                    </div>
                </div>
                <select multiple="multiple" id="field-pmgr-select" name="field-pmgr-select[]"></select>
                <div style="text-align: center; margin-bottom: 10px;">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.selectAll('field-dmgr-select')">Select All</button>
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.deselectAll('field-dmgr-select')">Deselect All</button>
                    </div>
                </div>
                <select multiple="multiple" id="field-dmgr-select" name="field-dmgr-select[]"></select>
                <div style="text-align: center; margin-bottom: 10px;">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.selectAll('field-srep-select')">Select All</button>
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.deselectAll('field-srep-select')">Deselect All</button>
                    </div>
                </div>
                <select multiple="multiple" id="field-srep-select" name="field-srep-select[]"></select>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                    <div id="field-message" class="alert-hide alert alert-success alert-dismissible fade in" role="alert">
                        <strong>Details Field Configuration Saved Successfully!</strong>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <button class="btn btn-primary btn-block" onclick="adminService.saveFields()">Save</button>
                </div>
            </div>
            @*<div class="panel-footer"></div>*@
        </div>
    </div>
</div>

<div class="row" style="margin-top: 10px;">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
        <img id="report-loadidng" src="~/Content/images/loading_blue_lg.gif" style="top: 82%; left: 60%; position: absolute; z-index: 2000; display: none;" />
        <div class="panel panel-primary">
            <div class="panel-heading" style="cursor:pointer;" data-toggle="collapse" data-target="#report-configuration" aria-expanded="true">Report Configuration</div>
            <div class="panel-body collapse" id="report-configuration">
                <div style="text-align: center; margin-bottom: 10px;">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.selectAll('report-select')">Select All</button>
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.deselectAll('report-select')">Deselect All</button>
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.refreshReports()">Refresh</button>
                    </div>
                </div>
                <select multiple="multiple" id="report-select" name="report-select[]"></select>
                <div style="text-align: center; margin-bottom: 10px;">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.selectAll('report-pmgr-select')">Select All</button>
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.deselectAll('report-pmgr-select')">Deselect All</button>
                    </div>
                </div>
                <select multiple="multiple" id="report-pmgr-select" name="report-pmgr-select[]"></select>
                <div style="text-align: center; margin-bottom: 10px;">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.selectAll('report-dmgr-select')">Select All</button>
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.deselectAll('report-dmgr-select')">Deselect All</button>
                    </div>
                </div>
                <select multiple="multiple" id="report-dmgr-select" name="report-dmgr-select[]"></select>
                <div style="text-align: center; margin-bottom: 10px;">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.selectAll('report-srep-select')">Select All</button>
                        <button type="button" class="btn btn-primary" onclick="adminWrapper.deselectAll('report-srep-select')">Deselect All</button>
                    </div>
                </div>
                <select multiple="multiple" id="report-srep-select" name="report-srep-select[]"></select>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                    <div id="report-message" class="alert-hide alert alert-success alert-dismissible fade in" role="alert">
                        <strong>Report Configuration Saved Successfully!</strong>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <button class="btn btn-primary btn-block" onclick="adminService.saveReports()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#send-mail-id').hide();
        service.getExportUrl('nav-home', '/Home/Index');
        adminService.getPrograms();
    });
</script>
