.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

body {
    background-color: #fff;
    padding-bottom: 20px;
    padding-top: 50px;
}

.loading-icon {
    /*display: none;*/
    left: 45%;
    position: fixed;
    top: 40%;
    z-index: 2000;
}

.workingday-loading-icon {
    left: 47%;
    position: fixed;
    top: 60%;
}

.workingday-loading-div {
    display: none;
    opacity: 0.7;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 20000;
    top: 0;
    left: 0;
    position: fixed;
}

    .workingday-loading-div h3 {
        text-align: center;
        top: 17%;
        left: 35%;
        position: absolute;
        color: #fff;
    }

.required-icon {
    color: #ff0000;
    font-size: 8px !important;
    padding-left: 5px;
}

.asa-heading {
    margin-top: 20%;
    text-align: center;
}

    .asa-heading h3 {
        color: #104E8B;
    }

        .asa-heading h3 strong {
            color: #6BAB3C;
        }

            .asa-heading h3 strong a {
                color: #6BAB3C;
            }

            .asa-heading h3 strong.amms-heading {
                color: #42A72A !important;
            }

    .asa-heading div {
        color: #104E8B;
        font-size: 15px;
    }

.calendar-content {
    height: 350px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 10px;
}

    .calendar-content::-webkit-scrollbar {
        display: flex;
        height: 5em;
        width: .4em;
    }

    .calendar-content::-webkit-scrollbar-thumb {
        -ms-border-radius: .5em;
        background-color: #ddd;
        border-radius: .5em;
    }
