.control-label-asa {
    margin-right: 12px;
}

.fa-custom-size {
    font-size: 1.5em;
}

.full-width-date-asa {
    width: 90%;
}

.date-input-group {
    width: 100%;
}

.h4-asa {
    color: #5f9ea0;
}

.modal-body-sv {
    margin-bottom: 15px;
}

.input-group-addon-asa {
    padding: 4px 5px;
    background-color: #fff;
    border: none;
}

.margin-big-label-asa {
    margin-bottom: 20px;
}

.panel-asa {
    background-color: #d4ac87;
    border-color: #ddd;
    color: #333;
}

.row-asa-collapse {
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    -webkit-transition: all .4s;
    margin-left: -50px;
    margin-top: -5px;
    transition: all .4s ease 0;
}

.row-asa-expand {
    -moz-transition: all .4s ease 0;
    -ms-transition: all .4s ease 0;
    -o-transition: all .4s ease 0;
    -webkit-transition: all .4s ease 0;
    margin-left: 70px;
    margin-top: -5px;
    transition: all .4s ease 0;
}

.width-asa {
    width: 66% !important;
}
.width-asa-eac {
    width: 40% !important;
}
.font-asa-eac {
    font-size: 11px !important;
}

.width-asa-notes {
    width: 84% !important;
}

.width-asa-fee-notes {
    width: 82% !important;
}

.two-third-width-asa {
    width: 56% !important;
}

.half-width-asa {
    width: 46% !important;
}

.asa-icon-DELETE {
    color: #FF0000;
    cursor: pointer;
}

.asa-icon-EDIT {
    color: #107010;
    margin-right: 2px;
    cursor: pointer;
}

.asa-icon-VIEW {
    color: #0000ff;
    margin-right: 2px;
    cursor: pointer;
}

.asa-icon-Close {
    color: #000000;
    margin-right: 2px;
    cursor: pointer;
}

.asa-calender {
    margin-bottom: 7px;
    margin-left: -12px;
    margin-right: -18px;
}

.panel:hover {
    cursor: default;
}

.table-asa thead tr th {
    background-color: #aed3f0;
    padding: 3px 4px !important;
}

.table-asa tbody tr td {
    padding: 3px 4px !important;
}

.table-asa-group-tr thead tr th {
    background-color: #aed3f0;
    padding: 0px 0px !important;
}

.table-asa-group-tr tbody tr td {
    padding: 0px 0px !important;
}

.table-report-asa thead tr th {
    background-color: #aed3f0;
    padding: 3px 4px !important;
}

.table-report-asa tbody tr td {
    padding: 3px 4px !important;
}

label {
    margin: 0 0 3px 0;
    padding: 0;
    font-weight: bold;
}

.menu-dropdown {
    width: 110% !important;
}

#menu_1 {
    font-size: 16px;
}

#menu_10 {
    font-size: 14px;
    color: #000000;
}

#menu_11 {
    font-size: 13px;
    color: #000000;
}

#menu_12 {
    font-size: 12px;
    color: #000000;
}

#menu_13 {
    font-size: 11px;
    color: #000000;
}

.menu_select_label {
    color: #123456;
    cursor: pointer;
}

.mainselection {
    float: left;
    overflow: hidden;
    border: 1px solid #ccc;
    border: 0;
}

.select-box-branch {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid black;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -ms-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}


#group-table.div {
    width: 960px;
    margin: 40px auto;
    font-size: 12px;
}

#group-table table {
    width: 100%;
}

#group-table th, #group-table td {
    padding: 7px;
    border: 1px solid #000;
}


#group-table th {
    background: #B79267;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

#group-table tr:nth-child(odd) {
    background: #eee;
}

#group-table tr:nth-child(even) {
    background: #ddd;
}

.interchange {
    margin-bottom: 7px;
}

.expand-collapse-icon {
    font-size: 10px;
    margin-left: -20px;
}

.dp-switch {
    border: 1px solid #aed3f0 !important;
    background-color: #fff;
    cursor: pointer;
    left: 0;
    opacity: 0.4;
    transition: all 0.15s ease;
    z-index: 1;
}

.hide-caret {
    display: none !important;
}

.multiselect-parent {
    width: 150px;
}

    .multiselect-parent button {
        width: 100%;
    }

.panel-body-asa {
    min-height: 390px;
}

.multiselect-parent-asa div {
    width: 66% !important;
}

.table-loan-schedule thead tr th, .table-loan-schedule tbody tr td {
    font-size: 10px !important;
}

.number-input-loan {
    width: 80px !important;
}

.add-remove-loan-field {
    cursor: pointer;
}

    .add-remove-loan-field:hover {
        color: blue;
    }

.add-remove-user-btn {
    padding: 1px 4px !important;
    margin-left: 3px;
}

.important-field-label-loan {
    color: blue;
}

.table-scroll-product {
    height: 250px;
    overflow-y: scroll;
    width: 100%;
}

table.table-scroll-product tbody tr td:hover {
    cursor: pointer;
    font-weight: bold;
}

table.td-loan td {
    padding: 5px !important;
}

.multiselect-button-loan button {
    padding: 2px 12px !important;
    width: 120px;
}
.multiselect-button-report button {
    padding: 2px 12px !important;
    width: 230px;
    margin-top: -2px;
    border: none !important;
}

.multiselect-button-loan ul {
    width: 120px !important;
    min-width: 120px !important;
}

    .multiselect-button-loan ul li {
        font-size: 11px;
    }

.col-middle-btn {
    text-align: center;
    margin-top: 4%;
}

.asa-custom-table thead tr td, .asa-custom-table thead tr th {
    background-color: #b0c4de;
    border: 1px solid #696969;
}

.main-container-margin {
    margin-left: 75px;
    margin-top: 25px;
}

.transaction-input {
    text-align: center;
    width: 100%;
    border: orchid;
}

.group-transaction-input {
    text-align: center;
    width: 100%;
    border-color: black;
}

.group-transaction-label {
    /*border: 1px solid black;*/
    margin: 2px;
    font-weight: bold;
}

    .group-transaction-label:hover {
        cursor: pointer;
    }

table.fixed-header-table {
    width: 100%;
}

    table.fixed-header-table thead, table.fixed-header-table tbody, table.fixed-header-table tr, table.fixed-header-table td, table.fixed-header-table th {
        display: block;
    }

        table.fixed-header-table tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        table.fixed-header-table thead th {
            height: 70px;
            /*text-align: left;*/
        }

    table.fixed-header-table tbody {
        height: 300px;
        overflow-y: auto;
    }



thead {
    /* fallback */
}


table.fixed-header-table tbody td {
    width: 7.14%;
    float: left;
}


table.fixed-header-table thead th {
    width: 7.023%;
    float: left;
}

.padding-class {
    width: 7.023% !important;
}

.padding-main {
    width: 8.60% !important;
}

.asa-icon-blue {
    color: blue;
    padding: 2px;
    cursor: pointer;
}

.asa-icon-purple {
    color: purple;
    padding: 2px;
    cursor: pointer;
}

.asa-icon-green {
    color: green;
    padding: 2px;
    cursor: pointer;
}

.asa-icon-fblue {
    color: #285e8e;
    padding: 2px;
    cursor: pointer;
}

.editable-input-number {
    background-color: Highlight;
    padding-right: 0;
    padding-left: 0;
}

.vertical-line {
    border-right: 1px solid #ddd;
    height: 40px !important;
}

.group-transaction-label {
    margin: 2px;
    font-weight: bold;
    border: 1px solid black;
    background-color: #d2d1d1;
    width: 14px !important;
    font-size: 12px;
    cursor: pointer;
}

.word-breaker {
    word-wrap: break-word;
    word-break: break-all;
}

.pad-breaker {
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 2px !important;
    padding-top: 2px !important;
}

.font-size-table-asa {
    font-size: 1em;
}

.beta th,
.beta td {
    font-size: 9px;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    padding: 0 !important;
}


.upload td {
    padding: 0px 4px !important;
    font-size: 12px !important;

}
.upload.dataTable,
.upload.dataTable.no-footer {
    width: 165% !important;
}
.betaIchange th,
.betaIchange td {
    font-size: 11px;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

table.table-asa tbody tr td label {
    padding-left: 0 !important;
    font-size: 10px !important;
    text-align: left !important;
}

.custom-multi-select {
    width: 305px !important;
}
 
.multiselect-parent-custom button {
    width: 280px !important;
}
.meeting-day-change-width {
    width: 55% !important;
}
.drop-down-calendar-ul {
    top: -582% !important;
    left: 137px !important;
}
.drop-down-calendar-picker {
    width: 215px !important;
}

.icon-open-day {
    color: #f17307; 
    font-size: 15px !important;
    margin-right: 10px;
}

.icon-open-day:hover {
    color: #00ff00; 
    font-size: 17px;
}

.working-day-text-open {
    color: #5eeac4 !important;
    margin-right: 10px;
    text-decoration: none !important;
}

.working-day-text-open:hover {
    color: #4bff00 !important;
}

.working-day-text-close {
    color: #898d90 !important;
    text-decoration: none !important;
    cursor: text !important;
}
.custom-button-sprod {
    line-height: 1 !important;
   }
.report-filter-div {
    padding-left:2px !important;
    padding-right:1px !important;
    min-width: 200px;
    margin-right: 15px;
    margin-left: 5px;
}

.report-filter-div-checkbox {
   /* margin-left: 5px !important;
    padding-left:2px !important;
    padding-right:1px !important;*/
    padding-left: 413px !important;
    margin-top: -64px !important;
    max-height:2px !important;
    max-width:5px !important;
}
.report-filter-div-with-checkbox {
   /* margin-left: 5px !important;
    padding-left:2px !important;
    padding-right:1px !important;*/
    /*padding-left: 413px !important;*/
    margin-top: -25px !important;
    /*max-height:2px !important;
    max-width:5px !important;*/
}
.report-filter-div-checkbox  input{
    margin-top: -5px;
}

.report-filter-input {
    width:125px !important;
}

.report-col {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.report-label {
    margin-top: 6px;
    width: 150px;
    margin-left: 5px;
}

.report-calendar {
    font-size: 20px !important;
    margin-bottom: 8px;
}

.report-tab-content {
    border-top: 1px solid #c1cfdc;

}

ul#report-tab > li.active > a, #report-tab > li.active > a:hover, #report-tab > li.active > a:focus {
    color: #0e0e0e;
    cursor: default;
    background-color: #bddfe6;
    border: 1px solid #4a6c73;
    border-bottom-color: transparent;
}

tr.total-row td{
    font-weight: bold !important;
    font-size: 14px !important;
}

.coa-table-container {
    height: 400px;
    overflow-y: scroll;
}

.coa-table-container::-webkit-scrollbar {
        display: flex;
        height: 3em;
        width: .6em;
    }

    .coa-table-container::-webkit-scrollbar-thumb {
        -ms-border-radius: 1em;
        background-color: #ddd;
        border-radius: 1em;
        height: 3em;
    }
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #9ccbf3;
}

.icon-arrow-inner {
    cursor: pointer;
}

.icon-arrow-inner:hover {
    color: #d2691e !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.list-item-selected {
    background-color: #aaddff !important;
    font-weight: bold !important;
}