<div id="general-journal-list" class="panel panel-default panel-primary" ng-controller="IncomeExpenseReportController">
    <!--<div class="panel-heading panel-title">
        Transaction Statement
    </div>-->
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <span class="badge">Entities</span>
                <div class="filter-form">
                    <div class="form-group">
                        <div class="form-inline">
                            <label for="entity" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                                Entities
                            </label>
                            <select id="entity" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                    ng-model="filter.Entity" ng-options="ent.Value as ent.Name for ent in filters.Entity"
                                    ng-disabled="user.Role===rootLevel.LO.toString()||user.Role===rootLevel.BM.toString()||user.Role===rootLevel.RM.toString()||user.Role===rootLevel.ABM.toString()||user.Role===rootLevel.ASE.toString()"
                                    ng-change="correspondingEntityDataLoader(filter.Entity)"></select>
                        </div>
                    </div>

                </div>
            </div>
            <div ng-if="filter.Entity===4||filter.Entity===5" class="col-lg-8 col-md-8 col-sm-12">
                <!--<span class="badge">Entities</span>-->
                <div class="filter-form">
                    <div ng-if="filter.Entity===4">
                        <div class="form-group">
                            <div class="form-inline">
                                <label for="division" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                                    Division
                                </label>
                                <div ng-dropdown-multiselect=""
                                     class="multiselect-button-loan col-lg-8 col-md-8 col-sm-12"
                                     options="ZoneListMain"
                                     selected-model="Zones"
                                     checkboxes="true"
                                     extra-settings="dropdownSetting"
                                     events="{ onItemSelect: onZoneChange, onItemDeselect : onZoneChange, onSelectAll : onZoneChange, onDeselectAll : onZoneChange }"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-inline">
                                <label for="district" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                                    District
                                </label>
                                <div ng-dropdown-multiselect="" extra-settings="dropdownSetting" class="multiselect-button-loan col-lg-6 col-md-6 col-sm-12"
                                     options="DistrictListMain"
                                     selected-model="Districts"
                                     checkboxes="true"
                                     events="{ onItemSelect: onDistrictChange, onItemDeselect : onDistrictChange, onSelectAll : onDistrictChange, onDeselectAll : onDistrictChange }"></div>
                                <!--<select id="district" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                            ng-model="filter.District" ng-options="d.Value as d.Name for d in filters.Districts |orderBy:'Name'"
                                            ng-disabled="user.Role === rootLevel.BM.toString()||user.Role === rootLevel.RM.toString()||user.Role === rootLevel.DM.toString()"
                                            ng-change="getRegionsByDistrictId()"></select>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-inline">
                                <label for="region" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                                    Region
                                </label>
                                <div ng-dropdown-multiselect="" extra-settings="dropdownSetting" class="multiselect-button-loan col-lg-6 col-md-6 col-sm-12"
                                     options="RegionListMain"
                                     selected-model="Regions"
                                     checkboxes="true"
                                     events="{ onItemSelect: onRegionChange, onItemDeselect : onRegionChange, onSelectAll : onRegionChange, onDeselectAll : onRegionChange}"></div>
                                <!--<select id="region" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                            ng-model="filter.Region" ng-options="m.Value as m.Name for m in filters.Regions |orderBy:'Name'"
                                            ng-disabled="user.Role === rootLevel.BM.toString()||user.Role === rootLevel.RM.toString()"
                                            ng-change="getBranchesByRegionId()"></select>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-inline">
                                <label for="branch" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                                    Branch
                                </label>
                                <div ng-dropdown-multiselect="" extra-settings="dropdownSetting" class="multiselect-button-loan col-lg-6 col-md-6 col-sm-12"
                                     options="BranchListMain" selected-model="Branches" checkboxes="false"></div>
                                <!--<select id="branch" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                            ng-disabled="user.Role === rootLevel.BM.toString()"
                                            ng-model="filter.Branch" ng-options="m.Value as m.Name for m in filters.Branches |orderBy:'Name'"></select>-->
                            </div>
                        </div>
                    </div>
                    <div ng-if="filter.Entity===5">
                        <div class="form-group">
                            <div class="form-inline">
                                <label for="divoffices" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                                    Divisional Offices
                                </label>
                                <select id="divoffices" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                        ng-model="filter.DivisionalOffice" ng-options="do.Value as do.Name for do in filters.DivisionalOffices |orderBy:'Name'"></select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="form-group">
                <div class="form-inline">
                    <label for="branch" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                        Consolidation By
                    </label>
                    <select id="consolidationby" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                            ng-model="filter.ConsolidatedBy" ng-options="m.Value as m.Name for m in ConsolidatedByList |orderBy:'Value'"></select>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="form-group">
                <div class="form-inline">
                    <label for="branch" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                        Period Type
                    </label>
                    <select id="periodtype" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                            ng-model="filter.PeriodType" ng-options="m.Value as m.Name for m in PeriodTypeList |orderBy:'Value'"></select>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <span class="badge">From</span>
                        <div class="filter-form">
                            <div class="form-group">
                                <div class="form-inline">
                                    <label for="branch" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                                        Year
                                    </label>
                                    <select id="branch" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                            ng-model="filter.fYear" ng-options="m.Value as m.Name for m in YearList |orderBy:'Value': reverse : true"></select>
                                </div>
                            </div>
                            <div ng-if="filter.PeriodType == 2" class="form-group">
                                <div class="form-inline">
                                    <label for="branch" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                                        Quarter
                                    </label>
                                    <select id="branch" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                            ng-model="filter.fMonth" ng-options="m.Value as m.Name for m in QuarterList |orderBy:'Value'"></select>
                                </div>
                            </div>
                            <div ng-if="filter.PeriodType == 3"class="form-group">
                                <div class="form-inline">
                                    <label for="branch" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                                        Month
                                    </label>
                                    <select id="branch" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                            ng-model="filter.fMonth" ng-options="m.Value as m.Name for m in MonthList |orderBy:'Value'"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <span class="badge">To</span>
                        <div class="filter-form">
                            <div class="form-group">
                                <div class="form-inline">
                                    <label for="branch" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                                        Year
                                    </label>
                                    <select id="branch" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                            ng-disabled="user.Role === rootLevel.BM.toString()"
                                            ng-model="filter.tYear" ng-options="m.Value as m.Name for m in YearList |orderBy:'Value': reverse : true"></select>
                                </div>
                            </div>
                            <div ng-if="filter.PeriodType == 2" class="form-group">
                                <div class="form-inline">
                                    <label for="branch" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                                        Quarter
                                    </label>
                                    <select id="branch" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                            ng-model="filter.tMonth" ng-options="m.Value as m.Name for m in QuarterList |orderBy:'Value'"></select>
                                </div>
                            </div>
                            <div ng-if="filter.PeriodType == 3"class="form-group">
                                <div class="form-inline">
                                    <label for="branch" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                                        Month
                                    </label>
                                    <select id="branch" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                            ng-model="filter.tMonth" ng-options="m.Value as m.Name for m in MonthList |orderBy:'Value'"></select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--<div ng-if="filter.IsSplitMonthly == true" class="col-lg-3 col-md-3 col-sm-3">
                        <div class="form-group">
                            <div class="form-inline">
                                <label for="branch" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                                    Month
                                </label>
                                <select id="branch" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                        ng-disabled="user.Role === rootLevel.BM.toString()"
                                        ng-model="filter.tMonth" ng-options="m.Value as m.Name for m in MonthList |orderBy:'Value'"></select>
                            </div>
                        </div>
                    </div>
                    <div ng-if="filter.IsSplitMonthly == true" class="col-lg-3 col-md-3 col-sm-3">
                        <span class="badge">To</span>
                        <div class="form-group">
                            <div class="form-inline">
                                <label for="branch" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                                    Year
                                </label>
                                <select id="branch" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                        ng-disabled="user.Role === rootLevel.BM.toString()"
                                        ng-model="filter.tYear" ng-options="m.Value as m.Name for m in YearList |orderBy:'Value': reverse : true"></select>
                            </div>
                        </div>
                    </div>-->

                </div>
                <button class="btn-asa-normal pull-right" ng-click="getIncomeExpenseReport()">Search</button>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <span class="row">
                <span ng-repeat="command in commandList">
                    <span ng-if="command.IsGeneral === true">
                        <button class="btn-asa-normal pull-left" ng-click="(command.HasView)?openCommandTab(command, tab.id, 'Accounts_General_Ledger',{}): ((command.DisplayName == 'Refresh')? Init() : exportData())">{{command.CommandName}}</button>

                    </span>
                </span>
                <button class="btn-asa-normal pull-left" ng-click="export()">Export</button>
            </span>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <hr />
        </div>
    </div>
    <!--<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="coa-arrow-div"><i ng-click="showCoA = !showCoA" ng-class="expandArrowStyle()" class="fa"></i><label ng-show="!showCoA">Show CoA</label><label ng-show="showCoA">Hide CoA</label></div>
        </div>
    </div>-->
    <div class="row">
        <div style="margin-top: 10px" class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 report-col">
                <ul id="report-tab" ng-if="transactionSummaryData" class="nav nav-tabs" role="tablist">
                    <li ng-repeat="tab in transactionSummaryData" role="presentation" ng-class="getActiveTab($index)">
                        <a href="#{{tab.ReportName}}" aria-controls="{{tab.ReportName}}" role="tab" data-toggle="tab">{{tab.ReportName}}</a>
                    </li>
                </ul>

                <div class="tab-content report-tab-content">
                    <div ng-repeat="tab in transactionSummaryData" role="tabpanel" class="tab-pane" ng-class="getActiveTab($index)" id="{{tab.ReportName}}">
                        <table class="table table-bordered table-hover table-asa" datatable="ng"  dt-options="dtOptions" dt-column-defs="dtColumnDefs" data-page-length='{{setPageLength(tab.Rows)}}'>
                            <thead>
                                <tr>
                                    <th ng-repeat="column in tab.Columns">{{column}}</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in tab.Rows" ng-class="styleTotalRow(row)">

                                <td ng-repeat="cell in row track by $index">
                                    {{formatCellValue(cell, tab.Columns[$index])}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>