<div id="general-journal-list" class="panel panel-default panel-primary" ng-controller="countrySystemGJListController">
<!--<div class="panel-heading panel-title">
    Transaction Statement
</div>-->
<div class="panel-body">

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <span class="badge">Entities</span>
        <div class="filter-form">
            <div class="form-group">
                <div class="form-inline">
                    <label for="entity" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                        Entities
                    </label>
                    <select id="entity" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                            ng-model="filter.Entity" ng-options="ent.Value as ent.Name for ent in filters.Entity"
                            ng-change="correspondingEntityDataLoader(filter.Entity)"></select>
                </div>
            </div>

        </div>
    </div>
    <div ng-if="filter.Entity===4||filter.Entity===5" class="col-lg-6 col-md-6 col-sm-12">
        <span class="badge">Entities</span>
        <div class="filter-form">
            <div ng-if="filter.Entity===4">
                <div class="form-group">
                    <div class="form-inline">
                        <label for="division" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                            Division
                        </label>
                        <select id="division" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                ng-model="filter.Zone" ng-options="zone.Value as zone.Name for zone in filters.Zones |orderBy:'Name'"
                                ng-change="getDistrictsByZoneId()"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <label for="district" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                            District
                        </label>
                        <select id="district" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                ng-model="filter.District" ng-options="d.Value as d.Name for d in filters.Districts |orderBy:'Name'"
                                ng-change="getRegionsByDistrictId()"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <label for="region" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                            Region
                        </label>
                        <select id="region" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                ng-model="filter.Region" ng-options="m.Value as m.Name for m in filters.Regions |orderBy:'Name'"
                                ng-change="getBranchesByRegionId()"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <label for="branch" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                            Branch
                        </label>
                        <select id="branch" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                ng-model="filter.Branch" ng-options="m.Value as m.Name for m in filters.Branches |orderBy:'Name'"></select>
                    </div>
                </div>
            </div>


            <div ng-if="filter.Entity===5">
                <div class="form-group">
                    <div class="form-inline">
                        <label for="divoffices" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                            Divisional Offices
                        </label>
                        <select id="divoffices" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                ng-model="filter.DivisionalOffice" ng-options="do.Value as do.Name for do in filters.DivisionalOffices |orderBy:'Name'"></select>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <span class="badge">Filters</span>
        <div class="filter-form">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-inline">
                        <label class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                            From Date
                        </label>
                        <div class="dropdown input-group date width-asa">
                            <p class="input-group date-input-group">
                                <input readonly="readonly" class="form-control-asa full-width-asa" type="text"
                                       uib-datepicker-popup="{{format}}" ng-model="filter.FromDateM" is-open="fromPop.opened"
                                       datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats"
                                       ng-change="fromValidator()"/>
                                <span class="input-group-addon input-group-addon-asa">
                                            <button type="button" ng-click="fromPopper()"><i class="fa fa-calendar"></i></button>
                                        </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-inline">
                        <label class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                            To Date
                        </label>
                        <div class="dropdown input-group date width-asa">
                            <p class="input-group date-input-group">
                                <input readonly="readonly" class="form-control-asa full-width-asa" type="text"
                                       uib-datepicker-popup="{{format}}" ng-model="filter.ToDateM" is-open="toPop.opened"
                                       datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats"
                                       ng-change="toValidator()"/>
                                <span class="input-group-addon input-group-addon-asa">
                                            <button type="button" ng-click="toPopper()"><i class="fa fa-calendar"></i></button>
                                        </span>
                            </p>
                        </div>
                    </div>
                </div>
                <!--<div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-inline">
                        <label for="entryMethod" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                            Entry Method
                        </label>
                        <select id="entryMethod" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                ng-model="filter.EntryMethod" ng-options="lo.Value as lo.Name for lo in filters.EntryMethod"
                                ng-change="getGroupsByLoanOfficer(filter.loanOfficer)"></select>
                    </div>
                </div>-->

                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-inline">
                        <label for="voucherType" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                            Voucher Type
                        </label>
                        <select id="voucherType" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                ng-model="filter.VoucherType" ng-options="lo.Value as lo.Name for lo in filters.VoucherType"
                                ng-change="getGroupsByLoanOfficer(filter.loanOfficer)">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-inline">
                        <label for="VoucherId" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                            Voucher Id

                        </label>
                        <input type="number" tabindex="" name="VoucherId"
                               ng-model="filter.VoucherId" class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                               id="VoucherId" validate-on="blur" placeholder="Voucher Id "
                               ng-disabled="false">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="form-inline">
                    <label class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                        Debit Head
                    </label>
                    <div class="dropdown input-group date width-asa">
                        <p class="input-group date-input-group">
                            <input readonly="readonly" class="form-control-asa full-width-asa" type="text"
                                   placeholder="right select"
                                   ng-model="filter.DebitHead.name"
                                   title="{{filter.DebitHead.title}}"
                                   id="accountHead"/>
                            <span class="input-group-addon input-group-addon-asa">
                                            <button type="button" data-toggle="modal" data-target="#myModalHorizontal" ng-click="viewOptionModifier(false,1)"><i class="fa fa-rocket"></i></button>
                                        </span>
                            <i class="fa fa-times" ng-click="removeDebitHead()"></i>
                        </p>
                        
                        <!--<input type="number" tabindex="" name="accountHead"
                                   ng-model="filter.AccountHead" class="width-asa form-control form-control-asa col-md-5 col-sm-12"
                                   id="accountHead" validate-on="blur" placeholder="Account Head "
                                   ng-disabled="false">
                        <span class="col-lg-2 col-md-2 col-sm-12" >
                            <button type="button" ng-click="AccountHeadFetcher()"><i class="fal fa-dot-circle"></i></button>
                        </span>-->
                    </div>
                   
                </div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="form-inline">
                    <label class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                        Credit Head
                    </label>
                    <div class="dropdown input-group date width-asa">
                        <p class="input-group date-input-group">
                            <input readonly="readonly" class="form-control-asa full-width-asa" type="text"
                                   placeholder="right select"
                                   ng-model="filter.CreditHead.name"
                                   title="{{filter.CreditHead.title}}"
                                   id="accountHead"/>
                            <span class="input-group-addon input-group-addon-asa">
                                        <button type="button" data-toggle="modal" data-target="#myModalHorizontal" ng-click="viewOptionModifier(false,2)"><i class="fa fa-rocket"></i></button>
                                    </span>
                            <i class="fa fa-times" ng-click="removeCreditHead()"></i>
                        </p>
                        <!--<input type="number" tabindex="" name="accountHead"
                                   ng-model="filter.AccountHead" class="width-asa form-control form-control-asa col-md-5 col-sm-12"
                                   id="accountHead" validate-on="blur" placeholder="Account Head "
                                   ng-disabled="false">
                        <span class="col-lg-2 col-md-2 col-sm-12" >
                        <button type="button" ng-click="AccountHeadFetcher()"><i class="fal fa-dot-circle"></i></button>
                    </span>-->
                    </div>
                </div>
            </div>



            <!--<div class="col-lg-3 col-md-3 col-sm-3">
                <div class="form-inline">
                    <label for="module" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                        Module
                    </label>
                    <select id="module" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                            ng-model="filter.Module" ng-options="lo.Value as lo.Name for lo in filters.Module"
                            ng-change="getGroupsByLoanOfficer(filter.loanOfficer)"></select>
                </div>
            </div>-->

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="form-inline">
                    <label for="amountFrom" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                        Amount From
                    </label>
                    <!--<select id="ts-loan-officer" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                ng-model="filter.loanOfficer" ng-options="lo.Value as lo.Name for lo in loanOfficerList"
                                ng-change="getGroupsByLoanOfficer(filter.loanOfficer)"></select>-->
                    <input type="number" tabindex="" name="amountFrom"
                           ng-model="filter.AmountFrom" class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="amountFrom" validate-on="blur" placeholder="Amount "
                           ng-disabled="false">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="form-inline">
                    <label for="amountTo" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                        Amount To
                    </label>
                    <input type="number" tabindex="" name="amountTo"
                           ng-model="filter.AmountTo" class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="amountTo" validate-on="blur" placeholder="Amount "
                           ng-disabled="false">
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="form-inline">
                    <label for="enteredby" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                        Entered By
                    </label>
                    <input type="number" tabindex="" name="amountTo"
                           ng-model="filter.EnteredBy" class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="enteredby" validate-on="blur" placeholder="EnteredBy "
                           ng-disabled="false">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="form-inline">
                    <label for="description" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                        Description
                    </label>
                    <input type="text" tabindex="" name="Description"
                           ng-model="filter.Description" class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="description" validate-on="blur" placeholder="Description "
                           ng-disabled="false">
                </div>
            </div>
            <button class="btn-asa-normal pull-right" ng-click="getVoucherList()">Search</button>
        </div>



       
    </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6">


    <span class="row">
                    <span ng-repeat="command in commandList">
                        <span ng-if="command.IsGeneral === true">
                            <button class="btn-asa-normal pull-left" ng-click="(command.HasView)?openCommandTab(command, tab.id, 'Accounts_G_J_C',{}): ((command.DisplayName == 'Refresh')? Init() : exportData())">{{command.CommandName}}</button>

                        </span>

                    </span>
                    
                   
                    <button class="btn-asa-normal pull-left" ng-click="editVoucher()">Edit</button>
                    <button class="btn-asa-normal pull-left" ng-click="deleteVoucher()">Delete</button>
                    <button class="btn-asa-normal pull-left" ng-click="print()">Print</button>
                    <button class="btn-asa-normal pull-left" ng-click="printDetails()">Print Details</button>
                </span>
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
    <hr/>
</div>
</div>




<div class="row">
    <div ng-if="vouchers.length>0" class="col-lg-12 col-md-12 col-sm-12 panel-body">
        <table id="glvouchertable" style="width: 100%" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
               class="table table-striped table-bordered table-hover table-asa emp-list-font">
            <thead>
            <tr>
                <!--<th>Transaction ID</th>-->
                <th style="width: 1%"></th>

                <th style="width: 8%">Date </th>
                <th style="width: 5%">Voucher No. </th>
                <th style="width: 8%">Description</th>
                <th> Ref. VoucherNo</th>
                <th> IsRectified</th>
                <th style="width: 16%">Account Code</th>
                <th style="width: 16%">Account Name</th>
                <th style="width: 7%">Debit</th>
                <th style="width: 7.9%">Credit</th>
                <th style="width: 13%">Cheque No.</th>
                <th style="width: 9.2%">Branch Name</th>
                <th style="width: 9%">Trans. Branch</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="v in vouchers ">
                <td> <input type="checkbox" ng-model="v.checked" ng-click="ensureSingleCheck($index)" ng-disabled="v.IsRectified || v.IsDeleted 
                                        ||(v.BranchCode!==-2 && v.BranchCode!==-6 && v.BranchCode!==-1)" ng-true-value="true" ng-false-value="false"> </td>
                <td style="width: 8%">{{v.TransactionDate}}</td>
                <td style="width: 5%">{{v.VoucherNo}}</td>
                <td style="width: 8%">{{v.Description}}</td>
                <td>{{v.ReferenceVoucherNo}}</td>
                <td>{{v.IsItRectified}}</td>

                <td colspan="7">
                    <table style="table-layout: fixed">
                        <tr ng-repeat="tr in v.GlTransactions |orderBy:['-sort']">
                            <!--<td style="width: 9.2%">{{tr.TransactionDate}} </td>-->
                            <td style="width: 22.4%; word-wrap: break-word">{{tr.GlAccountCode}} </td>
                            <td style="width: 24.2%; word-wrap: break-word">{{tr.GlAccountName}} </td>
                            <td style="width: 12.2%; word-wrap: break-word">{{tr.Debit}} </td>
                            <td style="width: 12.2%; word-wrap: break-word">{{tr.Credit}} </td>
                            <td style="width: 19.5%; word-wrap: break-word">{{tr.ChequeNumber}} </td>
                            <td style="width: 15%; word-wrap: break-word">{{tr.BranchName}} </td>
                            <td style="width: 15%; word-wrap: break-word">{{tr.DistrictBranchName}} </td>
                        </tr>
                    </table>
                </td>
            </tr>
            </tbody>

        </table>

    </div>













    <div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"
         aria-labelledby="accountHead" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Accounts Head
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <div ng-include src="getSecondaryPath() + locationStr +'/Scripts/angular-scripts/Templates/List/ChartOfAccount.html'">
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            ng-click="viewOptionModifier(true); "
                            data-dismiss="modal">
                        Close
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
 







