<div class="row" ng-controller="assetEntryListController">
    <div class="panel panel-body panel-default panel-primary">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-inline">
                    <label for="officetype" class="col-md-4 col-sm-12" style="font-size: 12px;">
                        Office Type
                    </label>
                    <select class="form-control form-control-asa form-control-asa-select-box-padding width-asa col-md-8 col-sm-12"
                            id="officetype" ng-model="filterParams.OfficeType"
                            name="officetype"
                            ng-change="filterOfficeList(filterParams.OfficeType)"
                            ng-options="officeType.Value as officeType.Name for officeType in filterParams.OfficeTypeList"></select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-inline">
                    <label for="officename" class="col-md-4 col-sm-12" style="font-size: 12px;">
                        Office Name
                    </label>
                    <angucomplete-alt id="officename"
                                      placeholder="Search Branches"
                                      pause="100"
                                      selected-object="filterParams.Office"
                                      local-data="BranchList"
                                      search-fields="Name"
                                      title-field="Name"
                                      minlength="1"
                                      initial-value="filterParams.Office.title"
                                      input-class="form-control-asa form-control-small col-md-8 col-sm-12" />
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-inline">
                    <label for="assettype" class="col-md-4 col-sm-12" style="font-size: 12px;">
                        Asset Type
                    </label>
                    <select class="form-control form-control-asa form-control-asa-select-box-padding width-asa col-md-8 col-sm-12"
                            id="assettype" 
                            ng-model="filterParams.AssetType"
                            name="assettype"
                            ng-options="type.Value as type.Name for type in filterParams.AssetTypeList"></select>
                </div>
            </div>
            <!--<div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-inline">
                    <label for="IsAsset" class="col-md-4 col-sm-12" style="font-size: 12px;">
                        Is Asset
                    </label>
                    <input type="checkbox" ng-model="filterParams.IsFixedAsset" id="IsAsset"
                           ng-true-value="1" ng-false-value="0">
                </div>
            </div>-->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-inline">
                    <label for="category" class="col-md-4 col-sm-12" style="font-size: 12px;">
                        Category
                    </label>
                    <select class="form-control form-control-asa form-control-asa-select-box-padding width-asa col-md-8 col-sm-12"
                            id="category"
                            ng-model="filterParams.CategoryId"
                            ng-change="filterItemByCategory(filterParams.CategoryId)"
                            name="category"
                            ng-options="category.Id as category.Name for category in categoryItems"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-inline">
                    <label for="itemtype" class="col-md-4 col-sm-12" style="font-size: 12px;">
                        Item Type
                    </label>
                    <select class="form-control form-control-asa form-control-asa-select-box-padding width-asa col-md-8 col-sm-12"
                            id="itemtype" ng-model="filterParams.ItemId"
                            name="itemtype"
                            ng-options="item.Id as item.Name for item in itemList"></select>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-inline">
                    <label for="status" class="col-md-4 col-sm-12" style="font-size: 12px;">
                        Status
                    </label>
                    <select class="form-control form-control-asa form-control-asa-select-box-padding width-asa col-md-8 col-sm-12"
                            id="status" ng-model="filterParams.Status"
                            name="status"
                            ng-change="assetStatusChange()"
                            ng-options="status.Value as status.Name for status in filterParams.StatusList"></select>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-inline">
                    <label for="substatus" class="col-md-4 col-sm-12" style="font-size: 12px;">
                        Sub Status
                    </label>
                    <select class="form-control form-control-asa form-control-asa-select-box-padding width-asa col-md-8 col-sm-12"
                            id="substatus" ng-model="filterParams.SubStatus"
                            name="substatus"
                            ng-options="substatus.Value as substatus.Name for substatus in filterParams.SubStatusList"></select>
                </div>
            </div>
        </div>
        <hr>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row">
                <div class="form-inline">
                    <label for="purchasedatefrom" class="col-lg-8 col-md-8 col-sm-12" style="font-size: 13px; margin-left: 125px;">
                        Purchase Date
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-inline">
                        <label for="purchasedatefrom" class="col-lg-4 col-md-4 col-sm-12" style="font-size: 12px; ">
                            From
                        </label>
                        <div class="dropdown input-group date width-asa">
                            <p class="input-group">
                                <input readonly="readonly" class="form-control-asa full-width-asa" type="text" uib-datepicker-popup="{{format}}"
                                       ng-model="filterParams.PurchaseDateFrom" is-open="popupPurchaseDateFrom.opened" datepicker-options="dateOptions" close-text="Close"
                                       alt-input-formats="altInputFormats" />
                                <span class="input-group-addon input-group-addon-asa">
                                    <button type="button" ng-click="openPurchaseDateFrom()"><i class="fa fa-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-inline">
                        <label for="purchasedateto" class="col-md-4 col-sm-12" style="font-size: 12px;">
                            To
                        </label>
                        <div class="dropdown input-group date width-asa">
                            <p class="input-group">
                                <input readonly="readonly" class="form-control-asa full-width-asa" type="text" uib-datepicker-popup="{{format}}"
                                       ng-model="filterParams.PurchaseDateTo" is-open="popupPurchaseDateTo.opened" datepicker-options="dateOptions" close-text="Close"
                                       alt-input-formats="altInputFormats" />
                                <span class="input-group-addon input-group-addon-asa">
                                    <button type="button" ng-click="openPurchaseDateTo()"><i class="fa fa-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row">
                <div class="form-inline">
                    <label for="purchasedatefrom" class="col-lg-8 col-md-8 col-sm-12" style="font-size: 13px; margin-left: 125px;">
                        Last Status Change Date
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-inline">
                        <label for="statuschangedatefrom" class="col-md-4 col-sm-12" style="font-size: 12px;">
                            From
                        </label>
                        <div class="dropdown input-group date width-asa">
                            <p class="input-group">
                                <input readonly="readonly" class="form-control-asa full-width-asa" type="text" uib-datepicker-popup="{{format}}"
                                       ng-model="filterParams.LastStatusChangeFrom" is-open="popupLastStatusChangeFrom.opened" datepicker-options="dateOptions" close-text="Close"
                                       alt-input-formats="altInputFormats" />
                                <span class="input-group-addon input-group-addon-asa">
                                    <button type="button" ng-click="openLastStatusChangeFrom()"><i class="fa fa-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-inline">
                        <label for="statuschangedateto" class="col-md-4 col-sm-12" style="font-size: 12px;">
                            TO
                        </label>
                        <div class="dropdown input-group date width-asa">
                            <p class="input-group">
                                <input readonly="readonly" class="form-control-asa full-width-asa" type="text" uib-datepicker-popup="{{format}}"
                                       ng-model="filterParams.LastStatusChangeTo" is-open="popupLastStatusChangeTo.opened" datepicker-options="dateOptions" close-text="Close"
                                       alt-input-formats="altInputFormats" />
                                <span class="input-group-addon input-group-addon-asa">
                                    <button type="button" ng-click="openLastStatusChangeTo()"><i class="fa fa-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="form-inline">
                        <label for="purchasedatefrom" class="col-lg-4 col-md-4 col-sm-12" style="font-size: 13px; margin-left: 125px;">
                            Billing Price
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-inline">
                            <label for="PurchasePriceFrom" class="col-lg-4 col-md-4 col-sm-12" style="font-size: 12px;">
                                From
                            </label>
                            <input type="number" name="residualvalue"
                                   ng-model="filterParams.PurchasePriceFrom" class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                                   id="PurchasePriceFrom">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-inline">
                            <label for="PurchasePriceTo" class="col-md-4 col-sm-12" style="font-size: 12px;">
                                To
                            </label>
                            <input type="number" name="residualvalue"
                                   ng-model="filterParams.PurchasePriceTo" class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                                   id="PurchasePriceTo">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="form-inline">
                        <label class="col-lg-8 col-md-8 col-sm-12" style="font-size: 13px; margin-left: 125px;">
                            Written Down Value
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-inline">
                            <label for="WrittenDownValueFrom" class="col-md-4 col-sm-12" style="font-size: 12px;">
                                From
                            </label>
                            <input type="number" name="residualvalue"
                                   ng-model="filterParams.WrittenDownValueFrom" class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                                   id="WrittenDownValueFrom">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-inline">
                            <label for="WrittenDownValueTo" class="col-md-4 col-sm-12" style="font-size: 12px;">
                                TO
                            </label>
                            <input type="number" name="WrittenDownValueTo"
                                   ng-model="filterParams.WrittenDownValueTo" class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                                   id="WrittenDownValueTo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <hr>
        <div class="row">
            <button type="button" ng-click="Search()" style="float: right">
                Search
            </button>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-12">
                    <span ng-repeat="command in commandList">
                        <span ng-if="command.IsGeneral === true">
                            <button ng-click="(command.HasView) ? openCommandTab(command, tab.id, 'Asset_Entry',{}): init2()">
                                <span>{{command.CommandName}}</span>
                            </button>
                        </span>
                    </span>
                </div>

                <div class="col-lg-12 panel-body font-asa-12">
                    <table style="width: 98%" datatable="ng" dt-options="assetEntryListController.dtOptions" dt-column-defs="assetEntryListController.dtColumnDefs"
                           class="table table-striped table-bordered table-hover table-asa">
                        <thead>
                            <tr>
                                <th ng-if="hasNonGeneralCommands">Actions</th>
                                <!--<th>Id</th>-->
                                <th>Asset Tag</th>
                                <th>Name</th>
                                <th>Item Type</th>
                                <th>Category</th>
                                <!--<th>Asset Type</th>
                                <th>Is Asset</th>-->
                                <th>Status</th>
                                <th>Sub Status</th>
                                <th>Purchased Date</th>
                                <!--<th>Last Status Change Date</th>-->
                                <th>Current Office </th>
                                <th>Billing Price</th>
                                <th>Written Down Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="asset in assetList">
                                <td ng-if="hasNonGeneralCommands && asset.Status != -2">
                                    <span ng-repeat="command in commandList">
                                        <span ng-if="command.IsGeneral !== true" ng-click="(command.HasView) ? openCommandTab(command, tab.id, 'Asset_Entry',{'editAssetId':asset.Id,'asset':asset}): handleNonGeneralActions(command.CommandName, asset)">
                                            <i class="{{command.IconClass}} asa-icon-{{command.CommandName}}" title="{{command.CommandName}}"></i>
                                        </span>
                                    </span>
                                </td>

                                <td ng-if="hasNonGeneralCommands && asset.Status == -2">
                                    <span ng-repeat="command in customCommandList">
                                        <span ng-if="command.IsGeneral !== true" ng-click="(command.HasView) ? openCommandTab(command, tab.id, 'Asset_Entry',{'editAssetId':asset.Id,'asset':asset}): handleNonGeneralActions(command.CommandName, asset)">
                                            <i class="{{command.IconClass}} asa-icon-{{command.CommandName}}" title="{{command.CommandName}}"></i>
                                        </span>
                                    </span>
                                </td>

                                <!--<td>{{asset.Id}}</td>-->
                                <td>{{asset.AssetId}}</td>
                                <td>{{asset.Name}}</td>
                                <td>{{asset.ItemTypeName}}</td>
                                <td>{{asset.ItemCategoryName}}</td>
                                <!--<td>{{asset.AssetTypeName}}</td>
                                <td>{{asset.IsFixedAssetName}}</td>-->
                                <td>{{asset.StatusName}}</td>
                                <td>{{asset.SubStatusName}}</td>
                                <td>{{asset.PurchaseWorkingDateS}}</td>
                                <!--<td>{{asset.LastStatusChangeSystemDate}}</td>-->
                                <td>{{asset.CurrentBranchName}}</td>
                                <td>{{asset.BillingPrice}}</td>
                                <td>{{asset.WrittenDownValueShow}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteAsset()"></button>
                </div>
            </div>
        </div>
    </div>
</div>
