<div class="row" ng-controller="assetItemTypeListController">
    <div class="col-md-12 panel panel-default panel-primary">
        <div class="col-lg-12 panel-body">
            <span ng-repeat="command in commandList">
                <span ng-if="command.IsGeneral === true">
                    <button ng-click="(command.HasView) ? openCommandTab(command, tab.id, 'Asset_Item_Type',{}): ((command.DisplayName == 'Refresh')? init() : exportData())">
                        <span>{{command.CommandName}}</span>
                    </button>
                </span>
            </span>
        </div>

        <div class="col-lg-12 panel-body font-asa-12">
            <table style="width: 98%" datatable="ng" dt-options="itemTypeListController.dtOptions" dt-column-defs="itemTypeListController.dtColumnDefs"
                   class="table table-striped table-bordered table-hover table-asa">
                <thead>
                    <tr>
                        <th ng-if="hasNonGeneralCommands">Actions</th>
                        <th>Item Type Name</th>
                        <th>Short Code</th>
                        <th>Category</th>
                        <th>Status</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="itemType in itemTypeList">
                        <td ng-if="hasNonGeneralCommands && itemType.Status != -2">
                            <span ng-repeat="command in commandList">
                                <span ng-if="command.IsGeneral !== true" ng-click="(command.HasView) ? openCommandTab(command, tab.id, 'Asset_Item_Type',{'editItemTypeId':itemType.Id}): handleNonGeneralActions(command.CommandName, itemType)">
                                    <i class="{{command.IconClass}} asa-icon-{{command.CommandName}}" title="{{command.CommandName}}"></i>
                                </span>
                            </span>
                        </td>

                        <td ng-if="hasNonGeneralCommands && itemType.Status == -2">
                            <span ng-repeat="command in customCommandList">
                                <span ng-if="command.IsGeneral !== true" ng-click="(command.HasView) ? openCommandTab(command, tab.id, 'Asset_Item_Type',{'editItemTypeId':itemType.Id}): handleNonGeneralActions(command.CommandName, itemType)">
                                    <i class="{{command.IconClass}} asa-icon-{{command.CommandName}}" title="{{command.CommandName}}"></i>
                                </span>
                            </span>
                        </td>
                        <td>{{itemType.Name}}</td>
                        <td>{{itemType.ShortName}}</td>
                        <td>{{itemType.CategoryName}}</td>                        
                        <td class="danger" ng-if="itemType.Status == AssetConfig.ItemTypeStatus.Inactive">
                            Inactive
                        </td>
                        <td class="danger" ng-if="itemType.Status == -2">
                            Deleted
                        </td>
                        <td class="success" ng-if="itemType.Status == AssetConfig.ItemTypeStatus.Active">
                            Active
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteitemType()"></button>
                </div>
            </div>
        </div>
    </div>
</div>