<div class="row" ng-controller="chartOfAccountListController">
    <div>

        <div ng-if="listViewShown">
            <label>Select Chart of Accounts View: </label>
            <div>
                <input type="radio" ng-model="coaView" name="coaView" ng-init="coaView = 'tView'" value="tView" ng-click="onChange(coaView)"> Tree &nbsp;&nbsp;&nbsp;
                <input type="radio" ng-model="coaView" name="coaView" value="lView" ng-click="onChange(coaView)"> List
            </div> <br />
        </div>



        <div ng-if="!coaView || coaView == 'tView'">
            <div class="selected-node-container">
                <span>Selected Chart of Accounts : <strong ng-show="isNodeSelected">{{mytree.currentNode.Name}}</strong></span>
                <input type="hidden" id="myid" ng-model="mytree.currentNode.Id" name="{{mytree.currentNode.Name}}" value="{{mytree.currentNode.Id}}" title="{{mytree.currentNode.Code}}">
            </div>
            <div>
                <input ng-model="search.treeViewSearchQuery"
                       ng-model-options='{ debounce: 1500 }'
                       ng-change="searchTreeView(search.treeViewSearchQuery)"
                       ng-keypress="nextSearchResult()"
                       class="form-control form-control-asa-search-sm"
                       value=""
                       type="text"
                       placeholder="Search COA head..." />
                <img id="search-icon" style="display: none;" class="form-search-icon" ng-src="{{locationStr+'/Content/Images/loading.gif'}}"/>
            </div>

            <!--
            [TREE attribute]
            angular-treeview: the treeview directive
            tree-id : each tree's unique id.
            tree-model : the tree model on $scope.
            node-id : each node's id
            node-label : each node's label
            node-children: each node's children
            -->
            <div data-angular-treeview="true"
                 data-tree-id="mytree"
                 data-tree-model="treeViewList"
                 data-node-id="Id"
                 data-node-label="Name"
                 data-node-children="Childrens"
                 data-search-query='treeSearchQuery'
                 data-collapsed="true">
            </div>
        </div>


        <div class="panel panel-default" ng-if="coaView == 'lView'">
            <div class="selected-node-container">
                <span>Selected Chart of Accounts : <strong>{{NodeName}}</strong></span>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <!--<input id="searchQuery" type="text" placeholder="Search COA ..." onkeyup="searchTable()" title="Type in a name"/>-->
                    <input type="text" class="form-control" placeholder="Search COA head..." ng-model="searchCOA"> <br />
                </div>
            </div>
            <div class="coa-table-container">

                <table id="tblMain" class="table table-fixed table-bordered table-asa table-scroll-product table-hover">
                    <thead>
                        <tr>
                            <th class="col-xs-2">Code</th>
                            <th class="col-xs-8">Name</th>
                            <th class="col-xs-2">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="selectedClass($index)" ng-click="onClick($index, tree.FullNodeName)" ng-repeat="tree in listView | filter:searchCOA">
                            <td>{{tree.Code}}</td>
                            <td style="white-space: pre">{{tree.Name}}</td>
                            <td>
                                <span ng-if="tree.AccountType==1">
                                    Asset
                                </span>
                                <span ng-if="tree.AccountType==2">
                                    Liability
                                </span>
                                <span ng-if="tree.AccountType==3">
                                    Income
                                </span>
                                <span ng-if="tree.AccountType==4">
                                    Expense
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>



