<div class="container">
    <div class="row" ng-controller="salaryStructureListController">

        <div class="col-md-12 panel panel-default panel-primary ">
            <div class="col-lg-12 panel-body">
                <span ng-repeat="command in commandList">
                    <span ng-if="command.IsGeneral === true">
                        <button ng-click="(command.HasView)? openCommandTab(command, tab.id, 'salaryStructure',{}) : ((command.DisplayName == 'Refresh')? Init() : exportData())"><span>{{command.CommandName}}</span></button>
                    </span>
                </span>
                <div>
                    <button  class="btn btn-asa pull-right" ng-click="searchSalaryStructures()">Search</button>
                </div>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="form-group">

                    <div class="form-inline">
                        <label for="offcename" class="col-md-4 col-sm-12">
                            Office Name
                        </label>
                        <angucomplete-alt id="offcename"
                                          placeholder="Search Offices"
                                          pause="100"
                                          selected-object="searchOptions.Branch"
                                          local-data="AllBranch"
                                          search-fields="Name"
                                          title-field="Name"
                                          minlength="1"
                                          input-class="form-control-asa form-control-small col-md-8 col-sm-12"/>

                        <!--<button class="btn btn-default add-remove-user-btn" ng-click="clearSearch()"><i class="fa fa-times-circle add-remove-loan-field"></i></button>-->
                    </div>
                </div>
            </div>


                    <div class="col-lg-12 col-md-12 col-sm-12 panel-body font-asa-12 table-test">
                        <table datatable="ng" dt-options="salaryStructureListController.dtOptions" dt-column-defs="salaryStructureListController.dtColumnDefs"
                               class="table table-striped table-bordered table-hover table-asa">
                            <thead>
                                <tr>
                                    <th ng-if="hasNonGeneralCommands">Actions</th>
                                    <th>EmployeeId</th>
                                    <th>Employee Name</th>
                                    <th>Branch</th>
                                    
                                    <th>Employee Designation</th>
                                    <th>Reason</th>
                                    <th>Opening Date</th>
                                    <th>Closing Date</th>
                                    <th>Office Code</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="salaryStructure in salaryStructureList">
                                    <td ng-if="hasNonGeneralCommands && salaryStructure.Status != -2">
                                        <span ng-repeat="command in commandList">
                                            <span ng-if="command.IsGeneral !== true" ng-click="(command.HasView) ? openCommandTab(command, tab.id, 'salaryStructure',{'editemployeesalaryStructure':salaryStructure,'command':command.CommandName}): handleNonGeneralActions(command.CommandName, salaryStructure)">
                                                <i class="{{command.IconClass}} asa-icon-{{command.CommandName}}" title="{{command.ToolTip}}"></i>
                                            </span>
                                        </span>
                                    </td>

                                    <td ng-if="hasNonGeneralCommands && salaryStructure.Status == -2 ">
                                        <span ng-repeat="command in customCommandList">
                                            <span ng-if="command.IsGeneral !== true" ng-click="(command.HasView) ? openCommandTab(command, tab.id, 'salaryStructure',{'editemployeesalaryStructure':salaryStructure,'command':command.CommandName}): handleNonGeneralActions(command.CommandName, salaryStructure)">
                                                <i class="{{command.IconClass}} asa-icon-{{command.CommandName}}" title="{{command.ToolTip}}"></i>
                                            </span>
                                        </span>
                                    </td>

                                    <td>{{salaryStructure.EmployeeId}}</td>
                                    <td>{{salaryStructure.EmployeeName}}</td>
                                    <td>{{salaryStructure.OfficeName}}</td>
                                    
                                    <td>{{salaryStructure.EmployeeDesignation}}</td>
                                    <td>{{salaryStructure.Reason}}</td>
                                    <td>{{salaryStructure.StartDate}}</td>
                                    <td>{{salaryStructure.EndDate}}</td>
                                    <td>{{salaryStructure.OfficeCode}}</td>
                                    <td class="danger" ng-if="salaryStructure.Status !== 1">
                                        Inactive
                                    </td>

                                    <td class="success" ng-if="salaryStructure.Status === 1">
                                        Active
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>
