<div class="container">
    <div class="row" ng-controller="employeeReceiveListController">
        <div class="col-md-12 panel panel-default panel-primary">
            <div class="col-lg-12 panel-body">
                <span ng-repeat="command in commandList">
                    <span ng-if="command.IsGeneral === true">
                        <button ng-click="(command.HasView)?checkfornullemployeeIdPassBeforeAdd(command): ((command.DisplayName == 'Refresh')? Init() : exportData())"><span>{{command.CommandName}}</span></button>
                    </span>
                </span>
                <div class="col-lg-12 col-md-12 col-sm-12 panel-body font-asa-12">
                    <table style="width: 100%" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
                           class="pro-table table-striped table-bordered table-hover table-asa">
                        <thead>
                        <tr>
                            <th>Action</th>
                            <th>Employee ID</th>
                            <th>EmployeeName</th>
                            <th>Transfer Date</th>
                            <th>From District</th>
                            <th>From Branch</th>
                            <th>Letter No</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="transferEmployee in transferEmployees">
                            <td ng-if="hasNonGeneralCommands">
                                <span ng-repeat="command in commandList" >
                                        <span ng-if="command.IsGeneral !== true"  ng-click="(command.HasView) ? openCommandTab(command, tab.id, 'EmployeeTransfer',{'receiveEmployeeTransfer':transferEmployee}): handleNonGeneralActions(command.CommandName, transferEmployee)">
                                            <button ng-if="transferEmployee.Status === 1" class="{{command.IconClass}} asa-icon-{{command.CommandName}}" title="{{command.ToolTip}}"></button>
                                        </span>
                                    </span>
                            </td>

                            <td>{{transferEmployee.EmployeeId}}</td>
                            <td>{{transferEmployee.EmployeeName}}</td>
                            <td>{{transferEmployee.formattedTransferDate}}</td>
                            <td>{{transferEmployee.FromDistrictName}}</td>
                            <td>{{transferEmployee.FromBranchName }}</td>
                            <td>{{transferEmployee.LetterNo}}</td>

                            <td class="danger" ng-if="transferEmployee.Status === 2 || transferEmployee.Status === 4">
                                {{transferEmployee.StatusName}}
                            </td>
                            <td class="success" ng-if="transferEmployee.Status === 3">
                                {{transferEmployee.StatusName}}
                            </td>
                            <td class="info" ng-if="transferEmployee.Status === 1">
                                {{transferEmployee.StatusName}}
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
