<div class="container">
    <div class="row" ng-controller="employeeListController">
        <div class="col-md-12 panel panel-default panel-primary">
            <div class="col-lg-12 panel-body">
                <span ng-repeat="command in commandList">
                    <span ng-if="command.IsGeneral === true">
                        <button ng-click="(command.HasView)? openCommandTab(command, tab.id, 'employee',{}) : ((command.DisplayName == 'Refresh')? Init() : exportData())"><span>{{command.CommandName}}</span></button>
                    </span>
                </span>
                <form>
                    <div ng-show="showSearch" style="margin-top:10px;">
                        <div class="col-lg-12 col-md-12 col-sm-12" ng-repeat="i in getNumber(number) track by $index ">
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <div class="form-inline">
                                    <select class="form-control-asa-search col-md-8 col-sm-12"
                                            id="filterFirstColumnName"
                                            ng-model="searchArr[$index].filterColumnName"
                                            name="{{'filterFirstColumnName' + $index}}">
                                        <option value="" disabled selected>Select Column</option>



                                        <option value="B.Name">
                                            Branch
                                        </option>
                                        <option selected="selected" value="E.Name">
                                            Name
                                        </option>
                                        <option value="E.Code">
                                            Code
                                        </option>
                                        <option value="D.Name">
                                            Department
                                        </option>
                                        <option value="DS.Name">
                                            Designation
                                        </option>
                                        <option value="G.Name">
                                            Grade
                                        </option>
                                        
                                        <option value="E.MobilePhoneNo">
                                            Mobile Phone
                                        </option>
                                        <option value="E.Status">
                                            Status
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <div class="form-inline">
                                    <select class="form-control-asa-search col-md-8 col-sm-12"
                                            id="firstComparison"
                                            ng-model="searchArr[$index].comparison"
                                            name="{{'Comparison' + $index}}">
                                        <option value="" disabled selected>Select Comparison</option>
                                        <option selected="selected" value="like">
                                            Contains
                                        </option>
                                        <option value="not like">
                                            Not Contains
                                        </option>
                                        <option value="=">
                                            Equals
                                        </option>
                                        <option value="<>">
                                            Not Equals
                                        </option>
                                        <!--<option value="greaterThan">
                                            Greater Than
                                        </option>
                                        <option value="lessThan">
                                            Less Than
                                        </option>-->
                                        <option value="starts with">
                                            Starts With
                                        </option>
                                        <option value="ends with">
                                            Ends With
                                        </option>
                                        <!--<option value="isNull">
                                            Is Null
                                        </option>
                                        <option value="isNotNull">
                                            Is Not Null
                                        </option>-->
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <input type="text"
                                       name="{{'SearchValue' + $index}}"
                                       ng-model="searchArr[$index].searchValue"
                                       class="width-asa col-md-8 col-sm-12"
                                       id="firstSearchValue">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <label class="radio-inline">
                                    <input type="radio"
                                           ng-model="searchArr[$index].radioOption"
                                           name="{{'opradio' + $index}}"
                                           value="and">
                                    and
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"
                                           ng-model="searchArr[$index].radioOption"
                                           name="{{'opradio' + $index}}"
                                           value="or">
                                    or
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-asa-default btn-top-margin" ng-click="reloadPage()" style="float: right">
                                Refresh
                            </button>
                            <button class="btn btn-asa btn-top-margin" ng-click="searchEmployee()" style="float: right">
                                Submit
                            </button>
                            <button class="btn btn-asa btn-top-margin" ng-click="showSearch=false">
                                Simple Search
                            </button>
                        </div>
                    </div>
                    <div ng-hide="showSearch" style="margin-top: 10px;">
                        <button class="btn btn-asa" ng-click="showSearch=true">Advanced Search</button>
                    </div>
                </form>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 panel-body font-asa-12 ">
                <table style="width: 100%" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
                       class="table table-striped table-bordered table-hover table-asa emp-list-font">
                    <thead>
                        <tr>
                            <th ng-if="hasNonGeneralCommands">Actions</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Branch</th>
                            <th>Department</th>
                            <th>Grade</th>
                            <th>Designation</th>
                            <th>Sex</th>
                            <th>Mobile Phone</th>
                            <th>Blood Group</th>
                            <th>Status</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="employee in employeeList |orderBy:'-employeeStatus'">
                            <td ng-if="hasNonGeneralCommands && employee.employeeStatus != -2">
                                <span ng-repeat="command in commandList">
                                    <span ng-if="command.IsGeneral !== true" ng-click="(command.HasView) ? openCommandTab(command, tab.id, 'employee',{'editEmployeeId':employee.Id}): handleNonGeneralActions(command.CommandName, employee)">
                                        <i class="{{command.IconClass}} asa-icon-{{command.CommandName}}" title="{{command.ToolTip}}"></i>
                                    </span>
                                </span>
                            </td>

                            <td ng-if="hasNonGeneralCommands  && employee.employeeStatus == -2">
                                <span ng-repeat="command in customCommandList">
                                    <span ng-if="command.IsGeneral !== true" ng-click="(command.HasView) ? openCommandTab(command, tab.id, 'employee',{'editEmployeeId':employee.Id}): handleNonGeneralActions(command.CommandName, employee)">
                                        <i class="{{command.IconClass}} asa-icon-{{command.CommandName}}" title="{{command.ToolTip}}"></i>
                                    </span>
                                </span>
                            </td>
                            <td>{{employee.Code}}</td>
                            <td>{{employee.Name}}</td>
                            <td>{{employee.Branch}}</td>
                            <td>{{employee.Department}}</td>
                            <td>{{employee.Grade}}</td>
                            <td>{{employee.Designation}}</td>
                            <td>{{employee.Sex === 1 ? 'Male' : 'Female'}}</td>
                            <td>{{employee.MobilePhoneNo}}</td>

                            <td ng-if="employee.BloodGroup===111">Others</td>
                            <td ng-if="employee.BloodGroup===1">A+</td>
                            <td ng-if="employee.BloodGroup===2">A-</td>
                            <td ng-if="employee.BloodGroup===3">AB+</td>
                            <td ng-if="employee.BloodGroup===4">AB-</td>
                            <td ng-if="employee.BloodGroup===5">B+</td>
                            <td ng-if="employee.BloodGroup===6">B-</td>
                            <td ng-if="employee.BloodGroup===7">O+</td>
                            <td ng-if="employee.BloodGroup===8">O-</td>
                           

                            
                            <td class="danger" ng-if="employee.employeeStatus == 0">
                                Inactive
                            </td>
                           
                            <td class="success" ng-if="employee.employeeStatus === 1">
                                Active
                            </td>

                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteEmployee()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


