<div class="container">
    <div class="row" ng-controller="feeListController">
        <div class="col-md-12 panel panel-default panel-primary">
            <div class="col-lg-12 panel-body">
                <span ng-repeat="command in commandList">
                    <span ng-if="command.IsGeneral === true">
                        <button ng-click="(command.HasView)? openCommandTab(command, tab.id, 'Fee',{}) : ((command.DisplayName == 'Refresh')? Init() : exportData())"><span>{{command.CommandName}}</span></button>
                    </span>
                </span>

                <div class="col-lg-12 col-md-12 col-sm-12 panel-body font-asa-12">
                    <table style="width: 100%" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
                           class="pro-table table-striped table-bordered table-hover table-asa">
                        <thead>
                            <tr>
                                <th ng-if="hasNonGeneralCommands">Actions</th>
                                <th>Name</th>
                                <th>Charge Type</th>
                                <th>Applied To</th>
                                <th>Time Of Charge</th>
                                <th>Calculation Method</th>
                                <th>Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fee in fees">
                                <td ng-if="hasNonGeneralCommands">
                                    <span ng-repeat="command in commandList">
                                        <span ng-if="command.IsGeneral !== true" ng-click="(command.HasView) ? openCommandTab(command, tab.id, 'fee',{'editFeetId':fee.Id}): handleNonGeneralActions(command.CommandName, fee)">
                                            <i class="{{command.IconClass}} asa-icon-{{command.CommandName}}" title="{{command.ToolTip}}"></i>
                                        </span>
                                    </span>
                                </td>

                                <td ng-if="hasNonGeneralCommands && product.StatusStr =='Deleted'">
                                    <span ng-repeat="command in customCommandList">
                                        <span ng-if="command.IsGeneral !== true" ng-click="(command.HasView) ? openCommandTab(command, tab.id, 'fee',{'editFeetId':fee.Id}): handleNonGeneralActions(command.CommandName, fee)">
                                            <i class="{{command.IconClass}} asa-icon-{{command.CommandName}}" title="{{command.ToolTip}}"></i>
                                        </span>
                                    </span>
                                </td>
                                <td>{{fee.Name}}</td>
                                <td>{{type[fee.ChargeType-1].text}}</td>
                                <td>{{appliesTo[fee.AppliedTo-1].text}}</td>
                                <td>{{timeOfCharge[fee.TimeOfCharge-1].text}}</td>
                                <td>{{feeCalculationMethod[fee.CalculationMethod-1].text}}</td>
                                <td>{{fee.Status===1?'Active':'Inactive'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
