<div class="container">
    <div class="row" ng-controller="savingsProductListController">
        <div class="col-md-12 panel panel-default panel-primary">
            <div class="col-lg-12 panel-body">
                <span ng-repeat="command in commandList">
                    <span ng-if="command.IsGeneral === true">
                        <button ng-click="(command.HasView)? openCommandTab(command, tab.id, 'Savings_product',{}) : ((command.DisplayName == 'Refresh')? Init() : exportData())"><span>{{command.CommandName}}</span></button>
                    </span>
                </span>
                <div class="col-lg-12 col-md-12 col-sm-12 panel-body font-asa-12">
                    <table style="width: 100%" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
                           class="pro-table table-striped table-bordered table-hover table-asa">
                        <thead>
                            <tr>
                                <th ng-if="hasNonGeneralCommands">Actions</th>
                                <th>Product #</th>
                                <th>Savings Type</th>
                                <th>Name</th>
                                <th>Short Name</th>
                                <th>Start Date</th>
                                <th>Version</th>
                                <th>Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in products">
                                <td ng-if="hasNonGeneralCommands && product.StatusStr !='Deleted'">
                                    <span ng-repeat="command in commandList">
                                        <span ng-if="command.IsGeneral !== true" ng-click="(command.HasView) ? openCommandTab(command, tab.id, 'Savings_product',{'editSavingsProductId':product.Id}): handleNonGeneralActions(command.CommandName, product)">
                                            <i class="{{command.IconClass}} asa-icon-{{command.CommandName}}" title="{{command.ToolTip}}"></i>
                                        </span>
                                    </span>
                                </td>

                                <td ng-if="hasNonGeneralCommands && product.StatusStr =='Deleted'">
                                    <span ng-repeat="command in customCommandList">
                                        <span ng-if="command.IsGeneral !== true" ng-click="(command.HasView) ? openCommandTab(command, tab.id, 'Savings_product',{'editSavingsProductId':product.Id}): handleNonGeneralActions(command.CommandName, product)">
                                            <i class="{{command.IconClass}} asa-icon-{{command.CommandName}}" title="{{command.ToolTip}}"></i>
                                        </span>
                                    </span>
                                </td>


                                <td>{{product.ProductId}}</td>
                                <td>{{product.SavingsTypeStr}}</td>
                                <td>{{product.Name}}</td>
                                <td>{{product.ShortName}}</td>
                                <td>{{product.StartDate}}</td>
                                <td>{{product.VersionId}}</td>
                                <td>{{product.StatusStr}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
