.btn-asa {
    background-color: #b79267;
    border-color: #ccc;
    color: #dff5ec;
}

    .btn-asa:hover {
        background: #5E4B23;
        color: #FFF;
        cursor: pointer;
    }

.form-group-no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.input-block-level-select {
    border: 2px;
    bottom: 0;
    display: inline-block;
    height: 100%;
    left: 50%;
    margin-left: 0;
    min-height: 28px;
    overflow: hidden;
    padding-right: 25px;
    text-align: left;
    width: 100%;
    z-index: 1;
}

.login-page-panel-heading {
    background-color: #aed3f0;
    border-color: #ddd;
    color: #333;
    text-align: center;
}

.login-userid-label {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    padding-top: 15px;
}

.panel-login-page {
    background-color: #aed3f0;
    border-color: #ddd;
    margin-top: 50px;
    padding-top: 60px;
}

.panel-unauthorized-page {
    background-color: #aed3f0;
    border-color: #ddd;
    margin-top: 50px;
    padding-top: 20px;
}

h3.unauthorized {
    text-align: center;
    color: #d61818;
}

p.p-unauthorized {
    text-align: center;
    color: #793d07;
}
