<div id="trans-statement-panel" class="panel panel-default panel-primary" ng-controller="transactionStatementController">
    <!--<div class="panel-heading panel-title">
        Transaction Statement
    </div>-->
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form-inline">
                    <label class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                        From
                    </label>
                    <div class="dropdown input-group date width-asa">
                        <p class="input-group date-input-group">
                            <input readonly="readonly" class="form-control-asa full-width-asa" type="text"
                                   uib-datepicker-popup="{{format}}" ng-model="filter.fromDate" is-open="fromPop.opened"
                                   datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats"
                                   ng-change="getLoanOfficerByBranch(false);"/>
                            <span class="input-group-addon input-group-addon-asa">
                                <button type="button" ng-click="fromPopper()"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form-inline">
                    <label class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                        To
                    </label>
                    <div class="dropdown input-group date width-asa">
                        <p class="input-group date-input-group">
                            <input readonly="readonly" class="form-control-asa full-width-asa" type="text"
                                   uib-datepicker-popup="{{format}}" ng-model="filter.toDate" is-open="toPop.opened"
                                   datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats"
                                   ng-change="getLoanOfficerByBranch(false);"/>
                            <span class="input-group-addon input-group-addon-asa">
                                <button type="button" ng-click="toPopper()"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form-group">
                    <div class="form-inline">
                        <label for="ts-product-type" class="label-form-control-asa col-lg-6 col-md-6 col-sm-12">
                            Product Type
                        </label>
                        <select id="ts-product-type" class="half-width-asa form-control form-control-asa col-lg-6 col-md-6 col-sm-12"
                                ng-model="filter.productType" ng-options="prodType.value as prodType.text for prodType in productTypeList"
                                ng-change="getProductNameByType()"></select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form-group">
                    <div class="form-inline">
                        <label for="ts-product" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                            Product
                        </label>
                        <select id="ts-product" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                ng-model="filter.product" ng-options="prod.Value as prod.Name for prod in productList"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <span class="badge">Entities</span>
                <div class="filter-form">
                    <div class="form-group">
                        <div class="form-inline">
                            <label for="ts-loan-officer" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                                Loan Officer
                            </label>
                            <select id="ts-loan-officer" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                    ng-model="filter.loanOfficer" ng-options="lo.Value as lo.Name for lo in loanOfficerList"
                                    ng-change="getGroupsByLoanOfficer(filter.loanOfficer)"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-inline">
                            <label for="st-group" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                                Group
                            </label>
                            <select id="st-group" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                    ng-model="filter.group" ng-options="g.Value as g.Name for g in groupList"
                                    ng-change="getMembersByGroupId(filter.loanOfficer, filter.group)"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-inline">
                            <label for="st-member" class="label-form-control-asa col-lg-4 col-md-4 col-sm-12">
                                Member
                            </label>
                            <select id="st-member" class="width-asa form-control form-control-asa col-lg-8 col-md-8 col-sm-12"
                                    ng-model="filter.member" ng-options="m.Value as m.Name for m in memberList"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <span class="badge">Transaction Process</span>
                <div class="filter-form">
                    <div class="form-group">
                        <div class="form-inline">
                            <select id="ts-process" class="width-asa-notes form-control form-control-asa col-lg-12 col-md-12 col-sm-12" multiple="multiple" size="6"
                                    ng-model="filter.transactionProcess" ng-options="tran.value as tran.text for tran in transactionProcessList"
                                    ng-change="onTransactionProcessChange()"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <span class="badge">Transaction Type</span>
                <div class="filter-form">
                    <div class="form-group">
                        <div class="form-inline">
                            <select id="ts-type" class="width-asa-notes form-control form-control-asa col-lg-12 col-md-12 col-sm-12" multiple="multiple" size="6"
                                    ng-model="filter.transactionType" ng-options="tran.value as tran.text for tran in transactionTypeList"
                                    ng-change="onTransactionTypeChange()"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="margin-top: 3px;" class="col-lg-2 col-md-2 col-sm-4">
                <label style="font-size: 14px; padding-left: 0;" for="ts-loan-officer" class="label-form-control-asa col-lg-12 col-md-12 col-sm-12">
                    Date Range Type
                </label>
            </div>
            <div style="margin-top: 6px;" class="col-lg-2 col-md-2 col-sm-4">
                <input type="radio" name="date-type" value="branch" checked="checked" ng-click="changeDateType('branch')" /> Branch Date
            </div>
            <div style="margin-top: 6px;" class="col-lg-2 col-md-2 col-sm-4">
                <input type="radio" name="date-type" value="trans" ng-click="changeDateType('trans')" /> Transaction Date
            </div>
            <div class="col-lg-6 col-md-6 hidden-sm">
                <hr />
            </div>
        </div>
        <div class="row">
            <div style="margin-top: 6px;" class="col-lg-2 col-md-2 col-sm-4">
                <input type="radio" name="view-type" value="current" checked="checked" ng-click="changeViewType('current')"/> Current View
            </div>
            <div style="margin-top: 6px;" class="col-lg-2 col-md-2 col-sm-4">
                <input type="radio" name="view-type" value="details" ng-click="changeViewType('details')"/> Details View
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4">
                <button class="btn-asa-normal pull-left" ng-click="export()">Export</button>
                <button class="btn-asa-normal pull-left" ng-click="getTransactionStatements()">Show</button>
            </div>
            <div class="col-lg-6 col-md-6 hidden-sm">
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 panel-body">
                <table id="trans-statement-table" style="width: 100%" datatable="ng"
                       class="table table-striped table-bordered table-hover table-asa emp-list-font">
                    <thead>
                    <tr>
                        <th style="display: none;"></th>
                        <th>S#</th>
                        <th>Account#</th>
                        <th>Date</th>
                        <th>Branch Date</th>
                        <th>Loan Officer</th>
                        <th>Group</th>
                        <th>Member</th>
                        <th>Product</th>
                        <th>Process</th>
                        <th>Type</th>
                        <th>Credit</th>
                        <th>Debit</th>
                        <th>Rectification</th>
                        <th ng-show="showTransactionIds">Transaction ID</th>
                        <th ng-show="showTransactionIds">Ref. Transaction ID</th>
                        <th style="border-left: none;"><i ng-class="toggleTransactionArrow()" class="fa icon-arrow-inner" title="Show/Hide Transaction ID" ng-click="toggleTransactionId()"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="statement in transactionStatements" ng-class="styleTotalRow(statement.TransactionDate)">
                        <td style="display: none;">{{($index + 1)}}</td>
                        <td>{{placeIndex(statement.TransactionDate, $index)}}</td>
                        <td title="Transaction ID: {{statement.TransactionId}}">{{statement.AccountId}}</td>
                        <td>{{statement.TransactionDate}}</td>
                        <td>{{statement.BranchWorkingDate}}</td>
                        <td>{{statement.LoanOfficer}}</td>
                        <td>{{statement.Group}}</td>
                        <td>{{statement.Member}}</td>
                        <td>{{statement.Product}}</td>
                        <td>{{statement.TransactionProcess}}</td>
                        <td>{{statement.TransactionType}}</td>
                        <td>{{statement.Credit}}</td>
                        <td>{{statement.Debit}}</td>
                        <td>{{statement.Reversed}}</td>
                        <td ng-show="showTransactionIds">{{statement.TransactionId}}</td>
                        <td ng-show="showTransactionIds">{{statement.ReferenceTransactionId}}</td>
                        <td style="border-left: none;"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
