<div class="row" ng-controller="paySalaryAddController">
<h5><i class="fa fa-asterisk required-icon"></i> Required field</h5>
<div class="panel-body font-asa-11">
<form angular-validator-submit="payEmployeeSalary()" name="payEmployeeSalaryForm" class="form-horizontal" novalidate angular-validator>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingGeneral">
        <h4 class="panel-title">

            Basic Information<i class="fa fa-asterisk required-icon"></i>


        </h4>
    </div>

    <div class="panel-body">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-inline">
                    <label for="branchId" class="col-md-4 col-sm-12">
                        Branch <i class="fa fa-asterisk required-icon"></i>
                    </label>
                    <select tabindex="1" name="branchId"
                            ng-model="paySalaryToAdd.OfficeCode"
                            class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                            ng-change="onBranchChange(paySalaryToAdd.OfficeCode)"
                            ng-options="branch.Value as branch.Name for branch in filters.Branches"
                            id="branchId" placeholder="Branch"
                            required>
                        <option value="">--Select Branch--</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-inline">
                    <label for="employeeId" class="col-md-4 col-sm-12">
                        Employee <i class="fa fa-asterisk required-icon"></i>
                    </label>
                    <select tabindex="1" name="employeeId"
                            ng-model="paySalaryToAdd.EmployeeId"
                            class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                            ng-change="onEmployeeChange(paySalaryToAdd.TransactionDateTime,paySalaryToAdd.EmployeeId,paySalaryToAdd.SalaryYear,paySalaryToAdd.SalaryMonth,paySalaryToAdd.Date)"
                            ng-options="employee.Value as employee.Name for employee in filters.Employees"
                            id="employeeId" placeholder="Employee"
                            required>
                        <option value="">--Select employee--</option>
                    </select>
                </div>
            </div>
        </div>

        <!--<div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-inline">
                    <label for="bankName" class="col-md-4 col-sm-12">
                        Bank Name 
                    </label>
                    <select tabindex="1" name="bankName"
                            ng-model="paySalaryToAdd.BankName"
                            class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                            ng-change="onBranchChange(paySalaryToAdd.OfficeCode)"
                            ng-options="bank.Value as bank.Name for bank in filters.Banks"
                            id="bankName" placeholder="Branch"
                            >
                        <option value="">--Select Bank--</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-inline">
                    <label for="accountNo" class="col-md-4 col-sm-12">
                        Account No 
                    </label>
                    <select tabindex="1" name="accountNo"
                            ng-model="paySalaryToAdd.BankAccount"
                            class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                            ng-options="accountNumber.Value as accountNumber.Name for accountNumber in filters.AccountNumbers"
                            id="accountNo" placeholder="Employee"
                            >
                        <option value="">--Select Account Number--</option>
                    </select>
                </div>
            </div>
        </div>-->

        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <div class="form-inline">
                    <label for="year" class="col-md-4 col-sm-12">
                        Year <i class="fa fa-asterisk required-icon"></i>
                    </label>
                    <select tabindex="1" name="year"
                            ng-model="paySalaryToAdd.SalaryYear"
                            class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                            ng-options="year.Value as year.Name for year in filters.Years"
                            id="year" placeholder="Years"
                            required>
                        <option value="">--Select Year--</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <div class="form-inline">
                    <label for="month" class="col-md-4 col-sm-12">
                        Month <i class="fa fa-asterisk required-icon"></i>
                    </label>
                    <select tabindex="1" name="month"
                            ng-model="paySalaryToAdd.SalaryMonth"
                            class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                            ng-options="month.Value as month.Name for month in filters.Months"
                            id="month" placeholder="Months"
                            required>
                        <option value="">--Select Month--</option>
                    </select>
                </div>
            </div>
        </div>

        <!--<div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <div class="form-inline">
                    <label for="date" class="col-md-4 col-sm-12">
                        Date <i class="fa fa-asterisk required-icon"></i>
                    </label>
                    <select tabindex="1" name="date"
                            ng-model="paySalaryToAdd.Date"
                            class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                            ng-change="onDateChange(paySalaryToAdd.TransactionDateTime,paySalaryToAdd.EmployeeId,paySalaryToAdd.SalaryYear,paySalaryToAdd.SalaryMonth,paySalaryToAdd.Date)"
                            ng-options="date.Value as date.Name for date in filters.Dates"
                            id="date" placeholder="Dates"
                            required>
                        <option value="">--Select Date--</option>
                    </select>
                </div>
            </div>
        </div>-->

        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <div class="form-inline">
                    <label class="col-md-4 col-sm-12">
                        Date<i class="fa fa-asterisk required-icon"></i>
                    </label>
                    <div class="dropdown input-group date width-asa">
                        <p class="input-group">
                            <input ng-change="startDateValidator()"
                                   readonly="readonly" class="form-control-asa full-width-asa" type="text" uib-datepicker-popup="{{format}}"
                                   ng-model="paySalaryToAdd.Date" is-open="popupStartDate.opened" datepicker-options="dateOptions" close-text="Close"
                                   alt-input-formats="altInputFormats"/>
                            <span class="input-group-addon input-group-addon-asa">
                                <button type="button" ng-click="openStartDate()"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <div class="form-inline">
                    <a class="btn btn-asa pull-right" ng-click="loadSalaryInformation(paySalaryToAdd.TransactionDateTime,paySalaryToAdd.EmployeeId,paySalaryToAdd.SalaryYear,paySalaryToAdd.SalaryMonth,paySalaryToAdd.Date)">Load</a>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSpecial">
        <h4 class="panel-title">

            Salary,Allowance & Deduction <i class="fa fa-asterisk required-icon"></i>


        </h4>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h5>Salary & Allowance</h5>
                <table class="table table-bordered table-hover table-asa">
                    <thead>
                        <tr>
                            <th style="width: 15px;">S#</th>
                            <th style="width: 175px;">Particulars</th>
                            <th style="width: 110px;">Description</th>
                            <th style="width: 110px;">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="accountType in paySalaryToAdd.allowanceAccounts">
                            <td style="width: 15px;">{{$index + 1}}</td>
                            <td style="width: 175px;">{{accountType.AccountTypeName}}</td>
                            <td style="width: 110px;"><input style="width: 110px;" class="from-control form-control-asa" type="text" ng-model="accountType.AccountNumber" /></td>
                            <td style="width: 110px;" ng-if="accountType.Status===0">
                                <input style="width: 110px; background-color: #feffed" class="from-control form-control-asa" type="number"  ng-model="accountType.PrincipalAmount" value="{{accountType.PrincipalAmount}}" />
                            </td>
                            <td style="width: 110px;" ng-if="accountType.Status!=0">
                                <input style="width: 110px;" class="from-control form-control-asa" type="number" ng-model="accountType.PrincipalAmount" value="{{accountType.PrincipalAmount}}" />
                            </td>
                        </tr>

                    </tbody>

                </table>




            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
                <h5>Deductions</h5>
                <table class="table table-bordered table-hover table-asa" style="margin-left: 10px;">
                    <thead>
                        <tr>
                            <th style="width: 10px;">S#</th>
                            <th style="width: 140px;">Particulars</th>
                            <th style="width: 90px;">Description</th>
                            <th style="width: 90px;">Amount</th>
                            <th style="width: 90px;">Penal/Service</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="accountType in paySalaryToAdd.deductionAccounts">
                            <td style="width: 10px;">{{$index + 1}}</td>
                            <td style="width: 140px;">{{accountType.AccountTypeName}}</td>
                            <td style="width: 90px;"><input style="width: 115px;" class="from-control form-control-asa" type="text" ng-model="accountType.AccountNumber" /></td>
                            <td style="width: 90px;" ng-if="accountType.Status===0">
                                <input style="width: 125px; background-color: #feffed" class="from-control form-control-asa" type="number" ng-model="accountType.PrincipalAmount" value={{accountType.PrincipalAmount}} />
                            </td>

                            <td style="width: 90px;" ng-if="accountType.Status!=0">
                                <input style="width: 125px;" class="from-control form-control-asa" type="number" ng-model="accountType.PrincipalAmount" value={{accountType.PrincipalAmount}} />
                            </td>
                            <td style="width: 90px;" ng-if="accountType.Status!=0">
                                <input style="width: 125px;" class="from-control form-control-asa" type="number" ng-model="accountType.ServiceCharge" value={{accountType.ServiceCharge}}/>
                            </td>
                            <td style="width: 90px;" ng-if="accountType.Status===0">
                                <input style="width: 125px; background-color: #feffed"  class="from-control form-control-asa" type="number" ng-model="accountType.ServiceCharge" value={{accountType.ServiceCharge}} />
                            </td>

                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
        

    </div>


</div>


<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingCheque">
        <h4 class="panel-title">

            Payment Information<i class="fa fa-asterisk required-icon"></i>


        </h4>
    </div>

    <div class="panel-body">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-inline">
                    <label for="processId" class="col-md-4 col-sm-12">
                        Process <i class="fa fa-asterisk required-icon"></i>
                    </label>
                    <select tabindex="1" name="processId"
                            ng-model="paySalaryToAdd.TransactionProcess"
                            class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                            
                            ng-options="process.Value as process.Name for process in filters.TransactionProcessFilter"
                            id="processId" placeholder="Process"
                            required>
                        <option value="">--Select Process--</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-inline" ng-if="paySalaryToAdd.TransactionProcess===2">
                    <label for="chequeNo" class="col-md-4 col-sm-12">
                        Cheque No <i class="fa fa-asterisk required-icon"></i>
                    </label>
                    <input type="text"
                           tabindex="1"
                           name="chequeNo"
                           ng-model="paySalaryToAdd.ChequeNo"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="chequeNo"
                           placeholder="Cheque Number"
                           required/>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-inline" ng-if="paySalaryToAdd.TransactionProcess===2">
                    <label for="bankAccount" class="col-md-4 col-sm-12">
                        Bank Account <i class="fa fa-asterisk required-icon"></i>
                    </label>
                    <select tabindex="1" name="employeeId"
                            ng-model="paySalaryToAdd.EmployerBankAccount"
                            class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                            ng-options="accountNumber.Value as accountNumber.Name for accountNumber in filters.EmployerBankAccount"
                            id="bankAccount" placeholder="Bank Account"
                            required>
                        <option value="">--Select Bank Account--</option>
                    </select>
                </div>
            </div>
        </div>



        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-inline" ng-if="paySalaryToAdd.TransactionProcess===2">
                    <label for="bankName" class="col-md-4 col-sm-12">
                       Employee Bank
                    </label>
                    <select tabindex="1" name="bankName"
                            ng-model="paySalaryToAdd.BankName"
                            class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                            ng-change="onEmployeeBankAccountChange(paySalaryToAdd.BankName)"
                            ng-options="bank.Value as bank.Name for bank in filters.Banks"
                            id="bankName" placeholder="Branch">
                        <option value="">--Select Bank--</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-inline" ng-if="paySalaryToAdd.TransactionProcess===2">
                    <label for="accountNo" class="col-md-4 col-sm-12">
                        Employee Bank Account 
                    </label>
                    <select tabindex="1" name="accountNo"
                            ng-model="paySalaryToAdd.BankAccount"
                            class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                            ng-options="accountNumber.Value as accountNumber.Name for accountNumber in filters.AccountNumbers"
                            id="accountNo" placeholder="Employee">
                        <option value="">--Select Account Number--</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSummary">
        <h4 class="panel-title">

            Summary Information


        </h4>
    </div>

    <div class="panel-body">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-inline">
                    <label for="totalpayment" class="col-md-4 col-sm-12">
                        Total Payment
                    </label>
                    <input type="text"
                           tabindex="1"
                           name="totalpayment"
                           readonly="readonly"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="totalpayment"
                           value={{getTotalAllowance()}}
                           />
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-inline">
                    <label for="totalDeduction" class="col-md-4 col-sm-12">
                        Total Deduction
                    </label>
                    <input type="text"
                           tabindex="1"
                           name="totalDeduction"
                           readonly="readonly"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="totalDeduction"
                           value={{getTotalDeduction()}}
                           />
                </div>
            </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-inline">
                    <label for="totalPaid" class="col-md-4 col-sm-12">
                        Total Paid
                    </label>
                    <input type="text"
                           tabindex="1"
                           name="totalPaid"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="totalPaid"
                           readonly="readonly"
                           value={{PaidAllowanceTotal}}
                           />
                </div>


            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-inline">
                    <label for="totalDeducted" class="col-md-4 col-sm-12">
                        Total Deducted
                    </label>
                    <input type="text"
                           tabindex="1"
                           name="totalDeducted"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="totalDeducted"
                           readonly="readonly"
                           value={{DeductedTotal}}
                           />
                </div>
            </div>
        </div>



        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-inline">
                    <label for="netSalaryPayable" class="col-md-4 col-sm-12">
                        Net Salary Payable
                    </label>
                    <input type="text"
                           tabindex="1"
                           name="netSalaryPayable"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="netSalaryPayable"
                           readonly="readonly"
                           value={{netPayableSalary()}}
                           />
                </div>


            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-inline">
                    <label for="netSalaryPaid" class="col-md-4 col-sm-12">
                        Net Salary Paid
                    </label>
                    <input type="text"
                           tabindex="1"
                           name="netSalaryPaid"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="netSalaryPaid"
                           readonly="readonly"
                           value={{NetPaid}}
                           />
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div ng-if="payEmployeeSalaryForm.$valid === false && payEmployeeSalaryForm.$dirty === true">
        <p class="form-validation-message">Validation failed, one or more required field is missing</p>
    </div>
    <button type="submit" style="margin-top: 10px;" class="btn btn-primary">
        Submit
    </button>
</div>

</div>
</form>
</div>
</div>

<!--ng-click="onSubmitForm()"-->

