<div class="panel panel-default panel-primary" ng-controller="hrmTransactionAddController">
    <div class="panel-heading panel-title">
        Add HRM Transaction
    </div>
    <div class="panel-body panel-body-asa font-asa-11">
        <form angular-validator-submit="addHrmTransaction()" name="hrmTransactionAddForm" class="form-horizontal" novalidate angular-validator>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-lg-offset-2 col-md-offset-2">


                    <!--employee Select-->
                    <div class="form-inline">
                        <label for="employeeId" class="col-md-4 col-sm-12">
                            Employee <i class="fa fa-asterisk required-icon"></i>
                        </label>
                        <select tabindex="1" name="employeeId"
                                ng-model="hrmTransactionToAdd.EmployeeId"
                                class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                                ng-change="onEmployeeChange(hrmTransactionToAdd.EmployeeId)"
                                ng-options="employee.Value as employee.Name for employee in filters.employees"
                                id="employeeId" placeholder="Employee"
                                required>
                            <option value="">--Select employee--</option>
                        </select>
                    </div>


                    <!--Account Select-->
                    <div class="form-inline">
                        <label for="eEmployeeAccount" class="col-md-4 col-sm-12">
                            Account <i class="fa fa-asterisk required-icon"></i>
                        </label>
                        <select tabindex="1" name="EmployeeAccountId"
                                ng-model="hrmTransactionToAdd.EmployeeAccountId"
                                class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                                ng-change="onAccountChange(hrmTransactionToAdd.EmployeeAccountId)"
                                ng-options="employeeAccount.Value as employeeAccount.Name for employeeAccount in employeeAccounts"
                                id="eEmployeeAccount" placeholder="Account Name"
                                required>
                            <option value="">--Select Account--</option>
                        </select>
                    </div>


                    <!--Transaction Date-->
                <!--<div class="form-inline">
                    <label for="transactionDate" class="col-md-4 col-sm-12">
                        Date<i class="fa fa-asterisk required-icon"></i>
                    </label>
                    <div tabindex="4" class="dropdown input-group date width-asa">
                        <a class="dropdown-toggle" id="transactionDate" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group date-input-group">
                                <input type="text" date-time-input="DD-MM-YYYY" class="form-control-asa full-width-asa" ng-model="hrmTransactionToAdd.TransactionDate" ng-disabled="true">
                                <span class="input-group-addon input-group-addon-asa"><i class="fa fa-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="hrmTransactionToAdd.TransactionDate" data-datetimepicker-config="{ startView:'day', minView:'day' ,dropdownSelector: '#startDate'}"
                                            data-before-render="beforeStartDateRender($dates)"/>
                        </ul>
                    </div>
                </div>-->


                    <div class="form-inline">
                        <label class="col-md-4 col-sm-12">
                            Date<i class="fa fa-asterisk required-icon"></i>
                        </label>
                        <div class="dropdown input-group date width-asa">
                            <p style="width: 107%" class="input-group">
                                <input readonly="readonly" class="form-control-asa full-width-asa" type="text"
                                       uib-datepicker-popup="{{format}}" ng-model="hrmTransactionToAdd.TransactionDate" is-open="openingpPop.opened"
                                       datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats"
                                       ng-change="dValidator()" />
                                <span class="input-group-addon input-group-addon-asa">
                                    <button type="button" ng-click="openOpop()"><i class="fa fa-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>


                <!--Transaction Type-->
                <div class="form-inline">
                    <label for="eTransactionType" class="col-md-4 col-sm-12">
                        Type <i class="fa fa-asterisk required-icon"></i>
                    </label>
                    <select tabindex="1" name="TransactionTypeId"
                            ng-model="hrmTransactionToAdd.TransactionTypeId"
                            class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                            ng-options="transactionType.Value as transactionType.Name for transactionType in filters.transactionTypes"
                            id="eTransactionType" placeholder="Transaction Type"
                            required>
                        <option value="">--Select Transaction Type--</option>
                    </select>
                </div>


                    <!--Transaction Process-->
                    <div class="form-inline">
                        <label for="eTransactionprocess" class="col-md-4 col-sm-12">
                            Process <i class="fa fa-asterisk required-icon"></i>
                        </label>
                        <select tabindex="1" name="TransactionProcess"
                                ng-model="hrmTransactionToAdd.TransactionProcess"
                                
                                class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                                ng-options="transactionProcess.Value as transactionProcess.Name for transactionProcess in filters.transactionProcesses"
                                id="eTransactionprocess" placeholder="Transaction Process"
                                required>
                            <option value="">--Select Transaction Process--</option>
                        </select>
                    </div>


                <!--Amount-->
                <div class="form-inline">
                    <label for="eAmount" class="col-md-4 col-sm-12">
                        Amount <i class="fa fa-asterisk required-icon"></i>
                    </label>
                    <input type="number"
                           tabindex="1"
                           name="Amount"
                           ng-model="hrmTransactionToAdd.Amount"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="eAmount"
                           placeholder="Amount"
                           required/>
                </div>

                    <!--<option value="">--Select Transaction Location--</option>-->
                    <!--Transaction Location-->
                    <div class="form-inline">
                        <label for="eTransactionLocation" class="col-md-4 col-sm-12">
                           Location <i class="fa fa-asterisk required-icon"></i>
                        </label>
                        <select tabindex="1" name="Location"
                                ng-model="hrmTransactionToAdd.Location"
                                class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                                ng-options="Location.Value as Location.Name for Location in filters.transactionLocation"
                                id="eTransactionLocation" placeholder="Transaction Location"
                                required
                                disabled="disabled">
                          
                        </select>
                    </div>


                <!--Cheque Number-->
                    <div class="form-inline" id="chequeDiv" ng-if="hrmTransactionToAdd.TransactionProcess===2">
                        <label for="eChequeNum" class="col-md-4 col-sm-12">
                            Cheque Number <i class="fa fa-asterisk required-icon"></i>
                        </label>
                        <input type="text"
                               tabindex="1"
                               name="ChequeNo"
                               ng-model="hrmTransactionToAdd.ChequeNo"
                               class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                               id="eChequeNum"
                               placeholder="Cheque Number"
                               
                               />

                    </div>



                    <!--Bank Account Select-->
                <div class="form-inline" id="empBankAccount" ng-if="hrmTransactionToAdd.TransactionProcess===2">
                    <label for="eEmployeeBankAccount" class="col-md-4 col-sm-12">
                      Bank Account <i class="fa fa-asterisk required-icon"></i>
                    </label>
                    <select tabindex="1" name="BankAccount"
                            ng-model="hrmTransactionToAdd.BankAccount"
                            class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                            ng-options="employeeBankAccount.Value as employeeBankAccount.Name for employeeBankAccount in employeeBankAccounts"
                            id="eEmployeeBankAccount" placeholder="Bank Account Number"
                            required>
                        <option value="">--Select Bank Account--</option>
                    </select>
                </div>


                    <!--Description-->
                <div class="form-inline">
                    <label for="eDescription" class="col-md-4 col-sm-12">
                        Description
                    </label>
                    <textArea rows="5" cols="50"
                              type="text"
                              tabindex="1"
                              name="eDescription"
                              ng-model="hrmTransactionToAdd.Description"
                              class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                              id="eDescription"></textArea>

                </div>
                     

                    <div ng-if="hrmTransactionAddForm.$dirty === true && hrmTransactionAddForm.$valid === false">
                    </div>
                    <button style="margin-top: 10px;" type="submit" tabindex="100" class="btn btn-primary pull-right">
                        Submit
                    </button>












                    <!--Hidden Fields-->

                


                <!--<div class="form-inline">
                        <input type="text"
                               ng-show="false"
                               tabindex="1"
                               name="CreatedBy"
                               ng-model="hrmTransactionToAdd.CreatedBy"
                               value="{{hrmTransactionToAdd.CreatedBy}}"
                               class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                               id="eCreatedBy" />
                    </div>

                <div class="form-inline">
                    <input type="text"
                           ng-show="false"
                           tabindex="1"
                           name="ModifiedBy"
                           ng-model="hrmTransactionToAdd.ModifiedBy"
                           value="{{hrmTransactionToAdd.ModifiedBy}}"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="eModifiedBy"/>
                </div>
                <div class="form-inline">
                    <input type="text"
                           ng-show="false"
                           tabindex="1"
                           name="EmployeeName"
                           ng-model="hrmTransactionToAdd.EmployeeName"
                           
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="eEmployeeName"/>
                </div>
                <div class="form-inline">
                    <input type="text"
                           ng-show="false"
                           tabindex="1"
                           name="Grade"
                           ng-model="hrmTransactionToAdd.Grade"
                           
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="eGrade"/>
                </div>
                <div class="form-inline">
                    <input type="text"
                           ng-show="false"
                           tabindex="1"
                           name="Designation"
                           ng-model="hrmTransactionToAdd.Designation"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="eDesignation"/>
                </div>
                    <div class="form-inline">
                        <input type="text"
                               ng-show="false"
                               tabindex="1"
                               name="OfficeType"
                               ng-model="hrmTransactionToAdd.OfficeType"
                               class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                               id="eOfficeType" />
                    </div>
                    <div class="form-inline">
                        <input type="text"
                               ng-show="false"
                               tabindex="1"
                               name="OfficeName"
                               ng-model="hrmTransactionToAdd.OfficeName"

                               class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                               id="eOfficeName" />
                    </div>
                <div class="form-inline">
                    <input type="text"
                           ng-show="false"
                           tabindex="1"
                           name="OfficeCode"
                           ng-model="hrmTransactionToAdd.OfficeCode"

                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="eOfficeCode"/>
                </div>


                <div class="form-inline">
                    <input type="text"
                           ng-show="false"
                           tabindex="1"
                           name="EmployeeAccountName"
                           ng-model="hrmTransactionToAdd.EmployeeAccountName"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="eEmployeeAccountName"/>
                </div>


                <div class="form-inline">
                    <input type="number"
                           ng-show="false"
                           tabindex="1"
                           name="TransactionCreatedFrom"
                           ng-model="hrmTransactionToAdd.TransactionCreatedFrom"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="eTransactionCreatedFrom"/>
                </div>


                <div class="form-inline">
                    <input type="text"
                           ng-show="false"
                           tabindex="1"
                           name="TransactionTypeName"
                           ng-model="hrmTransactionToAdd.TransactionTypeName"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="eTransactionTypeName"/>
                </div>


                <div class="form-inline">
                    <input type="number"
                           ng-show="false"
                           tabindex="1"
                           name="SalaryYear"
                           ng-model="hrmTransactionToAdd.SalaryYear"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="eSalaryYear"/>
                </div>

                <div class="form-inline">
                    <input type="number"
                           ng-show="false"
                           tabindex="1"
                           name="SalaryMonth"
                           ng-model="hrmTransactionToAdd.SalaryMonth"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="eSalaryMonth"/>
                </div>

                    <div class="form-inline">
                        <input type="checkbox"
                               ng-show="false"
                               tabindex="1"
                               name="IsAutoTransaction"
                               ng-model="hrmTransactionToAdd.IsAutoTransaction"
                               class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                               id="eIsAutoTransaction" />
                    </div>



                <div class="form-inline">
                    <input type="number"
                           ng-show="false"
                           tabindex="1"
                           name="CreatedBranchWorkingDate"
                           ng-model="hrmTransactionToAdd.CreatedBranchWorkingDate"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="eCreatedBranchWorkingDate"/>
                </div>

                <div class="form-inline">
                    <input type="number"
                           ng-show="false"
                           tabindex="1"
                           name="ModifiedBranchWorkingDate"
                           ng-model="hrmTransactionToAdd.ModifiedBranchWorkingDate"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="eModifiedBranchWorkingDate"/>
                </div>

                <div class="form-inline">
                    <input type="number"
                           ng-show="false"
                           tabindex="1"
                           name="CurrentBranchWorkingDate"
                           ng-model="hrmTransactionToAdd.CurrentBranchWorkingDate"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="eCurrentBranchWorkingDate"/>
                </div>

                <div class="form-inline">
                    <input type="number"
                           ng-show="false"
                           tabindex="1"
                           name="ReferenceTransactionid"
                           ng-model="hrmTransactionToAdd.ReferenceTransactionid"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="eReferenceTransactionid"/>
                </div>

                <div class="form-inline">
                    <input type="number"
                           ng-show="false"
                           tabindex="1"
                           name="ReverseBranchWorkingDate"
                           ng-model="hrmTransactionToAdd.ReverseBranchWorkingDate"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="eReverseBranchWorkingDate"/>
                </div>


                <div class="form-inline">
                    <input type="number"
                           ng-show="false"
                           tabindex="1"
                           name="ReferenceAccountId"
                           ng-model="hrmTransactionToAdd.ReferenceAccountId"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="eReferenceAccountId"/>
                </div>

                <div class="form-inline">
                    <input type="number"
                           ng-show="false"
                           tabindex="1"
                           name="ReferenceBranchId"
                           ng-model="hrmTransactionToAdd.ReferenceBranchId"
                           class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                           id="eReferenceBranchId"/>
                </div>-->


                
                </div>
            </div>
        </form>
    </div>
</div>