<div class="panel panel-default panel-primary" ng-controller="inventoryCategoryAddController">
    <div class="panel-heading panel-title">
        Add Inventory Category
    </div>
    <div class="panel-body font-asa-11">
        <form angular-validator-submit="addAssetCategory()" name="addInventoryCategoryForm" class="form-horizontal" novalidate angular-validator>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h6><i class="fa fa-asterisk required-icon"></i> Required Filed</h6>
                    <h4 class="h4-asa">
                        General Information
                    </h4>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                    <div class="col-lg-6 col-md-6 col-sm-12 form-inline">
                                <label for="cname" class="col-md-4 col-sm-12">
                                    Category Name <i class="fa fa-asterisk required-icon"></i>
                                </label>
                                <input type="text"
                                       maxlength="100"
                                       ng-model="category.Name"
                                       class="form-control form-control-asa col-md-8 width-asa col-sm-12"
                                       id="cname"
                                       name="cname"
                                       validate-on="dirty"
                                       validator="categoryNameValidator() === true"
                                       invalid-message="categoryNameValidator()"
                                       required
                                       required-message="'Category Name is required'">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 form-inline">
                                <label for="csname" class="col-md-4 col-sm-12">
                                    Category Short Name <i class="fa fa-asterisk required-icon"></i>
                                </label>
                                <input type="text"
                                       maxlength="5"
                                       ng-model="category.ShortName"
                                       class="form-control form-control-asa col-md-6 width-asa col-sm-12"
                                       id="csname"
                                       name="csname"
                                       validate-on="dirty"
                                       validator="categoryShortNameValidator() === true"
                                       invalid-message="categoryShortNameValidator()"
                                       style="text-transform: uppercase"
                                       required
                                       required-message="'Category Short Name is required'">

                            </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                    <div class="col-lg-6 col-md-6 col-sm-12 form-inline">
                                <label for="atype" class="col-md-4 col-sm-12">
                                    Inventory Type <i class="fa fa-asterisk required-icon"></i>
                                </label>
                                <select class="form-control form-control-asa form-control-asa-select-box-padding width-asa col-md-8 col-sm-12"
                                        id="atype" ng-model="category.InventoryType"
                                        name="atype"
                                        ng-change=""
                                        required-message="'Please select a Asset Type'"
                                        ng-options="type.Value as type.Name for type in inventoryTypes" required>
                                    <option value="">-- Select Inventory Type --</option>
                                </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 form-inline">
                                <label class="col-md-4 col-sm-12">
                                    Permitted Office Level<i class="fa fa-asterisk required-icon"></i>
                                </label>
                                <div ng-dropdown-multiselect="" extra-settings="dropdownSetting" class="multiselect-button-loan"
                                     options="permittedOfficeLevels" selected-model="category.PermittedOfficeLevelsId" checkboxes="true"></div>
                            </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                    <div class="col-lg-6 col-md-6 col-sm-12 form-inline">
                                <label for="astatus" class="col-md-4 col-sm-12">
                                    Status <i class="fa fa-asterisk required-icon"></i>
                                </label>
                                <select class="form-control form-control-asa form-control-asa-select-box-padding width-asa col-md-8 col-sm-12"
                                        id="astatus" ng-model="category.Status"
                                        name="astatus"
                                        required
                                        required-message="'Please select a Product Category'"
                                        ng-options="status.Value as status.Name for status in statusList"
                                        ng-disabled="true"></select>
                            </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div ng-if="addInventoryCategoryForm.$valid === false && addInventoryCategoryForm.$dirty === true">
                            <p class="form-validation-message">Validation failed, on or more required field is missing</p>
                        </div>
                        <button type="submit" tabindex="100" class="btn btn-primary">
                            Submit
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>