<div id="send-email-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content email-modal-dialog">
            <div class="modal-header modal-custom-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Please fill in the fields below to generate an inquiry</h5>
            </div>
            <div class="modal-body modal-body-height email-modal-font">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-horizontal">
                            <div id="a-manager-name-div" class="form-group">
                                <label for="mc-a-manager-name">* Manager Name:</label>
                                <select id="mc-a-manager-name" tabindex="1" class="form-control assembia-form-control"></select>
                            </div>
                            <div id="n-manager-name-div" class="form-group">
                                <label for="mc-first-name">* First Name:</label>
                                <input id="mc-first-name" type="text" value="" tabindex="1" class="form-control assembia-form-control" placeholder="first name"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-horizontal">
                            <div id="a-manager-email-div" class="form-group">
                                <label for="mc-a-manager-email">* Manager Email:</label>
                                <input id="mc-a-manager-email" type="email" value="" tabindex="2" class="form-control assembia-form-control" placeholder="someone@anysite.com" />
                            </div>
                            <div id="n-manager-email-div" class="form-group">
                                <label for="mc-last-name">* Last Name:</label>
                                <input id="mc-last-name" type="text" value="" tabindex="2" class="form-control assembia-form-control" placeholder="last name" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-horizontal">
                            <div id="a-rep-name-div" class="form-group">
                                <label for="mc-a-rep-name">* Rep Name:</label>
                                <select id="mc-a-rep-name" tabindex="2" class="form-control assembia-form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="mc-aspnid">* ASPN ID:</label>
                                <input id="mc-aspnid" type="text" value="" tabindex="3" class="form-control assembia-form-control" placeholder="ASPN ID"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="mc-email">* Email:</label>
                                <input id="mc-email" type="email" value="" tabindex="4" class="form-control assembia-form-control" placeholder="someone@anysite.com"/>
                            </div>
                            @*<div class="form-group">
                                <label for="reset-password">Reset my password</label>
                                <input id="reset-password" style="margin-top: 3px;" type="checkbox" tabindex="5" onchange="adminWrapper.onResetPassword()" />
                            </div>*@
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="mc-subject">* Subject:</label>
                                <input id="mc-subject" type="text" value="" tabindex="6" class="form-control assembia-form-control" placeholder="subject"/>
                            </div>
                            <div class="form-group">
                                <label for="mc-description">* Please provide a brief description of the issue:</label>
                                <textarea id="mc-description" rows="3" tabindex="7" class="form-control assembia-form-control" placeholder="(limit to 250 chars)"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="mc-hcp-first-name">* HCP First Name:</label>
                                <input id="mc-hcp-first-name" type="text" value="" tabindex="8" class="form-control assembia-form-control" placeholder="first name"/>
                            </div>
                            <div class="form-group">
                                <label for="mc-hcp-official-contact">Best Office Contact:</label>
                                <input id="mc-hcp-official-contact" type="text" value="" tabindex="10" class="form-control assembia-form-control" placeholder="official contact"/>
                            </div>
                            <div class="form-group">
                                <label for="mc-address">* Address:</label>
                                <input id="mc-address" type="text" value="" tabindex="12" class="form-control assembia-form-control" placeholder="address"/>
                            </div>
                            <div class="form-group">
                                <label for="mc-state">* State:</label>
                                @*<input id="mc-state" type="text" value="" tabindex="12" class="form-control assembia-form-control" placeholder="state"/>*@
                                <select id="mc-state" tabindex="14" class="form-control assembia-form-control">
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District Of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                </select>
                            </div>
                            <div id="mc-manager-name-div" class="form-group">
                                <label for="mc-manager-name">* Manager Name:</label>
                                @*<input id="mc-manager-name" type="text" value="" tabindex="14" class="form-control assembia-form-control" placeholder="asm name" />*@
                                <select id="mc-manager-name" tabindex="16" class="form-control assembia-form-control">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="mc-hcp-last-name">* HCP Last Name:</label>
                                <input id="mc-hcp-last-name" type="text" value="" tabindex="9" class="form-control assembia-form-control" placeholder="last name"/>
                            </div>
                            <div class="form-group">
                                <label for="mc-hcp-phone">* Phone:</label>
                                <input id="mc-hcp-phone" type="tel" value="" tabindex="11" class="form-control assembia-form-control" placeholder="xxx-xxx-xxxx"/>
                            </div>
                            <div class="form-group">
                                <label for="mc-city">* City:</label>
                                <input id="mc-city" type="text" value="" tabindex="13" class="form-control assembia-form-control" placeholder="city"/>
                            </div>
                            <div class="form-group">
                                <label for="mc-zip">* Zip:</label>
                                <input id="mc-zip" type="text" value="" tabindex="15" class="form-control assembia-form-control" placeholder="zip"/>
                            </div>
                            <div id="mc-manager-email-div" class="form-group">
                                <label for="mc-manager-email">* Manager Email:</label>
                                <input id="mc-manager-email" type="email" value="" tabindex="17" class="form-control assembia-form-control" placeholder="someone@anysite.com"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-lg-offset-2 col-md-offset-2 col-sm-offset-3">
                        <img id="se-loading" src="~/Content/images/loading_blue_lg.gif" style="display: none; height: 30px; width: 30px; z-index: 200; position: absolute; top: 3px; left: 75%;"/>
                        <label style="color: #008b8b; margin-top: 10px;" id="se-message"></label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <button class="btn btn-primary pull-right" tabindex="18" onclick="adminService.sendEmail()">Submit</button>
                        <button style="margin-right: 5px;" tabindex="179" class="btn btn-primary pull-right" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).ready(function() {
        service.getFilterValues('[config].[GetManagerNameEmail]', 'mc-manager-name');
        service.getFilterValues('[config].[GetAfrezzaManagerNameEmail]', 'mc-a-manager-name');
        $('#mc-manager-name').change(function() {
            $('#mc-manager-email').val($('#mc-manager-name').val());
        });
        $('#mc-a-manager-name').change(function () {
            $('#mc-a-manager-email').val($('#mc-a-manager-name').val());
            service.getFilterValuesByStrId('[config].[GetSalesRepName]', $('#mc-a-manager-name option:selected').text(), 'mc-a-rep-name');
        });
    });
</script>

