@model AMMS.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPasswordError";
}


<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">EmployeeId is not the same as it should be.</h2>

<div>
    <p>
        Please @Html.ActionLink("click here to go to forgot password link again", "ForgotPassword", "Account")
    </p>
</div>

