@{
    ViewBag.Title = "Offline Password Reset";
}

<h2>@ViewBag.Title.</h2>
<p class="info"> Unfortunately you don't have any email address. You have to reset your password via offline reset password process..</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
