
@*@{
    ViewBag.Title = "PreviousPasswordErrorWhenForget";
}

<h2>PreviousPasswordErrorWhenForget</h2>*@
@model AMMS.Web.Models.PreviousPasswordErrorWhenForget
@{
    ViewBag.Title = "PreviousPasswordErrorWhenForget";
}


<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request. Previous Password is not valid or Previous password and new password is same.</h2>

<div>
    <p>
        Please @Html.ActionLink("click here to reset password again", "PasswordResetWhenForgot", "Account", routeValues: new { hash = Model.Hash }, htmlAttributes: new { id = "loginLink" })
    </p>
</div>

