<div class="row row-margin" style="margin-top:100px;">
    <div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
        <div class="panel panel-danger timeout-panel">
            <div class="panel-heading">
                <h4 id="tl-title" class="panel-title">Session Timeout!</h4>
            </div>
            <div class="panel-body timeout-panel-body">
                <i class="fa fa-clock-o"></i>
                <h2>Your session has timed out, please login again.</h2>
            </div>
        </div>
    </div>
</div>
