<div class="row row-margin" style="margin-top:100px;">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-danger unauth-panel">
            <div class="panel-heading">
                <div id="tl-title" class="panel-title" style="font-size:20px;">Unauthorized Access!</div>
            </div>
            <div class="panel-body unauth-panel-body text-center">
                <i class="fa fa-clock-o"></i>
                <h3>This page cannot be accessed with these credentials.</h3>
                <div style="color:#0e99bf;font-size:16px;">If you have any questions please contact <a href="mailto:asembia1support@asembia.com">asembia1support@asembia.com</a> or call <a href="tel:(844) 276-4272">(844) 276-4272</a></div>
            </div>
        </div>
    </div>
</div>
