<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-ArmadaReports.Web-20160501043048.mdf;Initial Catalog=aspnet-ArmadaReports.Web-20160501043048;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="connString_" connectionString="Data Source=localhost;Initial Catalog=Analytics;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="connString" connectionString="Data Source=10.110.1.77\MASK,59931;Initial Catalog=Analytics;User ID=connectWeb;Password=conn123$" />
    <!--<add name="connString" connectionString="Data Source=sqlstgdb2012\stage;Initial Catalog=Analytics;User ID=connectWeb;Password=conn123$"/>-->
    <add name="AnalyticsEntities" connectionString="metadata=res://*/Models.ScoreCards.ScoreCards.csdl|res://*/Models.ScoreCards.ScoreCards.ssdl|res://*/Models.ScoreCards.ScoreCards.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.110.1.77\MASK,59931;initial catalog=Analytics;user id=connectWeb;password=conn123$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ReportId" value="1" />
    <add key="UserId" value="7AED590C-6085-4DD5-A01E-0C605194DE98" />
    <!--14EEE842-92DF-4D86-97B2-04D654CCA2D1 = external-->
    <!--EE83283B-6AB0-4557-B368-035F98F100F2 = armada-->
    <!--6176D723-2AFA-4CA1-A580-1373E7D5FC10 = epipen-->
    <!--309d6ce0-28d4-41bc-a391-78c624dc10c8 = jordan-->
    <add key="ApplicationId" value="865687A6-56A2-4A75-A409-2417FF0AD165" />
    <add key="UserType" value="PRESCRIBER" />
    <add key="IsArmadaEmployee" value="true" />
    <add key="AspnRxID" value="606252" />
    <add key="IncludeAllStatuses" value="true" />
    <add key="Admins" value="58F9BBF4-EC22-4E7D-95C8-BEFA43D158DF|309d6ce0-28d4-41bc-a391-78c624dc10c8|E4BF4507-E3EB-42B9-A548-FB7326157EA5" />
    <add key="Auviq" value="58F9BBF4-EC22-4E7D-95C8-BEFA43D158DF|309d6ce0-28d4-41bc-a391-78c624dc10c8|0A5B3509-43DE-4D88-88AA-AF37D0B8A161" />
    <add key="SmtpHost" value="exrelay-nj1.serverdata.net" />
    <add key="SmtpPort" value="25" />
    <add key="FromAddress" value="DoNotReply@asembia.com" />
    <add key="ReplySubject" value="Asembia - Thank you for your inquiry" />
    <add key="ReplyBody" value="&lt;div&gt;&lt;p&gt;Our team has received your inquiry and are working diligently to resolve your questions. We will respond with a solution as soon as possible.&lt;/p&gt;&lt;br\&gt;&lt;br\&gt;&lt;p&gt;Thank you&gt;/p&gt;&lt;p&gt;Asembia&lt;/p&gt;&lt;/div&gt;" />
    <!--<add key="mailTemplate" value="&lt;p&gt;You have received this email because a question or comment has been submitted.&lt;/p&gt;&lt;div&gt;&lt;table&gt;&lt;tr&gt;&lt;td&gt;FirstName:&lt;/td&gt;&lt;td&gt;#FirstName#&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;LastName:&lt;/td&gt;&lt;td&gt;#LastName#&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;MessageType&lt;/td&gt;&lt;td&gt;#MessageType#&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Email&lt;/td&gt;&lt;td&gt;#Email#&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Phone&lt;/td&gt;&lt;td&gt;#Phone#&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Comments&lt;/td&gt;&lt;td&gt;#Comments#&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;/div&gt;"/>-->
    <add key="mailTemplate" value="D:\Git\armadareports\ArmadaReports\ArmadaReports.Web\Template\Email.htm" />
    <add key="redirectUrl" value="http://connect.mask.asembia.com/Login.aspx" />
    <add key="debugging" value="true" />
    <add key="IgnoreSecurityCheck" value="true" />
    <add key="InventoryPanelsColumnsCount" value="3" />
    <add key="DefaultUserId" value="309d6ce0-28d4-41bc-a391-78c624dc10c8" />
    <add key="ExcelReportFileLocation" value="ExcelReport/" />
    <add key="PdfReportFileLocation" value="PdfReport/" />
    <add key="reportlogfile" value="C:\MyFiles\details_report.txt"/>
    <add key="log4net.Internal.Debug" value="true" />
    <add key="requestqueue:Configurable" value="true" />
    <add key="requestqueue:Users" value="58F9BBF4-EC22-4E7D-95C8-BEFA43D158DF|E4BF4507-E3EB-42B9-A548-FB7326157EA5|309d6ce0-28d4-41bc-a391-78c624dc10c8"/>
    <add key="requestqueue:QueueSkip" value="1000" />
    <add key="requestqueue:QueueWait" value="10000" />
    <add key="requestqueue:QueueMax" value="2" />
    <!--<add key="DefaultUserId" value="ABB3CC37-33FB-4F8F-9981-1DB6F52DFB53"/>-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="EB08982D20622FE9715B636D0E1206F2B18DA6B35CD5B635E89BE551B7D7113447820C204386349846318B5E18B249270CDB1EAB8E918CCFB6984185056DCFAA" decryptionKey="BC86D0E0EFC980E10A9A55C609AB87A0CC304C43A56DC0C6" validation="SHA1" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/UnAuthorized" timeout="200" name=".ASPXAUTH" slidingExpiration="true" domain="localhost" />
    </authentication>
    <compilation debug="true" targetFramework="4.5.2" />
    <!--<httpRuntime targetFramework="4.5" maxQueryStringLength="2097151" maxUrlLength="10999"/>-->
    <httpRuntime enableVersionHeader="false" />
    <sessionState mode="Off" />
  </system.web>

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="AdoNetErrorAppender" />
      <appender-ref ref="AdoNetActivityAppender" />
      <appender-ref ref="ErrorFileAppender" />
      <appender-ref ref="ActivityFileAppender" />
    </root>
    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="mnf-app-error.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMM" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ActivityFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="mnf-app-activity.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMM" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch value="INFO" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="AdoNetErrorAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="100" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=10.110.1.77\MASK,59931;Initial Catalog=Analytics;User ID=connectWeb;Password=conn123$" />
      <commandText value="INSERT INTO [log].[MnfErrorLog] ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="8000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <appender name="AdoNetActivityAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="100" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch value="INFO" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=10.110.1.77\MASK,59931;Initial Catalog=Analytics;User ID=connectWeb;Password=conn123$" />
      <commandText value="INSERT INTO [log].[MnfActivityLog] ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="8000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
  </log4net>
  
  <system.webServer>
    <!--<modules>
      <remove name="FormsAuthenticationModule" />
    </modules>-->
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>