<div id="details-address-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header modal-custom-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Physician: <strong id="popup-physician-ad"></strong></h5>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div id="address-part1"></div>
                        <div id="address-part2"></div>
                        <div><span id="address-city"></span>, <span id="address-state"></span> <span id="address-zip"></span></div>
                        <div id="address-phone"></div>
                    </li>
                </ul>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

