<div id="details-dates-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog dates-modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-custom-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Dates</h5>
            </div>
            <div class="modal-body">
                <table class="table table-bordered details-popup-table">
                    <thead>
                        <tr>
                            <td>Created</td>
                            <td>Received</td>
                            <td>Assigned</td>
                            @*<td>Completed</td>*@
                            <td>Canceled</td>
                            <td>Filled</td>
                            <td>Shipped</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="date-created"></td>
                            <td id="date-received"></td>
                            <td id="date-assigned"></td>
                            @*<td id="date-completed"></td>*@
                            <td id="date-canceled"></td>
                            <td id="date-filled"></td>
                            <td id="date-shipped"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

