<div id="details-history-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-custom-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">History</h5>
            </div>
            <div class="modal-body">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="history-status-contains">Status Contains:</label>
                        <input type="text" id="history-status-contains" class="form-control" placeholder="status contains"/>
                    </div>
                </div>
                <img id="loading-hisory" src="~/Content/images/loading_blue_lg.gif" style="height: 30px; width: 30px; display: none;" />
                <table id="details-aspn-history" class="table table-bordered details-popup-table">
                    <thead>
                        <tr>
                            <td>Row</td><td>Changed On</td><td>Status</td><td>Changed By</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
