<div id="details-notes-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-custom-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @*<h5 class="modal-title">Notes Activity (ASPN ID: <strong id="popup-notes-aspnid"></strong>)</h5>*@
                <h5 class="modal-title">Notes Activity</h5>
            </div>
            <div id="details-aspn-notes" class="modal-body">
                <img id="loading-notes" src="~/Content/images/loading_blue_lg.gif" style="height: 30px; width: 30px; display: none;" />
                <table class="table table-bordered details-popup-table">
                    <thead>
                    <tr>
                        <td>Created On</td>
                        <td>Category</td>
                        <td>Created By</td>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

