<div class="row row-margin">
    <div class="col-md-8 col-sm-12 col-lg-8 col-lg-offset-2 col-md-offset-2">
        <h4 style="text-align: center;">Requested Details Report History</h4>
        <button class="btn btn-default pull-left rr-refresh" title="Refresh" onclick="reportService.getReportRequest();">
            <i class="fa fa-refresh"></i>
        </button>
        <img id="loading-rr" src="~/Content/images/loading_blue_lg.gif" style="display: none; height: 30px; width: 30px; z-index: 200; position: absolute; top: 40px; left: 75px;" />
        <table id="table-report-request" class="table table-bordered table-hover aspn-table rr-table">
            <thead>
                <tr>
                    <th>
                        Report Name
                    </th>
                    <th>
                        Program Name
                    </th>
                    <th>
                        Requested
                    </th>
                    <th>
                        Generated
                    </th>
                    <th>
                        Downloaded
                    </th>
                    <th>
                        Size
                    </th>
                    <th>
                        Status/Action
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        service.getExportUrl('nav-home', '/Home/Index');
        reportService.initReportDataDetails();
        reportService.getReportRequest();
        //if (window.location.href.indexOf('&reload=false') == -1) {
        //    window.location.href = window.location.href + '&reload=false';
        //}
    });
</script>
