<div class="container">
    <div class="panel panel-default panel-primary" ng-controller="assetReceiveController">
        <div class="panel-heading panel-title">
            Asset Receive
        </div>
        <div style="padding-top: 10px;"></div>
        <form style="min-height: 250px;" name="assetReceiveForm" class="form-horizontal" novalidate angular-validator>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="form-inline col-lg-12 col-md-12 col-sm-12">
                            <label class="col-lg-3 col-md-3 col-sm-12">
                                Reference No.
                            </label>
                            <input type="text" tabindex="3" name="referencenumber"
                                   readonly="readonly"
                                   ng-model="assetToReceive.TransferReferenceNo"
                                   class="width-asa form-control form-control-asa col-md-9 col-sm-12"
                                   id="referencenumber" placeholder="Reference number">
                        </div>
                        <div class="form-inline col-lg-12 col-md-12 col-sm-12">
                            <label class="col-lg-3 col-md-3 col-sm-12">
                                Transfer Date
                            </label>
                            <input type="text" tabindex="3" name="transferDate"
                                   readonly="readonly"
                                   ng-model="assetToReceive.TransferDateS"
                                   class="width-asa form-control form-control-asa col-md-9 col-sm-12"
                                   id="transferDate" placeholder="Transfer date">
                            <!--<div class="dropdown input-group date two-third-width-asa">
                                <p class="input-group">
                                    <input readonly="readonly" class="form-control-asa full-width-asa" type="text" uib-datepicker-popup="{{format}}" ng-required="true" required
                                           ng-model="assetToReceive.TransferDate" is-open="popupTransferDate.opened" datepicker-options="dateOptions" close-text="Close"
                                           alt-input-formats="altInputFormats"
                                           id="transferDate" name="transferDate" />-->
                                    <!--<span class="input-group-addon input-group-addon-asa">
                                        <button type="button" ng-click="openTransferDatePopup()"><i class="fa fa-calendar"></i></button>
                                    </span>-->
                                <!--</p>
                            </div>-->
                        </div>
                        <div class="form-inline col-lg-12 col-md-12 col-sm-12">
                            <label class="col-lg-3 col-md-3 col-sm-12">
                                <span ng-if="isAssetReceived==1">Receive</span> <span ng-if="isAssetReceived==-1">Reject</span> Date
                            </label>
                            <input type="text" tabindex="3" name="receiveDate"
                                   readonly="readonly"
                                   ng-model="assetToReceive.ReceivedDateS"
                                   alt-input-formats="YYYY-MM-DD"
                                   class="width-asa form-control form-control-asa col-md-9 col-sm-12"
                                   id="receiveDate" placeholder="Receive date">
                            <!--div class="dropdown input-group date two-third-width-asa">
                                <p class="input-group">-->
                                    
                                    <!--<input readonly="readonly" class="form-control-asa full-width-asa" type="text" uib-datepicker-popup="{{format}}" ng-required="true" required
                                           ng-model="assetToReceive.ReceivedDate" close-text="Close"
                                           alt-input-formats="altInputFormats"
                                           id="receiveDate" name="receiveDate"/>-->
                                    <!--<span class="input-group-addon input-group-addon-asa">
                                    <button type="button" ng-click="openReceiveDatePopup()"><i class="fa fa-calendar"></i></button>-->
                                    <!--</span>-->
                                <!--</p>
                            </div>-->
                        </div>
                        <div class="form-inline col-lg-12 col-md-12 col-sm-12">
                            <label class="col-lg-3 col-md-3 col-sm-12">
                                Transfer From Office Type
                            </label>
                            <select class="form-control form-control-asa form-control-asa-select-box-padding col-md-9 col-lg-9 col-sm-12"
                                    id="officetype"
                                    ng-model="assetToReceive.TransferredOfficeType"
                                    name="officetype"
                                    required
                                    required-message="'Office type is required'"
                                    ng-options="officeType.Value as officeType.Name for officeType in officeTypeList"
                                    validate-on="dirty"
                                    ng-change="filterOfficeList(assetToTransfer.TransferredOfficeType)"
                                    ng-disabled="true">
                                <option value="">Select Office Type</option>
                            </select>

                        </div>
                        <div class="form-inline col-lg-12 col-md-12 col-sm-12">
                            <label class="col-lg-3 col-md-3 col-sm-12">
                                Transfer From Office
                            </label>
                            <select class="form-control form-control-asa form-control-asa-select-box-padding col-md-9 col-lg-9 col-sm-12"
                                    id="office"
                                    ng-model="assetToReceive.TransferredOfficeOrBranch"
                                    name="office"
                                    required
                                    required-message="'Office is required'"
                                    ng-options="office.Value as office.Name for office in branchList"
                                    ng-disabled="true"
                                    validate-on="dirty">
                                <option value="">Select Office</option>
                            </select>

                        </div>
                        <div class="form-inline col-lg-12 col-md-12 col-sm-12">
                            <label class="col-lg-3 col-md-3 col-sm-12">
                                Notes <i class="fa fa-asterisk required-icon"></i>
                            </label>
                            <textarea type="text" name="notes"
                                      class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                                      id="notes" placeholder="Notes"
                                      validate-on="dirty"
                                      required
                                      required-message="'Notes is required'"
                                      ng-model="assetToReceive.Note"></textarea>
                        </div>
                    </div>

                </div>

            </div>
            <!--<div ng-if="assetReceiveForm.$valid === false && assetReceiveForm.$dirty === true && isAssetReceived==1">
                <p class="form-validation-message">Validation failed, on or more required field is missing</p>
            </div>-->
            <button type="button" class="pull-left btn-primary" style="margin-left: 30px; margin-top: 10px;" ng-show="isAssetReceived==1" ng-click="receiveAsset();">Receive</button>
            <button type="button" class="pull-left btn-primary" style="margin-left: 30px;margin-top:10px;" ng-show="isAssetReceived==-1" ng-click="rejectReceiveAsset();">Reject</button>

            <div class="col-lg-12 col-md-12 col-sm-12 panel-body font-asa-12 table-test" style="margin-top: 30px;">
                <table class="table table-striped table-bordered table-hover table-asa" datatable="ng" dt-options="assetReceiveController.dtOptions" dt-column-defs="assetReceiveController.dtColumnDefs">
                    <thead>
                        <tr>
                            <th>
                                Action
                            </th>
                            <th>
                                Ref. No
                            </th>
                            <th>
                                Asset Tag Id
                            </th>
                            <th>Asset Name</th>
                            <th>
                                Transfer Date
                            </th>
                            <th>
                                Br. Working Date
                            </th>
                            <th>
                                From Office Type
                            </th>
                            <th>
                                From District
                            </th>
                            <th>
                                From Office /Branch
                            </th>
                            <th>
                                To Office Type
                            </th>
                            <th>
                                To District
                            </th>
                            <th>
                                To Office/ Branch
                            </th>
                            <th>
                                Written Down Value
                            </th>
                            <th>
                                Last Depriciation Period
                            </th>
                            <!--<th>
                                Transfer User Id
                            </th>
                            <th>
                                Receiving User Id
                            </th>-->
                            <th>
                                Receiving Date
                            </th>
                            <th>
                                Receiving Branch Working Date
                            </th>
                            <th>
                                Transfer Status
                            </th>
                            <th>
                                Receiving Note
                            </th>
                            <th>
                                Transfer Note
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="assetTR in receivableAssetList">
                            <td>
                                <span ng-if="assetTR.TransferStatus==AssetConfig.AssetTransferStatus.TransferInitiated" class="fa fa-check-circle asa-icon-EDIT"title="Receive" ng-click="updateAssetToReceiveFields(assetTR,1);"></span>
                                <span ng-if="assetTR.TransferStatus==AssetConfig.AssetTransferStatus.TransferInitiated" class="fa fa-times asa-icon-DELETE" style="color: red;" ng-click="updateAssetToReceiveFields(assetTR,-1);" title="Reject Receive"></span>
                            </td>
                            <td>{{assetTR.TransferReferenceNo}}</td>
                            <td>{{assetTR.AssetTagId}}</td>
                            <td>{{assetTR.AssetName}}</td>
                            <td>{{assetTR.TransferDateStr}}</td>
                            <td>{{assetTR.TransferBranchWorkingDateStr}}</td>
                            <td>{{assetTR.TransferredOfficeTypeStr}}</td>
                            <td>{{assetTR.TransferredDistrictName}}</td>
                            <td>{{assetTR.TransferredBranchName}}</td>
                            <td>{{assetTR.ReceivedOfficeTypeStr}}</td>
                            <td>{{assetTR.ReceivedDistrictName}}</td>
                            <td>{{assetTR.ReceivedBranchName}}</td>
                            <td>{{assetTR.WrittenDownValueToShow}}</td>
                            <td>{{assetTR.LastDepreciationPeriod}}</td>
                            <!--<td>{{assetTR.TransferredByUserId}}</td>
                            <td>{{assetTR.ReceivedOrRejectByUserId}}</td>-->
                            <td>{{assetTR.ReceivedDateStr}}</td>
                            <td>{{assetTR.ReceivingBranchWorkingDateStr}}</td>
                            <td>{{assetTR.TransferStatusStr}}</td>
                            <td>{{assetTR.ReceiviedOrRejectNote}}</td>
                            <td>{{assetTR.TransferNote}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
