<div class="navbar navbar-fixed-top navbar-inverse navbar-asa">
    <div class="container">

        <div class="navbar-header navbar-header-custom-width">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="javascript:void(0)" class="navbar-brand navbar-custom ">
                <img style="margin-top: -38px; margin-left: 40px;" src="~/Content/Images/asa_logo5.png" />
            </a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>