<div class="panel panel-default panel-primary" ng-controller="assetItemTypeEditController">
    <div class="panel-heading panel-title">
        Edit Asset Item Type
    </div>
    <div class="panel-body font-asa-11">
        <form angular-validator-submit="editAssetItem()" name="editAssetItemForm" class="form-horizontal" novalidate angular-validator>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-md-offset-2 col-lg-offset-2">
                    <div class="form-group" style="padding-bottom: 70px;">
                        <div class="form-inline">
                            <label for="id" class="col-md-4 col-sm-12">
                                Item Type Id
                            </label>
                            <input type="text" tabindex="2" name="id"
                                   ng-model="itemType.Id" class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                                   id="id" placeholder="Id"
                                   disabled="disabled">
                        </div>
                        <div class="form-inline">
                            <label for="category" class="col-md-4 col-sm-12">
                                Asset Category<i class="fa fa-asterisk required-icon"></i>
                            </label>
                            <select tabindex="3"
                                    class="form-control form-control-asa form-control-asa-select-box-padding width-asa col-md-8 col-sm-12"
                                    id="category" ng-model="itemType.CategoryId"
                                    ng-change="filterItemDepriciation()"
                                    name="category"
                                    ng-options="category.Value as category.Name for category in filters.CategoryList"
                                    required-message="'Category field is required'" required></select>
                        </div>
                        <div class="form-inline">
                            <label for="name" class="col-md-4 col-sm-12">
                                Item Type Name <i class="fa fa-asterisk required-icon"></i>
                            </label>
                            <input type="text" tabindex="1" name="Name"
                                   ng-model="itemType.Name" class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                                   id="name" validate-on="dirty" placeholder="name" maxlength="100"
                                   validator="itemTypeNameValidator() === true"
                                   invalid-message="itemTypeNameValidator()"
                                   required-message="'Name field is required'" required>
                        </div>
                        <div class="form-inline">
                            <label for="ShortName" class="col-md-4 col-sm-12">
                                Item Type Short Code <i class="fa fa-asterisk required-icon"></i>
                            </label>
                            <input type="text" tabindex="1" name="ShortName"
                                   ng-model="itemType.ShortName" class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                                   id="ShortName" validate-on="dirty" placeholder="ShortName"
                                   maxlength="5"
                                   validator="itemTypeShortNameValidator() === true"
                                   invalid-message="itemTypeShortNameValidator()"
                                   style="text-transform: uppercase"
                                   required-message="'ShortName field is required'" required>
                        </div>
                        <div class="form-inline">
                            <label for="Status" class="col-md-4 col-sm-12">
                                Status<i class="fa fa-asterisk required-icon"></i>
                            </label>
                            <select tabindex="3"
                                    class="form-control form-control-asa form-control-asa-select-box-padding width-asa col-md-8 col-sm-12"
                                    id="Status" ng-model="itemType.Status"
                                    name="Status"
                                    ng-options="Status.Value as Status.Name  for Status in filters.StatusList"
                                    required-message="'Status field is required'" required></select>
                        </div>
                        <div class="form-inline">
                            <label for="DefaultResidualValue" class="col-md-4 col-sm-12">
                                Default Residual Value <i class="fa fa-asterisk required-icon"></i>
                            </label>
                            <input type="number" tabindex="1" name="DefaultResidualValue"
                                   ng-model="itemType.DefaultResidualValue" class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                                   id="DefaultResidualValue" validate-on="blur" placeholder="DefaultResidualValue"
                                   min="0" step="1"
                                   onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                   required-message="'DefaultResidualValue field is required'" required>
                        </div>
                        <!--<div class="form-inline">
                            <label for="isfixedasset" class="col-md-4 col-sm-12">
                                Is Asset Fixed?<i class="fa fa-asterisk required-icon"></i>
                            </label>
                            <input type="checkbox"
                                   id="isfixedasset"
                                   name="isfixedasset"
                                   ng-model="itemType.IsFixedStatus"
                                   ng-true-value="1"
                                   ng-false-value="0"
                                   class="form-control form-control-asa" ng-change="fixedChange();"/>
                        </div>-->
                        <div class="form-inline">
                            <label class="col-md-4 col-sm-12">
                                Permitted Office Level<i class="fa fa-asterisk required-icon"></i>
                            </label>
                            <div ng-dropdown-multiselect=""
                                 extra-settings="dropdownSetting"
                                 class="multiselect-button-loan"
                                 options="PermittedOfficeLevelListByCategory"
                                 selected-model="itemType.PermittedOfficeLevel"
                                 checkboxes="true"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12" ng-if="itemType.CategoryId">
                    <h3  style="color:darkgray">Depreciation and Useful Life Setup</h3>
                    <table class="table-asa tbody tr td table-asa thead tr th" ng-if="itemType.IsFixedStatus == 1 && AssetItemDepriciations.length !== 0">
                        <thead>
                        <tr>
                            <th>
                                Effective Date From
                            </th>
                            <th>
                                Effective Date To
                            </th>
                            <th>
                                Depriciation Method <i class="fa fa-asterisk required-icon"></i>
                            </th>
                            <th>
                                Rate <i class="fa fa-asterisk required-icon"></i>
                            </th>
                            <th>
                                Useful Life <i class="fa fa-asterisk required-icon"></i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="itemDep in AssetItemDepriciations">
                            <td>
                                <input type="text" class="form-control form-control-asa " readonly="readonly" date-time-input="DD-MM-YYYY" ng-model="itemDep.EffectiveDateFrom">
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-asa" readonly="readonly" date-time-input="DD-MM-YYYY" ng-model="itemDep.EffectiveDateTo">
                            </td>
                            <td>
                                <input type="text" tabindex="1" name="DepreciationMethod" readonly="readonly"
                                       ng-model="itemDep.DepreciationMethodName" class="form-control form-control-asa col-md-2 col-sm-12"
                                       id="DepreciationMethod" validate-on="blur" placeholder="DepreciationMethod">
                            </td>
                            <td>
                                <input type="number" tabindex="1"
                                       name="DepreciationRate{{$index}}"
                                       onkeypress="return event.charCode >= 48 || event.charCode == 46"
                                       class="form-control form-control-asa col-md-3 col-sm-12"
                                       id="DepreciationRate{{$index}}"
                                       placeholder="Depreciation Rate"
                                       ng-model="itemDep.DepreciationRate"
                                       min="{{itemDep.DepreciationRateMin}}"
                                       max="{{itemDep.DepreciationRateMax}}"
                                       required-message="'Depreciation Rate field is required'"
                                       required
                                       validate-on="dirty"
                                       validator="itemTypeDepriciationRateChange({{$index}}) === true"
                                       invalid-message="itemTypeDepriciationRateChange({{$index}})">
                            </td>
                            <td>
                                <input type="number"
                                       tabindex="1"
                                       name="UsefulLife{{$index}}"
                                       onkeypress="return event.charCode >= 48 || event.charCode == 46"
                                       ng-model="itemDep.UsefulLife"
                                       class="form-control form-control-asa col-md-3 col-sm-12"
                                       min="{{itemDep.UsefulLifeMin}}"
                                       max="{{itemDep.UsefulLifeMax}}"
                                       id="UsefulLife{{$index}}"
                                       placeholder="Useful Life"
                                       required-message="'UsefulLife field is required'"
                                       required
                                       validate-on="dirty"
                                       validator="itemTypeUsefulLifeChange({{$index}}) === true"
                                       invalid-message="itemTypeUsefulLifeChange({{$index}})">
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <div ng-if="editAssetItemForm.$valid === false && editAssetItemForm.$dirty === true">
                        <p class="form-validation-message">Validation failed, on or more required field is missing</p>
                    </div>
                    <button type="submit" tabindex="100" class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>