<div class="panel panel-default panel-primary" ng-controller="employeeDesignationEditController">
    <div class="panel-heading panel-title">
        Edit Employee Designation
    </div>
    <div class="panel-body panel-body-asa font-asa-11">
        <form angular-validator-submit="editEmployeeDesignation()" name="employeeDesignationEditForm" class="form-horizontal" novalidate angular-validator>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-lg-offset-2 col-md-offset-2">


                    <!--employee Select-->
                    <div class="form-inline">
                        <label for="employeeId" class="col-md-4 col-sm-12">
                            Employee <i class="fa fa-asterisk required-icon"></i>
                        </label>
                        <select tabindex="1" name="employeeId"
                                ng-model="employeeDesignationToEdit.EmployeeId"
                                class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                                ng-options="employee.Value as employee.Name for employee in filters.Employees"
                                id="employeeId" placeholder="Employee"
                                required
                                disabled="disabled">
                            <option value="">--Select employee--</option>
                        </select>
                    </div>


                    <!--Current Grade-->
                    <div class="form-inline">
                        <label for="cGrade" class="col-md-4 col-sm-12">
                            Current Grade
                        </label>
                        <input type="text"
                               tabindex="1"
                               name="cGrade"
                               ng-model="employeeDesignationToEdit.CurrentGrade"
                               class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                               id="cGrade"
                               placeholder="Current Grade"
                               disabled="disabled"/>
                    </div>

                    <!--Current Designation-->
                    <div class="form-inline">
                        <label for="cDesignation" class="col-md-4 col-sm-12">
                            Current Designation
                        </label>
                        <input type="text"
                               tabindex="1"
                               name="cDesignation"
                               ng-model="employeeDesignationToEdit.CurrentDesignation"
                               class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                               id="cDesignation"
                               placeholder="Current Designation"
                               disabled="disabled" />
                    </div>

                    <!--Purpose Select-->
                    <div class="form-inline">
                        <label for="purposeId" class="col-md-4 col-sm-12">
                            Purpose <i class="fa fa-asterisk required-icon"></i>
                        </label>
                        <select tabindex="1" name="purposeId"
                                ng-model="employeeDesignationToEdit.PurposeId"
                                class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                                ng-options="purpose.Value as purpose.Name for purpose in filters.DesignationChangePurposes"
                                id="purposeId"
                                placeholder="purpose"
                                ng-change ="updateGradeDesignations(employeeDesignationToEdit.PurposeId)"
                                required>
                            <option value="">--Select Purpose--</option>
                        </select>
                    </div>

                    <!--grade select-->
                    <div class="form-inline">
                        <label for="gradeId" class="col-md-4 col-sm-12">
                          New  Grade <i class="fa fa-asterisk required-icon"></i>
                        </label>
                        <select tabindex="2" name="gradeId"
                                ng-model="employeeDesignationToEdit.GradeId"
                                class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                                ng-options="grade.Value as grade.Name for grade in filters.Grades"
                                id="gradeId" placeholder="Grade"
                                ng-change ="UpdateDesignationList(employeeDesignationToEdit.GradeId)"
                                required>
                            <option value="">--Select Grade--</option>
                        </select>
                    </div>

                    <!--designation select-->
                    <div class="form-inline">
                        <label for="designationId" class="col-md-4 col-sm-12">
                          New  Designation <i class="fa fa-asterisk required-icon"></i>
                        </label>
                        <select tabindex="3" name="designationId"
                                ng-model="employeeDesignationToEdit.DesignationId"
                                class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                                ng-options="designation.Value as designation.Name for designation in filters.filteredDesignations"
                                id="designationId" placeholder="Designation"
                                required>
                            <option value="">--Select Designation--</option>
                        </select>
                    </div>


                    <!--Letter No.-->
                    <div class="form-inline">
                        <label for="letterNo" class="col-md-4 col-sm-12">
                            Letter  No.
                        </label>
                        <input type="text"
                               tabindex="1"
                               name="letterNo"
                               ng-model="employeeDesignationToEdit.LetterNo"
                               class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                               id="letterNo"
                               placeholder="Letter No."/>
                    </div>

                    <!--Letter Date-->
                    <!--<div class="form-inline">
                        <label for="letterDate" class="col-md-4 col-sm-12">
                            Letter Date
                        </label>
                        <div tabindex="4" class="dropdown input-group date width-asa">
                            <a class="dropdown-toggle" id="letterDate" role="button" data-toggle="dropdown" data-target="#" href="#">
                                <div class="input-group date-input-group">
                                    <input type="text" date-time-input="DD-MM-YYYY" class="form-control-asa full-width-asa" ng-model="employeeDesignationToEdit.LetterDate" ng-disabled="true">
                                    <span class="input-group-addon input-group-addon-asa"><i class="fa fa-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="employeeDesignationToEdit.LetterDate" data-datetimepicker-config="{ startView:'day', minView:'day' ,dropdownSelector: '#startDate'}"
                                                data-before-render="beforeStartDateRender($dates)" />
                            </ul>
                        </div>
                    </div>-->


                    <!--Start Date-->
                <!--<div class="form-inline">
                    <label for="startDate" class="col-md-4 col-sm-12">
                        Start date<i class="fa fa-asterisk required-icon"></i>
                    </label>
                    <div tabindex="4" class="dropdown input-group date width-asa">
                        <a class="dropdown-toggle" id="startDate" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group date-input-group">
                                <input type="text" date-time-input="DD-MM-YYYY" class="form-control-asa full-width-asa" ng-model="employeeDesignationToEdit.StartDate" ng-disabled="true">
                                <span class="input-group-addon input-group-addon-asa"><i class="fa fa-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="employeeDesignationToEdit.StartDate" data-datetimepicker-config="{ startView:'day', minView:'day' ,dropdownSelector: '#startDate'}"
                                            data-before-render="beforeStartDateRender($dates)"/>
                        </ul>
                    </div>
                </div>-->

                    <!--Letter Date-->
                    <div class="form-inline">
                        <label class="col-md-4 col-sm-12">
                            Letter Date
                        </label>
                        <div class=" ">
                            <p class="input-group" style="width:66.67%">
                                <input readonly="readonly"
                                       class="form-control-asa full-width-asa"
                                       type="text"
                                       uib-datepicker-popup="{{format}}"
                                       ng-model="employeeDesignationToEdit.LetterDate"
                                       is-open="OpenLetterDate"
                                       close-text="Close"
                                       alt-input-formats="altInputFormats" />
                                <span class="input-group-addon input-group-addon-asa">
                                    <button type="button" ng-click="OpenLetterDate = !OpenLetterDate"><i class="fa fa-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>

                    <!--Start Date-->

                    <div class="form-inline">
                        <label class="col-md-4 col-sm-12">
                            Start Date<i class="fa fa-asterisk required-icon"></i>
                        </label>
                        <div class=" ">
                            <p class="input-group" style="width:66.67%">
                                <input readonly="readonly"
                                       class="form-control-asa full-width-asa"
                                       type="text"
                                       uib-datepicker-popup="{{format}}"
                                       ng-model="employeeDesignationToEdit.StartDate"
                                       is-open="OpenStartDate"
                                       close-text="Close"
                                       datepicker-options="dateOptions"
                                       alt-input-formats="altInputFormats" />
                                <span class="input-group-addon input-group-addon-asa">
                                    <button type="button" ng-click="OpenStartDate = !OpenStartDate"><i class="fa fa-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>

                    <!--End Date-->

                    <div class="form-inline" ng-show="$scope.employeeDesignationToEdit.StatusId !== 1">
                        <label class="col-md-4 col-sm-12">
                            End Date
                        </label>
                        <div class=" ">
                            <p class="input-group" style="width:66.67%">
                                <input readonly="readonly"
                                       class="form-control-asa full-width-asa"
                                       type="text"
                                       uib-datepicker-popup="{{format}}"
                                       ng-model="employeeDesignationToEdit.EndDate"
                                       is-open="OpenEndDate"
                                       ng-change ="checkEndDate()"
                                       close-text="Close"
                                       alt-input-formats="altInputFormats" />
                                
                            </p>
                        </div>
                    </div>


               
                    <!--<div class="form-inline">
                        <label for="endDate" class="col-md-4 col-sm-12">
                            End date
                        </label>
                             <div tabindex="5" class="dropdown input-group date width-asa">
                                <a class="dropdown-toggle" id="endDate" role="button" data-toggle="dropdown" data-target="#" href="#">
                                    <div class="input-group date-input-group">
                                        <input type="text"
                                               date-time-input="DD-MM-YYYY"
                                               class="form-control-asa full-width-asa"
                                               ng-model="employeeDesignationToEdit.EndDate"
                                               ng-disabled="true">
                                        <span class="input-group-addon input-group-addon-asa"><i class="fa fa-calendar"></i></span>
                                        <i class="fa fa-times asa-icon-DELETE" ng-click="resetEndDate()"></i>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker ng-model="employeeDesignationToEdit.EndDate" data-datetimepicker-config="{ startView:'day', minView:'day' ,dropdownSelector: '#endDate'}"
                                                    data-before-render="beforeEndDateRender($dates)" />
                                </ul>

                            </div>
                        
                    </div>-->

                    <!--status select-->
                    <!--<div class="form-inline">
                        <label for="statusId" class="col-md-4 col-sm-12">
                            Status <i class="fa fa-asterisk required-icon"></i>
                        </label>
                        <select tabindex="3"
                                name="statusId"
                                ng-model="employeeDesignationToEdit.StatusId"
                                class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                                ng-options="status.Value as status.Name for status in filters.statuses"
                                id="statusId"
                                placeholder="Status"
                                ng-change="statusChanged()"
                                required>
                            <option value="">--Select Status--</option>
                        </select>
                    </div>-->
                
                    <!--Inactive Reason  select-->
                <div class="form-inline" ng-show="employeeDesignationToEdit.StatusId==2"> 
                    <label for="inactiveReasonId" class="col-md-4 col-sm-12">
                        Inactive Reason <i class="fa fa-asterisk required-icon"></i>
                    </label>
                    <select tabindex="3"
                            name="inactiveReasonId"
                            ng-model="employeeDesignationToEdit.InactiveReasonId"
                            class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                            ng-options="status.Value as status.Name for status in filters.inactiveReasons"
                            id="inactiveReasonId"
                            placeholder="inactive reason"
                            >
                        <option value="">--Select Inactivating Reason--</option>
                    </select>
                </div>

                
                    <!--Inactive Remarks-->
                    <div class="form-inline" ng-show="employeeDesignationToEdit.StatusId==2">
                        <label for="inactiveRemarks" class="col-md-4 col-sm-12">
                            Inactive Remarks
                        </label>
                        <textarea rows="4" cols="50"

                                  tabindex="1"
                                  name="description"
                                  ng-model="employeeDesignationToEdit.InactiveReasonRemark"
                                  class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                                  id="inactiveRemarks"
                                  placeholder="Inactive Remarks">
                        </textarea>
</div>

                <!--Description-->
                    <div class="form-inline">
                        <label for="description" class="col-md-4 col-sm-12">
                            Description
                        </label>
                        <textArea rows="4" cols="50"
                                  type="text"
                                  tabindex="1"
                                  name="description"
                                  ng-model="employeeDesignationToEdit.Description"
                                  class="width-asa form-control form-control-asa col-md-8 col-sm-12"
                                  id="description">
                            
                        </textarea>
                    </div>


                    <div ng-if="employeeDesignationEditForm.$dirty === true && employeeDesignationEditForm.$valid === false">
                    </div>
                    <button style="margin-top: 10px;" type="submit" tabindex="100" class="btn btn-primary pull-right">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>